<div class="container-fluid np">
    <div class="col-sm-12 mt-80">
      <!--Profile section-->
      <app-left-bar></app-left-bar>
      <!--Profile section-->
      <div class="col-xs-12 col-sm-12 col-md-11 b-l">
        <!--Dashboard icons start-->
        <div class="col-md-12 dash">
  
          <!-- Title and enroll button part -->
           <div class="enr-bt">
              <h3 class="purple">Edit Association</h3>
              <!-- <div class="enroll">
                  <div>
                    <button class="btn-primary-purple" (click)="enblEnrlAsnVew()" style="margin-right: 16px;"><i class="fa fa-plus" aria-hidden="true"></i>
                      Enroll Association</button>
                    <button class="btn-primary-purple" (click)="enblJoinAsnVew()">
                      <i class="fa fa-handshake-o" aria-hidden="true"></i>Join Association</button>
                  </div>
                </div> -->
           </div>
          <!-- Title and enroll button part -->
  
            
  
          
  
  
  
          <!-- <div *ngIf='viewAssnService.vewAsnEnbled'>
            <input type="text" [(ngModel)]="searchTxt" class="form-control" name="searchTxt" placeholder="Search by Association Name, Property Name, Locality">
          </div> -->
          <!-- <div *ngIf='viewAssnService.vewAsnEnbled' class="dash-row table-responsive">
            <table class="table table-bordered"
              [mfData]="associations | search:['asAsnName', 'asPrpName', 'asAddress','asNofBlks','asNofUnit']:searchTxt"
              #mf="mfDataTable" (click)="onPageChange($event)" [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>
                    <mfDefaultSorter by="asAsnName">Association Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="asPrpName">Property Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="asAddress">Locality</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="asNofBlks">No of Blocks</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="asNofUnit">No of Units</mfDefaultSorter>
                  </th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mf.data;let i=index">
                  <ng-container *ngIf="item == -1">
                    <td colspan="7" align="center">No Data Found</td>
                  </ng-container>
                  <ng-container *ngIf="item!=-1">
                    <td>{{ (10 * (p - 1) + i)+1 }}</td>
                    <td>{{item['asAsnName']}}</td>
                    <td>{{item['asPrpName']}}</td>
                    <td>{{item['asAddress']}}</td>
                    <td>{{item['asNofBlks']}}</td>
                    <td>{{item['asNofUnit']}}</td>
                    <td>
                      <i class="fa fa-eye" style="cursor: pointer;" tooltip="ViewAssociation"
                        (click)="openViewAssociation(viewreceiptmodal,item.asAsnName,item.asPrpName,item.asAddress,item.asNofUnit,item.asCountry,item.asPinCode,item.asState,item.asPrpType,item.asNofBlks,item.asRegrNum,item.asAsnLogo,item.asCity,item.aspanNum,item.aspanDoc,item.asAssnID,item.asgstNo)"></i>
                      |
                      <i (click)="OpenModal(template,item.asAsnName,item.asCountry,item.asAddress,item.asCity,item.asState,item.asPinCode,item.asPrpType,item.asPrpName,item.asNofBlks,item.asNofUnit,item.amType,item.noofAmenities,item.baBName,item.baIFSC,item.baActNo,item.baActType,item.asAssnID,'BAACID','AMID')"
                        class="fa fa-pencil" style="cursor: pointer;" tooltip="EditAssociation"></i>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="7">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div> -->
        </div>
        <!--Dashboard icons end-->
        <!--Enroll Association form Starts-->
        <div class="col-sm-12">
          <app-enrollassociation [showMePartially]="showVar"></app-enrollassociation>
        </div>
        <!--Enroll Association form Starts-->
      </div>
  
    </div>
    <!--rightBar start-->
    <!-- <app-right-bar></app-right-bar> -->
    <!--rightBar end-->
  </div>
  
  
  <ng-template #viewreceiptmodal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View association</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-top: 0px;">
        <div class="row">
          <div class="col-sm-12 np">
            <h5 class="text-center view-ass">Association Name : <strong>{{associationname}}</strong></h5>
          </div>
          <div class="col-sm-12" style="margin-top: 20px;">
            <h5 style="color:#5a51aa">Enroll Information</h5>
            <div class="col-sm-4">
              <p><b>Association name : </b>{{associationname}}</p>
            </div>
            <div class="col-sm-4">
              <p><b>Uploaded File : </b> <span>{{file}}</span></p>
            </div>
            <div class="col-sm-4">
              <p><b>Country : </b> <span>{{country}}</span></p>
            </div>
  
            <div class="col-sm-4">
              <p><b>PinCode : </b> <span>{{pincode}}</span></p>
            </div>
            <div class="col-sm-4">
              <p><b>State : </b> <span>{{State}}</span></p>
            </div>
            <div class="col-sm-4">
              <p><b>City : </b> <span>{{city}}</span></p>
            </div>
  
            <div class="col-sm-4">
              <p><b>Property Type : </b> <span>{{propertyType}}</span></p>
            </div>
            <div class="col-sm-4">
              <p><b>PropertyName : </b> <span>{{propertyName}}</span></p>
            </div>
            <div class="col-sm-4">
              <p><b>Locality : </b> <span>{{locality}}</span></p>
            </div>
          </div>
  
          <div class="col-sm-12" style="margin-top: 20px;">
  
            <h5 style="color:#5a51aa">Blocks & Unit details</h5>
  
            <!-- <div class="col-sm-4">
                           <p>State : <span>{{State}}</span></p>
                       </div> -->
  
            <!-- <div class="col-sm-4">
                               <p>Property Type : <span>{{propertyType}}</span></p>
                           </div> -->
            <div class="col-sm-4">
              <p><b>No of Units :</b> <span>{{NoofUnits}}</span></p>
            </div>
            <div class="col-sm-4">
              <p><b>TotalNoBlocks :</b> <span>{{blocks}}</span></p>
            </div>
          </div>
          <div class="col-sm-12" style="margin-top: 20px;">
          
              <h5 style="color:#5a51aa">Pan and Registration details</h5>
  
              <div class="col-sm-4">
                  <p><b>Pan or reg Number :</b> <span>{{panno}}</span></p>
                </div>
                <div class="col-sm-4">
                  <p><b>GSTNumber :</b> <span>{{gstno}}</span></p>
                </div>
                <div class="col-sm-4">
                  <p><b>Uploaded Pan :</b> <span>{{pandoc}}</span></p>
                </div>
          
          </div>
  
          <div class="col-sm-12" style="margin-top: 20px;">
              <h5 style="color:#5a51aa">Bank Information</h5>
              <div class="col-sm-4">
                  <p><b>Bank Name:</b> <span>{{BankName}}</span></p>
                </div>
        
                <div class="col-sm-4">
                  <p><b>IFSC :</b> <span>{{IFSC}}</span></p>
                </div>
                <div class="col-sm-4">
                  <p><b>Account Number :</b> <span>{{AccountNumber}}</span></p>
                </div>
                <div class="col-sm-4">
                  <p><b>Account Type:</b> <span>{{accountType}}</span></p>
                </div>    
          </div>
          
    
          <div class="col-sm-12" style="margin-top: 20px;">
              <h5 style="color:#5a51aa">Amenities</h5>
              <div class="col-sm-4">
                  <p><b>Amenity Type: </b><span>{{amenityType}}</span></p>
                </div>
                
                <div class="col-sm-4">
                  <p><b>Amenity Number :</b> <span>{{amenityNo}}</span></p>
                </div>
          </div>     
        </div>
      </div>
  
    </div>
  </ng-template>
  
  <ng-template #template>
    <div class="modal-content">
  
      <div class="modal-header">
        
        <h4 class="modal-title">Edit Association</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12" style="width: 90%; margin-left: 3%;">
            <form #editAssnFrm='ngForm' name="editAssociation" autocomplete="off">
              <div class="row">
                <div class="col-sm-4 col-xs-12">
                  <div class="from-group">
                    <p>Association Name: <strong>{{ASAsnName}}</strong></p>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-12"></div>
                <div class="col-sm-4 col-xs-12" style="text-align:pull-right">
                  <p>Date: <strong>{{newdate | date: "d/M/y"}}</strong></p>
                </div>
              </div>
  
              <div>
                <!-- <div class="row">
                  <br>
                  <div class="col-sm-1 col-xs-12"></div>
                  <div class="col-sm-11  col-xs-12">
                    <h4 class="headingOrange">Edit Association</h4>
  
                  </div>
                </div> -->
  
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group fulw"
                      [ngClass]="{'has-error' : associationnameControl.invalid && associationnameControl.touched}">
                      <label>Association Name<span class="red">*</span></label>
                      <input type="text" class="form-control" name="ASAsnName" [(ngModel)]="ASAsnName"
                        #associationnameControl='ngModel' required />
                      <p class="alerts" *ngIf="associationnameControl.invalid && associationnameControl.touched">
                        Association Name is required</p>
                    </div>
                  </div>
  
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group fulw">
                      <label>Country</label>
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                          data-toggle="dropdown">{{ASCountry}}
                          <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                        <ul class="dropdown-menu fullw" style="font-family: Quicksand;height: 200px;">
                          <li *ngFor="let country of countries" (click)="countryName(country.name)">
                            <a>{{country.name}}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-sm-4 col-xs-12">
                    <div class="form-group fulw"
                      [ngClass]="{'has-error' : addressControl.invalid && addressControl.touched}">
                      <label>Address<span class="red">*</span></label>
                      <input type="text" class="form-control" name="ASAddress" [(ngModel)]="ASAddress"
                        #addressControl='ngModel' placeholder="Address" pattern="[a-zA-Z0-9- _]*" required />
                      <p class="alerts" *ngIf="addressControl.invalid && addressControl.touched">Address is required</p>
                    </div>
                  </div>
  
                  <div class="col-sm-4 col-xs-12">
                    <div class="form-group fulw" [ngClass]="{'has-error' : cityControl.invalid && cityControl.touched}">
                      <label>City<span class="red">*</span></label>
                      <input type="text" class="form-control" name="ASCity" [(ngModel)]="ASCity" #cityControl='ngModel'
                        placeholder="City" pattern="[a-zA-Z0-9-]*" required />
                      <p class="alerts" *ngIf="cityControl.invalid && cityControl.touched">City is required</p>
                    </div>
                  </div>
  
                  <div class="col-sm-4 col-xs-12">
                    <div class="form-group fulw" [ngClass]="{'has-error' : stateControl.invalid && stateControl.touched}">
                      <label>State<span class="red">*</span></label>
                      <input type="text" class="form-control" name="ASState" [(ngModel)]="ASState" #stateControl='ngModel'
                        placeholder="State" pattern="[a-zA-Z0-9-]*" required />
                      <p class="alerts" *ngIf="stateControl.invalid && stateControl.touched">State is required</p>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-sm-4 col-xs-12">
                    <div class="form-group fulw"
                      [ngClass]="{'has-error' : pincodeControl.invalid && pincodeControl.touched}">
                      <label>PinCode<span class="red">*</span></label>
                      <input type="text" class="form-control" name="ASPinCode" [(ngModel)]="ASPinCode"
                        #pincodeControl='ngModel' placeholder="PinCode" pattern="[a-zA-Z0-9-]*" required />
                      <p class="alerts" *ngIf="stateControl.invalid && stateControl.touched">State is required</p>
                    </div>
                  </div>
  
                  <div class="col-sm-4 col-xs-12">
                    <div class="form-group fulw">
                      <label>Property Type</label>
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                          data-toggle="dropdown">{{ASPrpType}}
                          <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                        <ul class="dropdown-menu fullw" style="font-family: Quicksand;height: 200px;">
                          <li *ngFor="let propertyType of propertyTypes" (click)="getpropertyType(propertyType.name)">
                            <a>{{propertyType.displayName}}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-sm-4 col-xs-12">
                    <div class="form-group fulw"
                      [ngClass]="{'has-error' : propNameControl.invalid && propNameControl.touched}">
                      <label>Property Name<span class="red">*</span></label>
                      <input type="text" class="form-control" name="ASPrpName" [(ngModel)]="ASPrpName"
                        #propNameControl='ngModel' placeholder="Property Name" pattern="[a-zA-Z0-9- _]*" required />
                      <p class="alerts" *ngIf="propNameControl.invalid && propNameControl.touched">Property Name is
                        required</p>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group fulw"
                      [ngClass]="{'has-error' : noblockControl.invalid && noblockControl.touched}">
                      <label>No Of Blocks<span class="red">*</span></label>
                      <input type="text" class="form-control" name="ASNofBlks" [(ngModel)]="ASNofBlks"
                        #noblockControl='ngModel' pattern="[0-9]*" placeholder="No Of Blocks" required />
                      <p class="alerts" *ngIf="noblockControl.invalid && noblockControl.touched">Number Of Blocks is
                        required</p>
                    </div>
                  </div>
  
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group fulw"
                      [ngClass]="{'has-error' : nounitControl.invalid && nounitControl.touched}">
                      <label>No Of Units<span class="red">*</span></label>
                      <input type="text" class="form-control" name="ASNofUnit" [(ngModel)]="ASNofUnit"
                        #nounitControl='ngModel' pattern="[0-9]*" placeholder="No Of Units" required />
                      <p class="alerts" *ngIf="nounitControl.invalid && nounitControl.touched">Number Of Units is required
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group fulw"
                      [ngClass]="{'has-error' : amenitytypeControl.invalid && amenitytypeControl.touched}">
                      <label>Amenity Type<span class="red">*</span></label>
                      <input type="text" class="form-control" name="AMType" [(ngModel)]="AMType"
                        #amenitytypeControl='ngModel' placeholder="Amenity Type" pattern="[a-zA-Z0-9- _]*" required />
                      <p class="alerts" *ngIf="amenitytypeControl.invalid && amenitytypeControl.touched">Amenity Name is
                        required</p>
                    </div>
                  </div>
  
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group fulw"
                      [ngClass]="{'has-error' : noofamenityControl.invalid && noofamenityControl.touched}">
                      <label>No Of Amenities<span class="red">*</span></label>
                      <input type="text" class="form-control" name="NoofAmenities" [(ngModel)]="NoofAmenities"
                        #noofamenityControl='ngModel' pattern="[0-9]*" placeholder="No Of Amenities" required />
                      <p class="alerts" *ngIf="noofamenityControl.invalid && noofamenityControl.touched">No Of Amenities
                        are required</p>
                    </div>
                  </div>
                </div>
  
  
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group fulw"
                      [ngClass]="{'has-error' : banknameControl.invalid && banknameControl.touched}">
                      <label>Bank Name<span class="red">*</span></label>
                      <input type="text" class="form-control" name="BABName" [(ngModel)]="BABName"
                        #banknameControl='ngModel' placeholder="Bank Name" pattern="[A-Za-z\s]+" required />
                      <p class="alerts" *ngIf="banknameControl.invalid && banknameControl.touched">Bank Name is required
                      </p>
                    </div>
                  </div>
  
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group fulw"
                      [ngClass]="{'has-error' : bankifscControl.invalid && bankifscControl.touched}">
                      <label>IFSC<span class="red">*</span></label>
                      <input type="text" class="form-control" name="BAIFSC" [(ngModel)]="BAIFSC"
                        #bankifscControl='ngModel' placeholder="Bank IFSC" pattern="^[A-Za-z]{4}[a-zA-Z0-9]{7}$"
                        required />
                      <small>Ex: PAAA1111111</small>
                      <p class="alerts" *ngIf="bankifscControl.invalid && bankifscControl.touched">IFSC is required</p>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group fulw"
                      [ngClass]="{'has-error' : accountnumberControl.invalid && accountnumberControl.touched}">
                      <label>Account Number<span class="red">*</span></label>
                      <input type="text" class="form-control" name="BAActNo" [(ngModel)]="BAActNo"
                        #accountnumberControl='ngModel' placeholder="Account Number" pattern="[a-zA-Z0-9-]*" required />
                      <p class="alerts" *ngIf="accountnumberControl.invalid && accountnumberControl.touched">Account
                        Number is required</p>
                    </div>
                  </div>
  
                  <div class="col-sm-6 col-xs-12">
                    <div class="form-group fulw">
                      <label>Account Type<span class="red">*</span></label>
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle sdm br form-control"
                            type="button" data-toggle="dropdown">{{BAActType}}
                            <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                        <ul class="dropdown-menu fullw">
                        <li *ngFor="let accounttype of accountTypes" (click)="getAccountType(accounttype.name)"><a>{{accounttype.name}}</a></li>
                        </ul>
                    </div>
                    </div>
                  </div>
                </div>
  
                <div class="from-group">
                  <div class="form-group pull-right">
                    <br>
                    <button [disabled]='editAssnFrm.invalid' type="submit" class="btn btn-primary-purple nextBtn"
                      (click)="UpdateAssociation()">Update</button>
                  </div>
                </div>
  
  
              </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>