.p-40{padding:40px 30px;background: #fff;margin-top: 65px;}
.job-head{font-size: 16px;font-weight: 800;margin-bottom: 20px;}
.form-group{width: 100%}
a{color: #e58739 !important;}
.b-left{border-left: 2px solid #f1ecec8a;}
.apply{color: #e58739 !important;font-weight: 500;cursor: pointer;}
thead{background: #e58739 !important;color: #fff;}