<div class="container-fluid bg np">
        <div class="col-sm-9">
            <!--Profile section-->
            <app-left-bar></app-left-bar>

            <!--Profile section-->
    
            <div class="col-xs-12 col-sm-12 col-md-11 b-l">
    
                <!--Dashboard icons start-->
                <div class="col-md-12 m-t-30 dash">
                        <ul class="nav nav-pills">
                                <li><a (click)="goToBlocks()">Blocks</a></li>
                                <li class="active"><a (click)="goToUnits()">Units</a></li>
                                
                        </ul>


                        <!-- <div class="dropdown search-dropd">
                            <button class="btn btn-primary dropdown-toggle sdm br" type="button"
                                    data-toggle="dropdown" >{{(globalService.currentAssociationName == ''?'Association':globalService.currentAssociationName)}}
                                    <span class="caret"></span></button>
                            <ul class="dropdown-menu fullw">
                                    <li (click)="getAllUnitDetailsByBlockID(blBlockID)" *ngFor="let blck of allBlocksLists"><a >{{blck.blBlkName}}</a></li>
                            </ul>
                        </div> -->

                        <div class="col-3">
                            <div class="form-group" [ngClass]="{'has-error' : blocksDetailControl.invalid && blocksDetailControl.touched}">
                              <select class="ui dropdown search methodDropdown" name="blockname" [(ngModel)]="blBlockID"
                                (change)="getAllUnitDetailsByBlockID(blBlockID)" required #blocksDetailControl='ngModel'>
                                <option disabled="true" selected="true" value="">Select Block Name</option>
                                <option *ngFor='let blck of allBlocksLists' [value]="blck.blBlockID">
                                  {{blck.blBlkName}}
                                </option>
                              </select>
                              <p class="alerts" *ngIf="blocksDetailControl.invalid && blocksDetailControl.touched"> Please select BlockName
                              </p>
                            </div>
                        </div>
                    <div class="enroll">
                            <span class="purple" style="font-size: 24px;font-weight: 500;">Units Management</span>
                        <button class="btn-primary-purple" (click)="openModal(template)"><i class="fa fa-plus"
                                aria-hidden="true"></i> Add Units</button>
                        
                    </div>
                    <div>
                        <label>Search</label>
                        <input type="text" [(ngModel)]="searchTxt" class="form-control" name="searchTxt" placeholder="search name">
                    </div>
                    <div class="dash-row">
                        <table class="table table-striped" [mfData]="allUnitBYBlockID | search:['unUniName','unUniType','unDimens']:searchTxt" #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th style="width: 20%">
                                        S.No.
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="unUniName">Unit Name</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="unUniType">Unit Type</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="unDimens">Unit Dimension</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="uofName">Name</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="uoEmail">Email</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of mf.data;let i=index">
                                    <ng-container *ngIf="item == -1">
                                        <td colspan="4" align="center">No Data Found</td>
                                    </ng-container>
                                    <ng-container *ngIf="item!=-1">
                                        <td>{{(i+1)}}</td>
                                        <td>{{item.unUniName}}</td>
                                        <td>{{item.unUniType}}</td>
                                        <td>{{item.unDimens}} SqFt</td>
                                        <td>{{(item.owner.length > 0 ? item.owner[0].uofName : ((item.tenant.length > 0) ? item.tenant[0].utfName :''))}}</td>
                                        <td>{{(item.owner.length > 0 ? item.owner[0].uoEmail : ((item.tenant.length > 0) ? item.tenant[0].utEmail :''))}}</td>
                                        <td>
                                            <i data-toggle="modal" data-target="#viewBlockDetailsTemplate"
                                                (click)="viewBlockDetails(item['blBlkName'],item['blBlkType'],item['blNofUnit'])" class="fa fa-eye"></i>&nbsp;|&nbsp;<i
                                                data-toggle="modal" data-target="#editBlockDetails"
                                                (click)="OpenModal(editBlocktemplate,item.blBlkName,item.blBlkType,item.blNofUnit,item.blMgrName,item.blMgrMobile,item.blMgrEmail,item.asMtType,item.asMtFRate,item.asMtDimBs,item.asUniMsmt,item.asbGnDate,item.asdPyDate,item.bldUpdated,item.aslpcType,item.aslpChrg,item.blBlockID,item.asiCrFreq,item.aslpsDate)"
                                                class="fa fa-pencil"></i>
        
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
    
                    </div>
                </div>
                <!--Dashboard icons end-->
    
            </div>
    
        </div>
         <!--rightBar start-->
         <app-right-bar></app-right-bar>
         <!--rightBar end-->
    </div>
    
    
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            This is a modal.
        </div>
    </ng-template>