<div class="container-fluid np">
    <div class="col-sm-12 mt-80">
        <!--Profile section-->
        <app-left-bar></app-left-bar>
        <!--Profile section-->
        <div class="col-xs-12 col-sm-12 col-md-11 b-l">
            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">
                 <div class="enr-bt">                      
                        <div style="display: flex">
                                    <span style="width: 263px;" class="purple">Units Management for Block</span>                  
                                        <div style="float:left;margin:0px" class="form-group">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                                                    data-toggle="dropdown">{{blBlkName}}
                                                    <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                                                <ul class="dropdown-menu fullw" style="height: 300px;">
                                                    <li *ngFor='let blck of allBlocksLists'
                                                        (click)="getAllUnitDetailsByBlockID(blck.blBlockID,blck.blBlkName)"><a>
                                                            {{blck.blBlkName}}</a></li>
                                                </ul>
                                            </div>
                                        </div>                                  
                        </div>   
                        <div class="tab-opt">
                                <ul class="nav nav-pills">
                                    <li><a (click)="goToBlocks()">Blocks</a></li>
                                    <li class="active"><a (click)="goToUnits()">Units</a></li>
                                </ul>
                        </div> 
                 </div>
                 <div class="enroll">
                    <div style="display: flex;justify-content: flex-end;flex-direction: column;">
                              
                    </div>
                   </div>
               
                <!-- <div class="col-3">
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                                data-toggle="dropdown">{{blBlkName}}
                                <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                            <ul class="dropdown-menu fullw">
                                <li *ngFor='let blck of allBlocksLists'
                                    (click)="getAllUnitDetailsByBlockID(blck.blBlockID,blck.blBlkName)"><a>
                                        {{blck.blBlkName}}</a></li>
                            </ul>
                        </div>
                    </div>

                </div> -->
                <div *ngIf="viewUniService.unitList">
                    <input type="text" [(ngModel)]="searchTxt" class="form-control" name="searchTxt"
                        placeholder="Search by Unit Name, Unit Type, Name, Email">
                </div>
                <div class="dropdown" style="display: flex;justify-content: space-between;">
                    <button style="width: 200px;" class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                        data-toggle="dropdown">{{(ShowRecords=='Show Records'?ShowRecords:setnoofrows)}}
                        <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                    <ul class="dropdown-menu fullw">
                        <li *ngFor='let rows of rowsToDisplay' (click)="setRows(rows['Row'])">
                            <a>{{rows['Display']}}</a></li>
                    </ul>
                    <div style="display: flex;flex-direction: column;">
                    <button style="float: right;" class="btn-primary-purple" (click)="addUnitsShow()"><i class="fa fa-plus"
                        aria-hidden="true"></i> Add Units</button>
                        <div class="upload_excel">
                            <a class="excel" tooltip="Have more num of Units?"  (click)="NavigateToBulkUpload()">Bulk Upload</a>
                                <!-- <a tooltip="click to download demo excel format"  href="../../assets/Excel/Demo_Unit_Detailstemplate.xlsx" download><img class="excel" src="../../assets/images/download.png"></a>
                                <input type="file" id="file_upload_id" (change)="onFileChange($event)" multiple="false" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none" #file> -->
                         </div> 
                    </div>
                </div>
                <div class="dash-row" *ngIf="viewUniService.unitList">
                    <table class="table table-bordered"
                        [mfData]="allUnitBYBlockID | search:['unUniName','unUniType','unDimens']:searchTxt"
                        #mf="mfDataTable" (click)="onPageChange($event)" [mfRowsOnPage]="setnoofrows=='All Records'?allUnitBYBlockID.length:setnoofrows">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>
                                    <mfDefaultSorter (click)="removeColumnSort('Unit')" by="unUniName">Unit&nbsp;<i [hidden]="columnName=='Unit'" class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter (click)="removeColumnSort('UnitType')" by="unUniType">Unit Type&nbsp;<i [hidden]="columnName=='UnitType'" class="fa fa-sort"></i></mfDefaultSorter>
                                </th> -->
                                <th>
                                    <mfDefaultSorter (click)="removeColumnSort('OcStat')" by="unOcStat">Occupancy & Ownership Status&nbsp;<i [hidden]="columnName=='UnitType'" class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter (click)="removeColumnSort('UnitDimension')" by="unDimens">Unit Dimension&nbsp;<i [hidden]="columnName=='UnitDimension'" class="fa fa-sort"></i></mfDefaultSorter>
                                </th> -->
                                <th>
                                    <mfDefaultSorter (click)="removeColumnSort('Name')" by="uofName">Name&nbsp;<i [hidden]="columnName=='Name'" class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter (click)="removeColumnSort('Email')" by="uoEmail">Email&nbsp;<i [hidden]="columnName=='Email'" class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data;let i=index">
                                <ng-container *ngIf="item == -1">
                                    <td colspan="7" align="center">No Data Found</td>
                                </ng-container>
                                <ng-container *ngIf="item!=-1">
                                    <td class="txt-middle">{{ (PaginatedValue * (p - 1) + i)+1 }}</td>
                                    <td>{{item.unUniName}}</td>
                                    <!-- <td>{{item.unUniType}}</td> -->
                                    <td>{{item.unOcStat}}</td>

                                    <!-- <td>{{item.unDimens}} SqFt</td> -->
                                    <td>{{(item.owner.length > 0 ? item.owner[0].uofName : ((item.tenant.length > 0) ? item.tenant[0].utfName :''))}}
                                    </td>
                                    <td>{{(item.owner.length > 0 ? item.owner[0].uoEmail : ((item.tenant.length > 0) ? item.tenant[0].utEmail :''))}}
                                    </td>
                                    <td class="txt-middle">
                                        <i style="cursor: pointer;" data-toggle="modal" data-target="#viewUnit1" (click)="viewUnit(item)"
                                            class="fa fa-eye" tooltip="View Unit"></i>&nbsp;|&nbsp; <i style="cursor: pointer;" data-toggle="modal"
                                            (click)="OpenModal(editUnits,item['unUnitID'],item,item['unUniType'],item['unOcStat'],item['unDimens'],item['unCalType'],item['unRate'],item['blBlockID'],item['asAssnID'],item['acAccntID'],item['unUniName'],item['undCreated'])" class="fa fa-pencil" tooltip="Edit Unit"></i>
                                        <!-- <i data-toggle="modal"
                                            data-target="#editBlockDetails"
                                            (click)="OpenModal(editBlocktemplate,item.blBlkName,item.blBlkType,item.blNofUnit,item.blMgrName,item.blMgrMobile,item.blMgrEmail,item.asMtType,item.asMtFRate,item.asMtDimBs,item.asUniMsmt,item.asbGnDate,item.asdPyDate,item.bldUpdated,item.aslpcType,item.aslpChrg,item.blBlockID,item.asiCrFreq,item.aslpsDate)"
                                            class="fa fa-pencil"></i> -->
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!--Dashboard icons end-->
            <!--Add Units form Starts-->
            <div class="col-sm-12" *ngIf="viewUniService.addUnits">
                <app-add-unit (EnableUnitListView)="EnableUnitListView($event)"></app-add-unit>
            </div>
            <!--Add Units form Ends-->
        </div>
    </div>
    <!--rightBar start-->
    <!-- <app-right-bar></app-right-bar> -->
    <!--rightBar end-->
</div>


<div class="modal fade viewPopup" id="viewUnit1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header" style="background-color: whitesmoke;">
               
               
                <h4 class="modal-title" id="myModalLabel" style="color:#5a51aa; font-family: Quicksand;">Unit Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body" style="font-family: Quicksand;">
                <div class="row" style="padding:5px;">
                    <div class="col-sm-12"> 
                        <h5 class="text-center">Association Name : <strong>{{currentAssociationName}}</strong></h5> 
                        <br>                          
                        <!-- <h5 style="color:#5a51aa">Unit Information</h5>
                        <br> -->
                    </div>
                    <div class="col-sm-4">
                        <p><strong>Unit No :</strong> <span>{{viewUnitRow.unitNo}}</span></p>
                    </div>
                    <div class="col-sm-4">
                        <p><strong>Unit Type : </strong><span>{{viewUnitRow.unitType}}</span></p>
                    </div>
                    <!-- <div class="col-sm-4">
                        <p><strong>Unit Dimension : </strong><span>{{viewUnitRow.unitDimen}}</span></p>
                    </div> -->

                    <!-- <div class="col-sm-12">
                         <hr>
                    </div> -->

                    <!-- <div class="col-sm-4">
                        <p><strong>Unit Rate : </strong><span>{{viewUnitRow.rate}}</span></p>
                    </div>
                    <div class="col-sm-4">
                        <p><strong>Calculation Type : </strong><span>{{viewUnitRow.calculationType}}</span></p>
                    </div> -->
                    <div class="col-sm-4">
                        <p><strong>Occupancy Status : </strong><span>{{viewUnitRow.occupencyStatus}}</span></p>
                    </div>

                    <div *ngIf="viewUnitRow.occupencyStatus=='Sold Owner Occupied Unit'||viewUnitRow.occupencyStatus=='Sold Tenant Occupied Unit'||viewUnitRow.occupencyStatus=='Sold Vacant Unit'">
                       <div class="col-sm-4">
                        <p><strong>Owner FirstName : </strong><span>{{viewUnitRow.ownerfirstname}}</span></p>
                       </div>
                       <div class="col-sm-4">
                        <p><strong>Owner LastName : </strong><span>{{viewUnitRow.ownerlastname}}</span></p>
                       </div>
                       <div class="col-sm-4">
                        <p><strong>Owner MobileNumber : </strong><span>{{viewUnitRow.ownermobilenumber.includes("+91") ? viewUnitRow.ownermobilenumber : "+91" + viewUnitRow.ownermobilenumber}}</span></p>
                       </div>       
                       <div class="col-sm-4">
                        <p><strong>Owner EmailId : </strong><span>{{viewUnitRow.owneremail}}</span></p>
                       </div>

                    </div>
                    <div *ngIf="viewUnitRow.occupencyStatus=='Sold Tenant Occupied Unit'||viewUnitRow.occupencyStatus=='UnSold Tenant Occupied Unit'">
                        <div class="col-sm-4">
                         <p><strong>Tenant FirstName : </strong><span>{{viewUnitRow.tenantFirtname}}</span></p>
                        </div>
                        <div class="col-sm-4">
                         <p><strong>Tenant LastName : </strong><span>{{viewUnitRow.tenantLastname}}</span></p>
                        </div>
                        <div class="col-sm-4">
                         <p><strong>Tenant MobileNumber : </strong><span>{{viewUnitRow.tenantMobnumber.includes("+91") ? viewUnitRow.tenantMobnumber : "+91" + viewUnitRow.tenantMobnumber}}</span></p>
                        </div>
                        <div class="col-sm-4">
                         <p><strong>Tenant EmailId : </strong><span>{{viewUnitRow.tenantEmail}}</span></p>
                        </div>
 
                     </div>
                </div>
            </div> <!---------Modal Body close----------> 
        </div>
    </div>
</div>




<ng-template #editUnits>
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title" style="padding-left:15px;">Edit Unit</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <form name="editAssociation" autocomplete="off">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="from-group" style="padding-left:15px;">
                                    <p>Unit No : <strong>{{unUniName}} {{unOcStat}}</strong></p>
                                </div>
                            </div>

                            <div class="col-sm-4" style="padding-right:15px;">
                                <p>Date : <strong> {{undCreated|date:'dd-MM-yyyy'}}
                                    </strong></p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                        </div>
                        <!-- <div class="col-sm-12">
                            <h5 style="color:#e59400;">Unit Information</h5>
                        </div> -->
                        <br>
                        <div class="row" style="padding-left:15px;padding-right:15px;">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Occupancy & Ownership Status<span class="red">*</span></label>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                                            [(ngModel)]="occupencyInEditUnit" name="occupencyInEditUnit"
                                            data-toggle="dropdown">{{SelectOccupancyOwnershipStatus==''?'Select Occupancy Ownership Status':occupencyInEditUnit}}
                                            <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                                        <ul class="dropdown-menu fullw">
                                            <li (click)="SelectOccupencyStatus('Sold Owner Occupied Unit')"><a>Sold Owner Occupied Unit</a></li>
                                            <li (click)="SelectOccupencyStatus('Sold Tenant Occupied Unit')"><a>Sold Tenant Occupied Unit</a></li>
                                            <li (click)="SelectOccupencyStatus('Sold Vacant Unit')"><a>Sold Vacant Unit</a></li>
                                            <li (click)="SelectOccupencyStatus('UnSold Vacant Unit')"><a>UnSold Vacant Unit</a></li>
                                            <li (click)="SelectOccupencyStatus('UnSold Tenant Occupied Unit')"><a>UnSold Tenant Occupied Unit</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Unit Type<span class="red">*</span></label>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                                            [(ngModel)]="unitTypeForEdit" name="unitTypeForEdit"
                                            data-toggle="dropdown">{{SelectUnitType==''?'Select Unit Type':unitTypeForEdit}}
                                            <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                                        <ul class="dropdown-menu fullw">
                                            <li (click)="getUnitType('Flat')"><a>Flat</a></li>
                                            <li (click)="getUnitType('Villa')"><a>Villa</a></li>
                                            <li (click)="getUnitType('Vaccant Plot')"><a>Vaccant Plot</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group"
                                    [ngClass]="{'was-validated' : UNDimensControl.invalid && UNDimensControl.touched}">
                                    <label id=label3>Unit Dimension<span class="red">*</span></label>
                                    <input type="text" name="UNDimens" id="input3" autocomplete='UNDimens'
                                        [(ngModel)]="UNDimens" #UNDimensControl="ngModel" class="form-control"
                                        placeholder="No Of Units" pattern="[0-9]*" required />
                                    <p class="alerts" *ngIf="UNDimensControl.invalid && UNDimensControl.touched">Unit Dimension required
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Calculation Type<span class="red">*</span></label>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button" [(ngModel)]="UNCalType" name='UNCalType'
                                            data-toggle="dropdown">{{UNCalType}}
                                            <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                                        <ul class="dropdown-menu fullw">
                                            <li (click)="getCalculationTypesUpadte('Flat Rate Value')"> <a>Flat Rate Value</a></li>
                                            <li (click)="getCalculationTypesUpadte('Dimension Based')"> <a>Dimension Based</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>  
                            <!-- <div class="col-sm-6 col-xs-12">
                                <div class="form-group"
                                    [ngClass]="{'was-validated' : UNRateControl.invalid && UNRateControl.touched}">
                                    <label id=label3>Unit Rate<span class="red">*</span></label>
                                    <input type="text" name="UNRate" id="input3" autocomplete='UNRate'
                                        [(ngModel)]="UNRate" #UNRateControl="ngModel" class="form-control"
                                        placeholder="Unit Rate" pattern="[0-9]*" required />
                                    <p class="alerts" *ngIf="UNRateControl.invalid && UNRateControl.touched">Unit Rate required
                                    </p>
                                </div>
                            </div> -->
                            <div
                                *ngIf="occupencyInEditUnit=='Sold Owner Occupied Unit'||occupencyInEditUnit=='Sold Tenant Occupied Unit'||occupencyInEditUnit=='Sold Vacant Unit'">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group"
                                        [ngClass]="{'was-validated' : OwnerFirstnameControl.invalid && OwnerFirstnameControl.touched}">
                                        <label id=label3>Owner Firstname<span class="red">*</span></label>
                                        <input type="text" name="ownerFirtname" id="input3" autocomplete='ownerFirtname' [(ngModel)]="ownerFirtname"
                                            #OwnerFirstnameControl="ngModel" class="form-control" placeholder="Owner Firstname" required />
                                        <p class="alerts" *ngIf="OwnerFirstnameControl.invalid && OwnerFirstnameControl.touched">Owner Firstname
                                            required
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group"
                                        [ngClass]="{'was-validated' : OwnerLastnameControl.invalid && OwnerLastnameControl.touched}">
                                        <label id=label3>Owner Lastname<span class="red">*</span></label>
                                        <input type="text" name="ownerLastname" id="input3" autocomplete='ownerLastname' [(ngModel)]="ownerLastname"
                                            #OwnerLastnameControl="ngModel" class="form-control" placeholder="Owner Lastname" required />
                                        <p class="alerts" *ngIf="OwnerLastnameControl.invalid && OwnerLastnameControl.touched">Owner Lastname
                                            required
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group"
                                        [ngClass]="{'was-validated' : OwnermobilenumberControl.invalid && OwnermobilenumberControl.touched}">
                                        <label id=label3>Owner Mobilenumber<span class="red">*</span></label>
                                        <input type="text" name="ownerMobnumber" id="input3" autocomplete='ownerMobnumber'
                                            [(ngModel)]="ownerMobnumber" #OwnermobilenumberControl="ngModel" class="form-control"
                                            placeholder="Owner Mobilenumber" minlength=10 maxlength=13 pattern="^((0091)|(\+91)|0?)[0-9]{1}\d{9}$" required />
                                        <p class="alerts" *ngIf="OwnermobilenumberControl.invalid && OwnermobilenumberControl.touched">Owner
                                            Mobilenumber required
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group" [ngClass]="{'was-validated' : OwnerEmailControl.invalid && OwnerEmailControl.touched}">
                                        <label id=label3>Owner EmailId<span class="red">*</span></label>
                                        <input type="text" name="ownerEmail" id="input3" autocomplete='ownerEmail' [(ngModel)]="ownerEmail"
                                            #OwnerEmailControl="ngModel" class="form-control" placeholder="Owner EmailId" required />
                                        <p class="alerts" *ngIf="OwnerEmailControl.invalid && OwnerEmailControl.touched">Owner EmailId required
                                        </p>
                                    </div>
                                </div>
                            
                            
                            </div>
                            
                            
                            
                            
                            <div *ngIf="occupencyInEditUnit=='Sold Tenant Occupied Unit'||occupencyInEditUnit=='UnSold Tenant Occupied Unit'">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group"
                                        [ngClass]="{'was-validated' : TenantFirstnameControl.invalid && TenantFirstnameControl.touched}">
                                        <label id=label3>Tenant Firstname<span class="red">*</span></label>
                                        <input type="text" name="tenantFirtname" id="input3" autocomplete='tenantFirtname'
                                            [(ngModel)]="tenantFirtname" #TenantFirstnameControl="ngModel" class="form-control"
                                            placeholder="Tenant Firstname" required />
                                        <p class="alerts" *ngIf="TenantFirstnameControl.invalid && TenantFirstnameControl.touched">Tenant Firstname
                                            required
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group"
                                        [ngClass]="{'was-validated' : TenantLastnameControl.invalid && TenantLastnameControl.touched}">
                                        <label id=label3>Tenant Lastname<span class="red">*</span></label>
                                        <input type="text" name="tenantLastname" id="input3" autocomplete='tenantLastname'
                                            [(ngModel)]="tenantLastname" #TenantLastnameControl="ngModel" class="form-control"
                                            placeholder="Tenant Lastname" required />
                                        <p class="alerts" *ngIf="TenantLastnameControl.invalid && TenantLastnameControl.touched">Tenant Lastname
                                            required
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group"
                                        [ngClass]="{'was-validated' : TenantMobilenumberControl.invalid && TenantMobilenumberControl.touched}">
                                        <label id=label3>Tenant Mobilenumber<span class="red">*</span></label>
                                        <input type="text" name="tenantMobnumber" id="input3" autocomplete='tenantMobnumber'
                                            [(ngModel)]="tenantMobnumber" #TenantMobilenumberControl="ngModel" class="form-control"
                                            placeholder="Tenant Mobilenumber" minlength=10 maxlength=13 pattern="^((0091)|(\+91)|0?)[0-9]{1}\d{9}$" required />
                                        <p class="alerts" *ngIf="TenantMobilenumberControl.invalid && TenantMobilenumberControl.touched">Tenant
                                            Mobilenumber required
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group"
                                        [ngClass]="{'was-validated' : TenantEmailIdControl.invalid && TenantEmailIdControl.touched}">
                                        <label id=label3>Tenant EmailId<span class="red">*</span></label>
                                        <input type="text" name="tenantEmail" id="input3" autocomplete='tenantEmail' [(ngModel)]="tenantEmail"
                                            #TenantEmailIdControl="ngModel" class="form-control" placeholder="Tenant EmailId" required />
                                        <p class="alerts" *ngIf="TenantEmailIdControl.invalid && TenantEmailIdControl.touched">Tenant EmailId
                                            required
                                        </p>
                                    </div>
                                </div>
                            </div>
<!-- 
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group"
                                    [ngClass]="{'was-validated' : UNDimensControl.invalid && UNDimensControl.touched}">
                                    <label id=label3>Unit Dimension<span class="red">*</span></label>
                                    <input type="text" name="UNDimens" id="input3" autocomplete='UNDimens'
                                        [(ngModel)]="UNDimens" #UNDimensControl="ngModel" class="form-control"
                                        placeholder="No Of Units" pattern="[0-9]*" required />
                                    <p class="alerts" *ngIf="UNDimensControl.invalid && UNDimensControl.touched">Unit Dimension required
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label">Calculation Type<span class="red">*</span></label>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button" [(ngModel)]="UNCalType" name='UNCalType'
                                            data-toggle="dropdown">{{UNCalType}}
                                            <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                                        <ul class="dropdown-menu fullw">
                                            <li (click)="getCalculationTypesUpadte('Flat Rate Value')"> <a>Flat Rate Value</a></li>
                                            <li (click)="getCalculationTypesUpadte('Dimension Based')"> <a>Dimension Based</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>  -->
                        </div>

                        <div class="from-group">
                            <div class="form-group pull-right">
                                <button type="submit" class="btn btn-primary-purple nextBtn"
                                    (click)="UpdateUnit()">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<div id="snackbar"></div>