<div class="container-fluid np">
        <div class="col-sm-12 mt-80">
            <!--Profile section-->
            <app-left-bar></app-left-bar>
            <!--Profile section-->
            <div class="col-xs-12 col-sm-12 col-md-11 b-l">
                <!--Dashboard icons start-->
                <div class="col-md-12 m-t-30 dash">
                        <span class="black">Deliveries</span>
                    <div class="switch" style="margin-bottom:15px">
                        <ul class="nav nav-pills">
                            <li><a (click)="goToGuests()">My Guests</a></li>
                            <li class="active"><a (click)="goToDelivery()">Deliveries</a></li>
                            <li><a (click)="goToStaffs()">Staff</a></li>  
                        </ul>
                    </div>
                    <div class="enroll">
                        <div class="sea"><input type="text" id="mySearch" [(ngModel)]="searchTxt" name="searchTxt" placeholder="Search.." title="Type in a category">
                        </div>
                        <div class="del-date cal">From<input type="text" class="date ng-pristine ng-valid ng-touched" name="StartDate" #StartDateControl='ngModel'
                                  placeholder="Start Date"  [(ngModel)]="StartDate"
                                  bsDatepicker required [bsConfig]="bsConfig" [minDate]="todayDate" placement="side"/>
                        </div>

                        <div class="del-date cal">To<input type="text" (bsValueChange)='getVisitorList($event)' class="date ng-pristine ng-valid ng-touched" name="EndDate" #EndDateControl='ngModel' placeholder="Due Date"
                            [(ngModel)]="EndDate" [bsConfig]="bsConfig" bsDatepicker required 
                            placement="bottom"/>
                        </div>                   
                    </div>
                    <div class="dash-row">
                            <table class="table table-bordered" [mfData]="deliveryList | search:['vlfName', 'vlComName', 'vldCreated','vlEntryT','vlExitT','vlMobile']:searchTxt" #mf="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <tr>
                                        <th>
                                            Sl No
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="vlfName">Delivery Person Name</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="vlComName">Delivery From</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="vldCreated">Date</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="vlEntryT">Entry Time</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="vlExitT">Exit Time</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="vlMobile">Mobile Number</mfDefaultSorter>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of mf.data;let i=index">
                                        <ng-container *ngIf="item == -1">
                                            <td colspan="7" align="center">No Data Found</td>
                                        </ng-container>
                                        <ng-container *ngIf="item!=-1">
                                            <td>{{(i+1)}}</td>
                                            <td>{{item['vlfName']}}</td>
                                            <td>{{item['vlComName']}}</td>
                                            <td>{{item['vldCreated'] | date:'d/M/y'}}</td>
                                            <td>{{item['vlEntryT'] | date:'shortTime'}}</td>
                                            <td>{{item['vlExitT'] | date:'shortTime'}}</td>
                                            <td>{{item['vlMobile']}}</td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <mfBootstrapPaginator></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table> 
                    </div>
                    <div>
                            <button class="btn btn-primary-purple nextBtn">Leave with Vender</button>
                    </div>
                </div>
                <!--Dashboard icons end-->
              
            </div>
        </div>
        <!--rightBar start-->
        <!-- <app-right-bar></app-right-bar> -->
        <!--rightBar end-->
    </div>