<div class="container-fluid np">
    <div class="col-sm-12 mt-80">
        <!--Profile section-->
        <app-left-bar></app-left-bar>
        <!--Profile section-->
        <div class="col-xs-12 col-sm-12 col-md-11 b-l">
            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">
                <div class="enroll" style="justify-content: space-between;align-items: baseline;margin-bottom: 0px;">
                <h3 class="black">Family Members</h3>
                <button class="btn-primary-purple" (click)="addMemberShow()"><i class="fa fa-plus" aria-hidden="true"></i> Add Members</button>
            </div>
                <div class="dash-row" *ngIf='memberList'>
                    <table class="table table-bordered"
                        [mfData]="FamilyMemberList | search:['fmName', 'fmRltn', 'fmMobile']:searchTxt"
                        #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <tr style="background: #ededed;">
                                <th>S.No.</th>
                                <th>
                                    <mfDefaultSorter by="fmName">Member Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="fmRltn">Relation</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="fmMobile">Mobile Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="fmImgName">Photo</mfDefaultSorter>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data;let i=index">
                                <ng-container *ngIf="item == -1">
                                    <td colspan="5" align="center">No Data Found</td>
                                </ng-container>
                                <ng-container *ngIf="item!=-1">
                                    <td class="txt-middle">{{(i+1)}}</td>
                                    <td>{{item['fmName']}}</td>
                                    <td>{{item['fmRltn']}}</td>
                                    <td>{{item['fmMobile']}}</td>
                                    <td *ngIf="item['fmImgName']!=''"><img (mouseover)="showFamilyMemImgInPopUp(FamilyMemberImagetemplate,item['fmImgName'])" src="{{'data:image/jpeg;base64,'+item['fmImgName']}}" width="50px" height="50px"/> </td>
                                    <td *ngIf="item['fmImgName']==''"><img src="../../assets/images/family.png" width="50px" height="50px"/> </td>
                                    <td class="txt-middle">
                                        <i data-toggle="modal" data-target="#viewBlockDetailsTemplate"
                                            (click)="OpenEditFamilyMemberModal(EditFamilyMemberModal,item['fmName'],item['fmRltn'],item['fmMobile'],item['asAssnID'],item['unUnitID'],item['fmid'])"
                                            class="fa fa-pencil"></i>&nbsp;|&nbsp;<i data-toggle="modal"
                                            data-target="#editBlockDetails" (click)="deleteFamilyMember(item['fmid'])"
                                            class="fa fa-trash"></i>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!--Dashboard icons end-->

            <!--Enroll Association form Starts-->
            <div class="col-sm-12" *ngIf="addMember">
                <div class="row">
                    <form #addFamilyMem="ngForm" role="form">
                        <div class="panel panel-primary setup-content">
                            <!-- <div class="panel-heading">
                                         <h3 class="panel-title">Pan & Registration Details</h3>
                                    </div> -->
                            <h3 class="title">Family Details</h3>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="circle">
                                        <!-- User Profile Image -->
                                        <img id="imgthumbnail" class="profile-pic">
                                    </div>
                                    <!-- Image Section -->
                                    <div class="p-image">
                                        <i (click)="OpenFileUpload()" class="fa fa-camera upload-button"></i>
                                        <input class="file-upload" id="uploadFileinput" type="file" accept="image/*"
                                            (change)='onFileSelected($event)' />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label">Relationship</label>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                                            data-toggle="dropdown">{{Relation}}
                                            <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                                        <ul class="dropdown-menu fullw">
                                            <li *ngFor='let relation of RelationsArray' (click)="setRelationType(relation)">
                                                <a>{{relation}}</a></li>
                                        </ul>
                                    </div>
                                </div>







                                <div class="form-group">
                                    <label class="control-label">First Name<span class="red">*</span></label>
                                    <input pattern="[a-zA-Z _]*" type="text" [(ngModel)]='FirstName' maxlength="30"
                                        #fnameControl="ngModel" name="FirstName"
                                        class="form-control" placeholder="First Name" required/>
                                    <p class="alerts" *ngIf="fnameControl.invalid && fnameControl.touched"> Enter the
                                        Name</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Mobile Number<span class="red">*</span></label>
                                    <input minlength=10 maxlength=10 pattern="[0-9]*" [(ngModel)]='MobileNumber'
                                        name="MobileNumber" type="text" #mobileControl="ngModel"
                                        class="form-control" placeholder="Mobile Number" (keypress)=_keyPress($event) required/>
                                    <p class="alerts" *ngIf="mobileControl.invalid && mobileControl.touched"> Enter the 10 digit number</p>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label">Minor</label>
                                    <div class="col-sm-6 np">
                                        <input style="margin-right: 10px;" value="abc" [(ngModel)]='ToggleGurdian'
                                            type="radio" name="optradio">Yes
                                    </div>
                                    <div class="col-sm-6 np">
                                        <input style="margin-right: 10px;" value="xyz" type="radio"
                                            [(ngModel)]='ToggleGurdian' [checked]="ToggleGurdian =='xyz'"
                                            name="optradio" checked>No
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="ToggleGurdian=='abc'">
                                    <label class="control-label">Guardian's Name</label>
                                    <input maxlength="200" type="text" required="required" class="form-control"
                                        placeholder="First Name" />
                                </div>
                                <div class="form-group" *ngIf="ToggleGurdian=='abc'">
                                    <label class="control-label">Guardian's Mobile Number</label>
                                    <input minlength=10 maxlength=10 pattern="[0-9]*" type="text" required="required" class="form-control"
                                        placeholder="Mobile Number" (keypress)=_keyPress($event)/>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button [disabled]="addFamilyMem.invalid || Relation=='Select Relation'" class="btn btn-primary-purple nextBtn pull-right" (click)="addfamilymember()"
                                    type="button">Submit</button>
                                <input class="btn btn-primary-purple nextBtn pull-right"
                                    (click)="resetFamilyMemberModal()" type="reset" value="Reset">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--Enroll Association form Ends-->


            <!--Join Association form Starts-->
            <div class="col-sm-12 panel" style="padding: 40px;" *ngIf="joinassociation">
                <div class="col-sm-3 np">
                    <p class="join_ass_opt c-active"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Association</p>
                    <p class="join_ass_opt c-active"><i class="fa fa-circle-o" aria-hidden="true"></i>
                        Blocks</p>
                    <p class="join_ass_opt c-active"> <i class="fa fa-circle-o" aria-hidden="true"></i>
                        Units</p>
                </div>
                <div class="col-sm-9 b-left">
                    <!--row1-->
                    <div class="content">
                        <label>Select Association</label>
                        <div class="dropdown search-dropd" style="margin: 0px 0px;">
                            <button class="btn btn-primary dropdown-toggle sdm br" type="button"
                                data-toggle="dropdown">Manyata Association
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu fullw">
                                <li><a>Association1</a></li>
                                <li><a>Association2</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--row1-->
                    <!--row2-->
                    <div class="content">
                        <label>Select Blocks</label>
                        <div class="dropdown search-dropd" style="margin: 0px 0px;">
                            <button class="btn btn-primary dropdown-toggle sdm br" type="button"
                                data-toggle="dropdown">Blocks
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu fullw">
                                <li><a>Block1</a></li>
                                <li><a>Block2</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--row2-->
                    <!--row3-->
                    <div class="content">
                        <label>Select Unit</label>
                        <div class="block-row">
                            <span class="active">105</span>
                            <span>105</span>
                            <span>105</span>
                            <span>105</span>
                            <span>105</span>
                            <span>105</span>
                        </div>
                        <div class="block-row">
                            <span>105</span>
                            <span>105</span>
                            <span>105</span>
                            <span>105</span>
                            <span>105</span>
                            <span>105</span>
                        </div>
                        <div class="block-row">
                            <span>105</span>
                            <span>105</span>
                            <span>105</span>
                            <span>105</span>
                            <span>105</span>
                            <span>105</span>
                        </div>
                    </div>
                    <!--row3-->
                </div>
                <div class="col-sm-12"> <button class="btn btn-primary-purple nextBtn pull-right"
                        type="button">Join</button><input class="btn btn-primary-purple nextBtn pull-right" type="reset"
                        value="Reset">
                </div>
            </div>
            <!--Join Association form Ends-->
        </div>
    </div>
    <!--rightBar start-->
    <!-- <app-right-bar></app-right-bar> -->
    <!--rightBar end-->
</div>






<!-- EDIT FAMILY MEMBER -->
<ng-template #EditFamilyMemberModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Update Family Member</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #editFamilyMember="ngForm">
            <div>
                <div class="form-group">
                    <label><b>Family Member Name</b></label>
                <input type="text" placeholder="First Name" [(ngModel)]='EditFirstName' maxlength="30"
                    name="EditFirstName" class="form-control" #FirstNameControl="ngModel" style="margin-bottom: 10px;" required>
                    <p class="alerts" *ngIf="FirstNameControl.touched && FirstNameControl.invalid"> Enter family member name</p>
                </div>
                

                <div class="form-group">
                <label><b>Mobile Number</b></label>
                <input type="text" placeholder="MobileNumber" autocomplete="off" [(ngModel)]='EditMobileNumber' minlength=10 maxlength=13 
                    name="EditMobileNumber" class="form-control" #MobileNumberControl="ngModel"
                    style="margin-bottom: 10px;" (keypress)=_keyPress($event) required>
                    <p class="alerts" *ngIf="MobileNumberControl.errors?.pattern"> Enter valid mobile number</p>
                </div>


                <div class="form-group">
                <label><b>Relation</b></label>
                <input type="text" placeholder="Relation" [(ngModel)]='EditRelation' maxlength="20" name="EditRelation"
                    class="form-control" #RelationControl="ngModel" style="margin-bottom: 10px;" required>
                    <p class="alerts" *ngIf="RelationControl.touched && RelationControl.invalid"> Enter relation</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Upload</label>
                    <form [formGroup]="FamilyImgUploadForm" (ngSubmit)="processFile()">
                        <input type="file" name="profile" (change)="onFileSelect($event)" />
                        <button class="btn btn-primary-purple" style="margin: 5px 0px;" type="submit">Upload</button> <img
                            src="{{thumbnailFamilyLogo}}" width="50px" height="50px" />
                    </form>
                </div>


                <div style="margin-top: 20px;">
                    <button type="submit" class="btn btn-primary-purple nextBtn" [disabled]="editFamilyMember.invalid"
                        (click)='updatefamilymember()'>Update</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<!-- EDIT FAMILY MEMBER -->

<!---->
<ng-template #FamilyMemberImagetemplate>
    <div class="modal-content">
  
      <div class="modal-header">
        
        <h4 class="modal-title">Family Member Image</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img width="850px" height="750px" src="{{'data:image/jpeg;base64,'+FamilyMemImgForPopUp}}"/>
      </div>
    </div>
  </ng-template>