<div class="container-fluid p-40">
        <div class="col-sm-10" style="text-align:center">
                <span class="orange" style="font-weight: 300;font-size: 23px;">Latest Articles</span>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                       <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                                <div class="item active">
                                        <div class="row testi">
                                                <div class="col-sm-4">
                                                        <img class="d-block w-100"
                                                                src="../../assets/images/blogs/biometric2.jpg"
                                                                alt="Blog1">
                                                        <p class="shad">We’ve contributed to the creation of an industry
                                                                from scratch.We did it by being
                                                                relentless and exposing ourselves to uncertainty. This
                                                                is how you build resilience.</p>
                                                </div>
                                                <div class="col-sm-4">
                                                        <img class="d-block w-100"
                                                                src="../../assets/images/blogs/biometric2.jpg"
                                                                alt="Blog2">
                                                        <p class="shad">We’ve contributed to the creation of an industry
                                                                from scratch.We did it by being
                                                                relentless and exposing ourselves to uncertainty. This
                                                                is how you build resilience.</p>
                                                </div>
                                                <div class="col-sm-4">
                                                        <img class="d-block w-100"
                                                                src="../../assets/images/blogs/biometric2.jpg"
                                                                alt="Blog3">
                                                        <p class="shad">We’ve contributed to the creation of an industry
                                                                from scratch.We did it by being
                                                                relentless and exposing ourselves to uncertainty. This
                                                                is how you build resilience.
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                                <div class="item">
                                        <div class="row testi">
                                                <div class="col-sm-4">
                                                        <img class="d-block w-100"
                                                                src="../../assets/images/blogs/biometric2.jpg"
                                                                alt="Blog1">
                                                        <p class="shad">We’ve contributed to the creation of an industry
                                                                from scratch.We did it by being
                                                                relentless and exposing ourselves to uncertainty. This
                                                                is how you build resilience.</p>
                                                </div>
                                                <div class="col-sm-4">
                                                        <img class="d-block w-100"
                                                                src="../../assets/images/blogs/biometric2.jpg"
                                                                alt="Blog1">
                                                        <p class="shad">We’ve contributed to the creation of an industry
                                                                from scratch.We did it by being
                                                                relentless and exposing ourselves to uncertainty. This
                                                                is how you build resilience.</p>
                                                </div>
                                                <div class="col-sm-4">
                                                        <img class="d-block w-100"
                                                                src="../../assets/images/blogs/biometric2.jpg"
                                                                alt="Blog1">
                                                        <p class="shad">We’ve contributed to the creation of an industry
                                                                from scratch.We did it by being
                                                                relentless and exposing ourselves to uncertainty. This
                                                                is how you build resilience.</p>
                                                </div>
                                        </div>
                                </div>
                                <div class="item">
                                        <div class="row testi">
                                                <div class="col-sm-4">
                                                        <img class="d-block w-100"
                                                                src="../../assets/images/blogs/biometric2.jpg"
                                                                alt="Blog1">
                                                        <p class="shad">We’ve contributed to the creation of an industry
                                                                from scratch.We did it by being
                                                                relentless and exposing ourselves to uncertainty. This
                                                                is how you build resilience.</p>
                                                </div>
                                                <div class="col-sm-4">
                                                        <img class="d-block w-100"
                                                                src="../../assets/images/blogs/biometric2.jpg"
                                                                alt="Blog1">
                                                        <p class="shad">We’ve contributed to the creation of an industry
                                                                from scratch.We did it by being
                                                                relentless and exposing ourselves to uncertainty. This
                                                                is how you build resilience.</p>
                                                </div>
                                                <div class="col-sm-4">
                                                        <img class="d-block w-100"
                                                                src="../../assets/images/blogs/biometric2.jpg"
                                                                alt="Blog1">
                                                        <p class="shad">We’ve contributed to the creation of an industry
                                                                from scratch.We did it by being
                                                                relentless and exposing ourselves to uncertainty. This
                                                                is how you build resilience.</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <i class="fa fa-angle-left fa-4x" id="left" aria-hidden="true"></i>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <i class="fa fa-angle-right fa-4x" id="right" aria-hidden="true"></i>
                        </a>
                </div>
        </div>
       <div class="col-sm-2" id="list">
                <p>Last Week</p>
                <p>Last Month</p>
                <p>November 8</p>
                <p>November 6</p>
                <p>November</p>
                <p>October</p>
                <p>September</p>
                <p>August</p>
                <p>July</p>
                <p>June</p>
                <p>May</p>
                <p>April</p>
                <p>March</p>
                <p>February</p>
                <p>January</p>
        </div>      
</div>
<div class="container-fluid np safety">
                <div><img class="bimage" src="../../assets/images/blogs/biometric2.jpg"></div> 
                <div style="flex-basis: 60%;">
                  <h4>We're Here to keep safety solution, and with our people</h4>
                  <p>We’ve contributed to the creation of an industry from scratch.We did it by being relentless and exposing ourselves to uncertainty. This is how you build resilience.We’ve contributed to the creation of an industry from scratch.We did it by being relentless and exposing ourselves to uncertainty. This is how you build resilience.We’ve contributed to the creation of an industry from scratch.We did it by being relentless and exposing ourselves to uncertainty. This is how you build resilience.We’ve contributed to the creation of an industry from scratch.We did it by being relentless and exposing ourselves to uncertainty. This is how you build resilience.</p>
                </div>   
</div>