<div class="row">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step col-lg-3 col-sm-6 col-xs-12 step-active">
                <a href="#step-1" type="button" class="btn btn-success btn-circle"></a><span>Blocks
                    Details</span>
            </div>
            <div class="stepwizard-step col-lg-3 col-sm-6 col-xs-12">
                <a href="#step-2" type="button" class="btn btn-default btn-circle"></a><span>Manager
                    Details</span>
            </div>
            <div class="stepwizard-step col-lg-3 col-sm-6 col-xs-12">
                <a href="#step-3" type="button" class="btn btn-default btn-circle"></a><span>Maitainance
                    Details</span>
            </div>
            <div class="stepwizard-step col-lg-3 col-sm-6 col-xs-12">
                <a href="#step-4" type="button" class="btn btn-default btn-circle"></a><span>Bank
                    Details</span>
            </div>
        </div>
    </div>

    <form role="form" (ngSubmit)='createBlock()'>
        <div class="panel panel-primary setup-content" id="step-1">
            <!-- <div class="panel-heading">
             <h3 class="panel-title">Association Details</h3>
        </div> -->

            <div class="panel-body">
                <div class="form-group">
                    <label id=label1>Block Name <span class="red">*</span></label>
                    <input type="text" name="blockname" id="input1" autocomplete='blockname' [(ngModel)]="blockname"
                      #blocknameControl="ngModel" class="form-control" placeholder="Block Name" pattern="[a-zA-Z0-9 _]*"
                      required />
                    <p class="alerts" *ngIf="blocknameControl.invalid && blocknameControl.touched">Valid name is required</p>
                  </div>
                <div class="form-group">
                    <label>Block Type <span class="red">*</span></label>
                    <select class="form-control" name="blocktype" [(ngModel)]="blocktype" placeholder="Select Block"
                      #blocktypeControl='ngModel' required>
                      <option disabled="true" value="">Select Block</option>
                      <option value="Residential">Residential</option>
                      <option value="Commercial">Commercial</option>
                      <option value="Residential and Commercial">Residential and Commercial</option>
                    </select>
                    <p class="alerts" *ngIf="blocktypeControl.invalid && blocktypeControl.touched">Valid block type is required</p>
                </div>
                <div class="form-group">
                    <label id=label3>No of Units <span class="red">*</span></label>
                    <input type="text" name="noofunits" id="input3" autocomplete='noofunits' [(ngModel)]="noofunits"
                        #noofunitsControl="ngModel" class="form-control" placeholder="No Of Units" pattern="[0-9]*" required />
                    <p class="alerts" *ngIf="noofunitsControl.invalid && noofunitsControl.touched">No of units are required</p>
                </div>
            </div>
            <div class="col-sm-12 pull-right">
                <button class="btn btn-primary-purple nextBtn" (click)='resetStep1()' type="reset">Reset</button>
                <button class="btn btn-primary-purple nextBtn" type="button">Next</button>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-2">
            <!-- <div class="panel-heading">
             <h3 class="panel-title">Pan & Registration Details</h3>
        </div> -->
            <div class="panel-body">
                <div class="form-group">
                    <label id=label4>Manager Name <span class="red">*</span></label>
                    <input type="text" name="mngName" id="input4" autocomplete='mngName' [(ngModel)]="mngName"
                        #managernameControl="ngModel" class="form-control" placeholder="Manager Name" pattern="[a-zA-Z]*" required />
                    <p class="alerts" *ngIf="managernameControl.invalid && managernameControl.touched">Manager name is required</p>
                </div>
                <div class="form-group">
                    <label id=label5>Manager Mobile Number <span class="red">*</span></label>
                    <input type="text" name="mobile" id="input5" autocomplete='mobile' [(ngModel)]="mobile"
                        #managernumberControl="ngModel" class="form-control" placeholder="Manager Mobile Number" minlength="10"
                        maxlength="10" pattern="[0-9]*" required (keypress)=_keyPress($event) />
                    <p class="alerts" *ngIf="managernumberControl.invalid && managernumberControl.touched">Manager mobile number is required</p>
                </div>
                <div class="form-group">
                    <label id=label6>Manager Email Id <span class="red">*</span></label>
                    <input type="text" name="manageremail" id="input6" autocomplete='manageremail'
                      [(ngModel)]="manageremail" #manageremailControl="ngModel" class="form-control"
                      placeholder="Manager Email Id"
                      pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*"
                      required />
                    <p class="alerts" *ngIf="manageremailControl.invalid && manageremailControl.touched">Manager email-id is required</p>
                  </div>
            </div>
            <div class="col-sm-12 pull-right">
                <button class="btn btn-primary-purple nextBtn" (click)='resetStep2()'>Reset</button>
                <button class="btn btn-primary-purple nextBtn" type="button">Next</button>
            </div>

        </div>

        <div class="panel panel-primary setup-content" id="step-3">
            <!-- <div class="panel-heading">
             <h3 class="panel-title">Select Rate</h3>
        </div> -->
            <p class="title">Select Rate</p>

            <div class="panel-body"
                style="background: #f8f6f6;margin: 17px 52px;padding:16px 0px !important;">
                <div class="form-group">
                    <h5><input type="checkbox" class="form-check-input" id="rate" name="rate" [(ngModel)]="rate" #rateControl="ngModel" (change)="checkRate(rate)"
                        value="flatRatevalue" (click)="checking(rate)" required> Flat Rate Value</h5>
                        <div *ngIf="addRate == 'flatRatevalue'">
                            <label>Flat Rate Value <span class="red">*</span></label>
                            <input class="form-control" type="text" name="flatRatevalue" [(ngModel)]="flatRatevalue"
                              placeholder="Value" #flatRatevalueControl='ngModel' pattern="^[+-]?((\.\d+)|(\d+(\.\d+)?))$" required>
                              <p class="classred" *ngIf="flatRatevalueControl.invalid && flatRatevalueControl.touched">Invalid flat rate
                              </p>
                            <small>Amount to be charged</small>
                        </div>
                </div>

                <div class="form-group">
                    <h5><input type="checkbox" class="form-check-input" id="rate" name="rate" [(ngModel)]="rate1"  #rateControl="ngModel"
                        (change)="checkRate1(rate1)" value="dimension"  (click)="checking1(rate1)" required > Dimension Based</h5>
                    <div *ngIf="addRate1 == 'dimension'">
                        <label>Maintenance Value<span class="red">*</span></label>
                        <input class="form-control" type="text" name="maintenanceValue" #maintenanceValueControl='ngModel'
                            [(ngModel)]="maintenanceValue" placeholder="Maintenance Value " required pattern="^[0-9]+(\.[0-9]{1,2})?$">
                        <p class="classred" *ngIf="maintenanceValueControl.invalid && maintenanceValueControl.touched">Invalid Maintenance
                            Value
                        </p>
                        <small>Rate (SQFT / SQMTR) </small>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Unit of Measurement <span class="red">*</span></label>
                    <input class="form-control" type="text" disabled="true" required name="measurements" autocomplete="measurements"
                      [(ngModel)]="meter" #measurementsControl='ngModel' placeholder="Measurement Type" [value]="meter">
                  </div>
                <div class="form-group">
                    <label>Invoice Creation Frequency <span class="red">*</span></label>
                    <input class="form-control" list="frquency" name="frequency" [(ngModel)]="frequency" placeholder="Search or Select Frequency" #frequencyControl='ngModel' required multiple>
                    <datalist id="frquency">
                      <option value="">Select Frequency</option>
                      <option *ngFor="let frequency of frequencies" [value]="frequency['displayName']">
                        {{frequency['displayName']}}
                      </option>
                    </datalist>
                    <p class="alerts" *ngIf="frequencyControl.invalid && frequencyControl.touched">Invalid Invoice Frequency
                      </p>
                  </div>
                <div class="form-group">
                    <label>Invoice Generation Date <span class="red">*</span></label>
                    <!-- <ejs-datepicker placeholder='Invoice Generation Date' [min]='todayDate' format='dd-MM-yyyy' ></ejs-datepicker> -->
                    <input type="text" class="form-control" name="billGenerationDate" #NextInvoiceGenDateControl='ngModel'
                      placeholder="Invoice Generation Date" [bsConfig]="bsConfig" [(ngModel)]="billGenerationDate"
                      bsDatepicker required (bsValueChange)="onValueChange($event)" [minDate]="todayDate" placement="top"/>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Due Date <span class="red">*</span></label>
                    <input type="text" class="form-control" [class.enableBorderColor]="enableduedatevalidation" [class.classForInvalid]="enableduedatevalidation" name="dueDate" #DueDateControl='ngModel' placeholder="Due Date"
                      [bsConfig]="bsConfig" [(ngModel)]="dueDate" bsDatepicker required [minDate]="minDate"
                      (bsValueChange)="onDueDateValueChange($event)" placement="top"/>
                    <ng-container *ngIf='enableduedatevalidation'>
                      <p class="invalidFeedback">Due date should be greater than or equal to
                          invoice date
                      </p>
                    </ng-container>
                  </div>
                <div class="form-group">
                    <label class="control-label">Late Payment Charge Type</label>
                    <div class="dropdown search-dropd">
                        <button class="btn btn-primary dropdown-toggle sdm br form-control"
                            type="button" data-toggle="dropdown">{{latePymtChargeType}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu fullw">
                            <li *ngFor='let lpct of latePymtChrgTypes' (click)="getLatePymtChargeType(lpct['name'])"><a>{{lpct['name']}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Late Payment Charge <span class="red">*</span></label>
                    <input class="form-control" type="text" #latePymtChargeControl='ngModel' name="latePymtCharge"
                        autocomplete="latePymtCharge" [(ngModel)]="latePymtCharge" placeholder="Late Payment charge"
                        pattern="[0-9]+(\.[0-9][0-9]?)?" required>
                    <p class="alerts" *ngIf="latePymtChargeControl.invalid && latePymtChargeControl.touched">Invalid Late Payment Charge
                    </p>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Starts From<span class="red">*</span></label>
                    <input class="form-control" type="text" name="startsFrom" #StartsFromDateControl='ngModel'
                    [class.classForInvalid]="enablestartfromdatevalidation" placeholder="Starts From Date" [bsConfig]="bsConfig" [(ngModel)]="startsFrom" bsDatepicker required
                      [minDate]='startsFromMaxDate' (bsValueChange)="onStartsFromDateValueChange($event)" placement="bottom"/>
                    <ng-container *ngIf='enablestartfromdatevalidation'>
                        <p class="invalidFeedback">Starts from date should be greater than or equal to due date</p>
                    </ng-container>
                  </div>
                <div class="form-group">

                </div>
                <div class="form-group">

                </div>

            </div>
            <div class="col-sm-12 pull-right">
                <button class="btn btn-primary-purple nextBtn" (click)='resetStep3()'>Reset</button>
                <button class="btn btn-primary-purple nextBtn" type="button">Next</button>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-4">
            <p class="title">Bank1</p>
            <div class="panel-body">
                <div class="form-group" style="width:528px">
                    <label class="control-label">Bank Name</label>
                    <input maxlength="600" type="text" required="required" class="form-control"
                        placeholder="Bank Name" />
                </div>
                <div class="form-group">
                    <label class="control-label">IFSC</label>
                    <input maxlength="200" type="text" required="required" class="form-control"
                        placeholder="IFSC" />
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Account Number</label>
                    <input maxlength="200" type="text" required="required" class="form-control"
                        placeholder="Account Number" />
                </div>
                <div class="form-group">
                    <label class="control-label">Account Type</label>
                    <input maxlength="200" type="text" required="required" class="form-control"
                        placeholder="Account Type" />
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <p><i class="fa fa-circle-thin" aria-hidden="true"></i> Default</p>
                </div>
            </div>
            <div class="col-sm-12 purple pull-right" style="padding: 30px;">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Bank
            </div>
            <div class="col-sm-12" style="padding:0px 30px;">
                <button class="btn btn-primary-purple nextBtn pull-right" type="submit">Add
                    Block</button>
            </div>


        </div>
    </form>
</div>