<div class="container-fluid np">
    <div class="col-sm-12 mt-80">
        <!--Profile section-->
        <app-left-bar></app-left-bar>

        <!--Profile section-->

        <div class="col-xs-12 col-sm-12 col-md-11 b-l">

            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">

                <!-- <div style="display: flex;margin-bottom: 20px;align-items: flex-start;">
                        <button class="btn-primary-purple" (click)="addBlocksShow()">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add Blocks</button>
                        <div class="upload_excel">
                          <a> <img class="excel" (click)="upLoad()" src="../../assets/images/upload.png" tooltip="Have more num of Blocks?"></a>
                           <a  href="../../assets/Excel/Demo_Block_Detailstemplate.xlsx" download><img class="excel" src="../../assets/images/upload.png" tooltip="click to download demo excel format"></a>
                            <input type="file" id="file_upload_id" (change)="onFileChange($event)" multiple="false" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none" #file>
                        </div>
                </div> -->
                <form *ngIf="ShowExcelUploadDiscription">
                    <div class="row">
                        <div style="display: flex;margin-bottom: 20px;align-items: flex-start;width: 50%;margin: auto;justify-content: space-around;">
                            <div class="upload_excel">
                                <a id="blocksuploadid2"> <img style="width: 60px;" class="excel" (click)="upLoad()" src="../../assets/images/upload.png"
                                        tooltip="Have more num of Blocks?"></a>
                                <a id="blocksuploadid3" href="../../assets/Excel/Demo_Block_Detailstemplate.xlsx" download><img style="width: 60px;" class="excel"
                                        src="../../assets/images/download.png"
                                        tooltip="click to download demo excel format"></a>
                                <input type="file" id="file_upload_id" (change)="onFileChange($event)" multiple="false"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    style="display:none" #file>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-8" style="border-radius: 18px;">
                                    <h4>Excel Upload Instructions & Format:</h4>
                                    
                                    <ul>
                                       <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                       <li>Nulla ut eros quis est feugiat condimentum.</li>
                                       <li>Donec eget enim feugiat erat vehicula pretium non et urna.</li>
                                       <li>Cras vitae neque imperdiet, rhoncus orci sed, dignissim magna.</li>
                                       <li>Integer nec augue ut dolor efficitur auctor.</li>
                                       <li>Note:- Bulk Upload your Blocks file in <i class="fa fa-file-excel-o"
                                         aria-hidden="true"></i> excel format, the demo excel format can be downloaded from above</li>
                                     </ul> 
    
                            </div>
                    </div>
                </form>
                <!--  -->
                <!--  -->
                <!--  -->
                <div class="table-responsive" *ngIf='ShowExcelDataList'>
                    <!-- <table class="table table-bordered table-responsive"
                        [mfData]="excelBlockList"
                        #mf="mfDataTable" (click)="onPageChange($event)" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    S.No.
                                </th>
                                <th>
                                    <mfDefaultSorter by="BlockName">Block Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="BlockType">Block Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="NumberOfUnits">No Of Units</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="ManagerName">Manager Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="ManagerMobileNumber">Manager MobileNumber</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="ManagerEmailID">Manager EmailID</mfDefaultSorter>
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data;let i=index">
                                <ng-container *ngIf="item == -1">
                                    <td colspan="5" align="center">No Data Found</td>
                                </ng-container>
                                <ng-container *ngIf="item!=-1">
                                    <td>{{item['Sno']}}</td>
                                    <td>{{item['BlockName']}}</td>
                                    <td>{{item['BlockType']}}</td>
                                    <td>{{item['NumberOfUnits']}}</td>
                                    <td>{{item['ManagerName']}}</td>
                                    <td>{{item['ManagerMobileNumber']}}</td>
                                    <td>{{item['ManagerEmailID']}}</td>
                                   
                                </ng-container>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="15">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table> -->
                    <!-- <div id="showmanual" style="margin-top: 30px;">
                        <div *ngIf="duplicateBlocknameExist"><p style="color: red;font-size: 30px;text-transform: uppercase;">Duplicate Blockname exist please enter unique blockname</p></div>
                        <div *ngFor="let obj of blocksArray;let i= index">
                            <div class="blockdetailsdata">
                                    <div>
                                        <mat-form-field class="blockdetails-form">
                                                <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">BLOCK NAME/NUMBER<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                                <input disabled="{{obj['hasNoDuplicateBlockname']==true}}" matInput placeholder="BLOCK NAME/NUMBER" 
                                                pattern="[a-zA-Z0-9 _]*" 
                                              (keyup)="getblocknameornumber(blocksArray[i]['Id'],blocksArray[i].blockname)"
                                                class = "text" id="label" [(ngModel)]="blocksArray[i].blockname" value="">
                                       
                                        </mat-form-field>
                                        <p class="validation" *ngIf="blocksArray[i]['isnotvalidblockname']">Valid name is required</p>
                                        <p class="validation" *ngIf="blocksArray[i]['blockname']==undefined">Valid name is required</p>
            
                                    </div>
                                    <div>
                                        <mat-form-field class="blockdetails-form">
                                            <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">BLOCK TYPE<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                            <mat-select [disabled]="condition"
                                            [(value)]="blocksArray[i].blocktype">
                                                <mat-option *ngFor="let property of blockType" [value]="property">{{property}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <p class="validation" *ngIf="blocksArray[i]['blocktype']==undefined">Valid block Type is required</p>
                                    
                                    </div>
                                  <div>
                                        <mat-form-field class="blockdetails-form">
                                            <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">NO OF UNITS<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                            <input disabled="{{obj['hasNoDuplicateBlockname']==true}}" matInput placeholder="NO OF UNITS" pattern="[0-9]*"
                                            (keypress)=_keyPress($event)
                                                (keyup)="getnoofunits(blocksArray[i]['Id'],blocksArray[i].units)" [(ngModel)]="blocksArray[i].units"
                                                value="">
                                        </mat-form-field>
                                    <p class="validation" *ngIf="blocksArray[i]['isnotvalidunits']">No of units are required</p>
                                    <p class="validation" *ngIf="blocksArray[i]['units']==undefined">No of units are required</p>
    
                                  </div>
                                 <div>
                                    <mat-form-field class="blockdetails-form">
                                        <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">MANAGER NAME<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                        <input disabled="{{obj['hasNoDuplicateBlockname']==true}}" class = "text" 
                                        (keypress)="_keyPress2($event)"
                                        matInput placeholder="MANAGER NAME" 
                                        (keyup)="getmanagername(blocksArray[i]['Id'],blocksArray[i].managername)"
                                        [(ngModel)]="blocksArray[i].managername" 
                                        value=""pattern="[a-zA-Z _]*">
                                     
                                    </mat-form-field>
                                 
                                <p class="validation" *ngIf="blocksArray[i]['isnotvalidmanagername']">Manager name is required</p>
                                <p class="validation" *ngIf="blocksArray[i]['managername']==undefined">Manager name is required</p>
    
                                 </div>
                                 <div>
                                    <mat-form-field class="blockdetails-form">
                                        <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">MANAGER MOBILE NUMBER<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                        <input disabled="{{obj['hasNoDuplicateBlockname']==true}}" matInput placeholder="MANAGER MOBILE NUMBER"
                                        pattern="[0-9]*" 
                                        (keypress)=_keyPress($event)
                                        minlength="10"
                                        maxlength="10"
                                        (keyup)="getmanagermobileno(blocksArray[i]['Id'],blocksArray[i].managermobileno)"
                                            [(ngModel)]="blocksArray[i].managermobileno" value="">
                                     
                                    </mat-form-field>
                             
                                   <p class="validation" *ngIf="blocksArray[i]['isnotvalidmanagermobileno']">Manager mobile number is required</p>
                                   <p class="validation" *ngIf="blocksArray[i]['managermobileno']==undefined">Manager mobile number is required</p>
                                
                                </div>
                                <div>
                                    <mat-form-field class="blockdetails-form">
                                        <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">MANAGER EMAIL ID<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                        <input disabled="{{obj['hasNoDuplicateBlockname']==true}}" matInput placeholder="MANAGER EMAIL ID" 
                                        pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*"
                                        [(ngModel)]="blocksArray[i].manageremailid"
                                        (keyup)="getmanageremailid(blocksArray[i]['Id'],blocksArray[i].manageremailid)"
                                        value="">
                                
                                    </mat-form-field>
                                   <p class="validation" *ngIf="blocksArray[i]['isnotvalidmanageremailid']">Manager email-id is required</p>
                                   <p class="validation" *ngIf="blocksArray[i]['manageremailid']==undefined">Manager email-id is required</p>
                                </div>
                                 
                                
                            </div>
                            
                            </div>
                           <div id="blockdetailscancelbutton">
                            </div>
                        <div id="blockdetailsbuttons"class="save">
                            <a class="continue" (click)="resetStep4($event)"mat-raised-button color="primary" >RESET</a>
                            <button class="continue mat-raised-button mat-button-base mat-primary" mat-raised-button color="primary"  id="assdetailssave" color="primary" [disabled]="isblockdetailsempty" [ngStyle]="{'opacity':isblockdetailsempty ? '0.5' : '1' }" (click)="createblocksdetails('')">NEXT</button>
                        </div>
                    </div> -->
                    <div id="showmanual" style="margin-top: 30px;">
                        <p id="seperateblocks"*ngIf="blocksArray.length > 11">scroll right to view more blocks</p>
                        <div class="tab-pane">
                            <ul class="nav nav-tabs" style="display: flex;overflow-x: scroll;height:54px;">
                                <li *ngFor="let objct of blocksArray;let i= index" [ngClass]="{'active':objct.Id==objct.blockTmpid}" style="display: flex;justify-content: space-evenly;width: auto;"><a
                                        href="#{{objct.Id}}" (click)="assignBlkarrTmpid(objct.Id)"
                                        data-toggle="tab" style="display: flex;width: auto;">{{objct.blockname|uppercase}}
                                        &nbsp;&nbsp;<span></span>
                                        <!-- <i [hidden]="objct.isBlockCreated" class="fa fa-circle-thin" aria-hidden="true"></i> -->
                                        &nbsp;
                                        <i [hidden]="objct.isNotBlockCreated" class="fa fa-check-circle-o" style="color: #41ca41" aria-hidden="true"></i>
                                        <i [hidden]="objct['hasNoDuplicateBlockname']==true" class="fa fa-circle-thin" style="color: #ff0505" aria-hidden="true"></i>
                                    </a></li>
                            </ul>
                            <!-- <ul class="nav nav-tabs">
                                <li *ngFor="let objct of blocksArray;let i= index" [ngClass]="{'active':objct.Id==objct.blockTmpid}"><a
                                        href="#{{objct.Id}}" (click)="assignBlkarrTmpid(objct.Id)"
                                        data-toggle="tab">{{objct.blockname|uppercase}}
                                        &nbsp;&nbsp;<span></span>
                                        &nbsp;
                                        <i [hidden]="objct.isNotBlockCreated" class="fa fa-check-circle-o" style="color: #41ca41" aria-hidden="true"></i>
                                        <i [hidden]="objct['hasNoDuplicateBlockname']==true" class="fa fa-circle-thin" style="color: #ff0505" aria-hidden="true"></i>
                                    </a></li>
                            </ul> -->
                            <div class="tab-content">
                                <div [ngStyle]="{'display':obj.Id==obj.blockTmpid ? 'block' : 'none' }" *ngFor="let obj of blocksArray;let i= index" class="tab-pane">
                                    <div id="{{obj.Id}}" class="blockdetailsdata" style="display: flex;flex-direction: column;align-items: stretch;justify-content: space-evenly;margin-top: 20px;">
                                        <div style="display: flex; align-items: center;justify-content: space-evenly;">
                                            <div>
                                                <mat-form-field class="blockdetails-form">
                                                    <mat-label
                                                        [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">
                                                        BLOCK NAME/NUMBER<span
                                                            [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span>
                                                    </mat-label>
                                                    <input disabled="{{obj['disableField']==true}}" matInput placeholder="BLOCK NAME/NUMBER"
                                                        pattern="[a-zA-Z0-9 _]*" (keyup)="getblocknameornumber(blocksArray[i]['Id'],blocksArray[i].blockname)"
                                                        class="text" id="label" [(ngModel)]="blocksArray[i].blockname" value="">
                                                </mat-form-field>
                                                <p class="validation" *ngIf="blocksArray[i]['isnotvalidblockname']">Valid name is required</p>
                                                <p class="validation" *ngIf="blocksArray[i]['blockname']==undefined">Valid name is required</p>
                                            
                                            </div>
                                            <div>
                                                <mat-form-field class="blockdetails-form">
                                                    <mat-label
                                                    [ngClass]="{'green-lbl':blocksArray[i]['blocktype']!=undefined,'red-lbl':blocksArray[i]['blocktype']==undefined}">
                                                        BLOCK TYPE<span
                                                            [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span>
                                                    </mat-label>
                                            
                                                    <mat-select [disabled]="condition" [(value)]="blocksArray[i].blocktype">
                                                        <mat-option *ngFor="let property of blockType" [value]="property">{{property}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <p class="validation" *ngIf="blocksArray[i]['blocktype']==undefined">Valid block Type is required</p>
                                            
                                            </div>
                                            <div>
                                                <mat-form-field class="blockdetails-form">
                                                    <mat-label
                                                    [ngClass]="{'green-lbl':blocksArray[i]['units']!=undefined,'red-lbl':blocksArray[i]['units']==undefined}">
                                                        NO OF UNITS<span
                                                            [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span>
                                                    </mat-label>
                                                    <input disabled="{{obj['disableField']==true}}" matInput placeholder="NO OF UNITS" pattern="[0-9]*"
                                                        (keypress)=_keyPress($event) (keyup)="getnoofunits(blocksArray[i]['Id'],blocksArray[i].units)"
                                                        [(ngModel)]="blocksArray[i].units" value="">
                                                </mat-form-field>
                                                <p class="validation" *ngIf="blocksArray[i]['isnotvalidunits']">No of units are required</p>
                                                <p class="validation" *ngIf="blocksArray[i]['units']==undefined">No of units are required</p>
                                            
                                            </div>
                                        </div>
                                        <div style="display: flex; align-items: center;justify-content: space-evenly;">
                                            <div>
                                                <mat-form-field class="blockdetails-form">
                                                    <mat-label [ngClass]="{'green-lbl':blocksArray[i]['managername']!=undefined,'red-lbl':blocksArray[i]['managername']==undefined}">MANAGER NAME<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                                    <input disabled="{{obj['disableField']==true}}" class = "text" 
                                                    (keypress)="_keyPress2($event)"
                                                    matInput placeholder="MANAGER NAME" 
                                                    (keyup)="getmanagername(blocksArray[i]['Id'],blocksArray[i].managername)"
                                                    [(ngModel)]="blocksArray[i].managername" 
                                                    value=""pattern="[a-zA-Z _]*">
                                                </mat-form-field>
                                            <p class="validation" *ngIf="blocksArray[i]['isnotvalidmanagername']">Manager name is required</p>
                                            <p class="validation" *ngIf="blocksArray[i]['managername']==undefined">Manager name is required</p>
                
                                             </div>
                                             <div>
                                                <mat-form-field class="blockdetails-form">
                                                    <mat-label [ngClass]="{'green-lbl':blocksArray[i]['managermobileno']!=undefined,'red-lbl':blocksArray[i]['managermobileno']==undefined}">MANAGER MOBILE NUMBER<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                                    <input disabled="{{obj['disableField']==true}}" matInput placeholder="MANAGER MOBILE NUMBER"
                                                    pattern="[0-9]*" 
                                                    (keypress)=_keyPress($event)
                                                    minlength="10"
                                                    maxlength="10"
                                                    (keyup)="getmanagermobileno(blocksArray[i]['Id'],blocksArray[i].managermobileno)"
                                                        [(ngModel)]="blocksArray[i].managermobileno" value="">
                                                </mat-form-field>
                                               <p class="validation" *ngIf="blocksArray[i]['isnotvalidmanagermobileno']">Manager mobile number is required</p>
                                               <p class="validation" *ngIf="blocksArray[i]['managermobileno']==undefined">Manager mobile number is required</p>
                                            
                                            </div>
                                            <div>
                                                <mat-form-field class="blockdetails-form">
                                                    <mat-label [ngClass]="{'green-lbl':blocksArray[i]['manageremailid']!=undefined,'red-lbl':blocksArray[i]['manageremailid']==undefined}">MANAGER EMAIL ID<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                                    <input disabled="{{obj['disableField']==true}}" matInput placeholder="MANAGER EMAIL ID" 
                                                    pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*"
                                                    [(ngModel)]="blocksArray[i].manageremailid"
                                                    (keyup)="getmanageremailid(blocksArray[i]['Id'],blocksArray[i].manageremailid)"
                                                    value="">
                                                </mat-form-field>
                                               <p class="validation" *ngIf="blocksArray[i]['isnotvalidmanageremailid']">Manager email-id is required</p>
                                               <p class="validation" *ngIf="blocksArray[i]['manageremailid']==undefined">Manager email-id is required</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="blockdetailsbuttons1"class="save">
                                        <button class="continue" (click)="resetforduplicatesorinvalidblocks($event,obj.Id)" mat-raised-button color="primary" [disabled]="obj.hasNoDuplicateBlockname" [ngStyle]="{'opacity':obj.hasNoDuplicateBlockname ? '0.5' : '1' }" >RESET</button>
                                        <button class="continue mat-raised-button mat-button-base mat-primary" mat-raised-button color="primary"  id="assdetailssave" color="primary" [disabled]="isblockdetailsempty" [ngStyle]="{'opacity':isblockdetailsempty ? '0.5' : '1' }" (click)="createblocksdetails('')">NEXT</button>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        <!---->
                        <!-- <div *ngIf="duplicateBlocknameExist"><p style="color: red;font-size: 30px;text-transform: uppercase;">Duplicate Blockname exist please enter unique blockname</p></div> -->
                        <!-- <div *ngFor="let obj of blocksArray;let i= index">
                            <div class="blockdetailsdata">
                                    <div>
                                        <mat-form-field class="blockdetails-form">
                                                <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">BLOCK NAME/NUMBER<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                                <input disabled="{{obj['disableField']==true}}" matInput placeholder="BLOCK NAME/NUMBER" 
                                                pattern="[a-zA-Z0-9 _]*" 
                                              (keyup)="getblocknameornumber(blocksArray[i]['Id'],blocksArray[i].blockname)"
                                                class = "text" id="label" [(ngModel)]="blocksArray[i].blockname" value="">
                                        </mat-form-field>
                                        <p class="validation" *ngIf="blocksArray[i]['isnotvalidblockname']">Valid name is required</p>
                                        <p class="validation" *ngIf="blocksArray[i]['blockname']==undefined">Valid name is required</p>
            
                                    </div>
                                    <div>
                                        <mat-form-field class="blockdetails-form">
                                            <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">BLOCK TYPE<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
    
                                            <mat-select [disabled]="condition"
                                            [(value)]="blocksArray[i].blocktype">
                                                <mat-option *ngFor="let property of blockType" [value]="property">{{property}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <p class="validation" *ngIf="blocksArray[i]['blocktype']==undefined">Valid block Type is required</p>
                                    
                                    </div>
                                  <div>
                                        <mat-form-field class="blockdetails-form">
                                            <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">NO OF UNITS<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                            <input disabled="{{obj['disableField']==true}}" matInput placeholder="NO OF UNITS" pattern="[0-9]*"
                                            (keypress)=_keyPress($event)
                                                (keyup)="getnoofunits(blocksArray[i]['Id'],blocksArray[i].units)" [(ngModel)]="blocksArray[i].units"
                                                value="">
                                        </mat-form-field>
                                    <p class="validation" *ngIf="blocksArray[i]['isnotvalidunits']">No of units are required</p>
                                    <p class="validation" *ngIf="blocksArray[i]['units']==undefined">No of units are required</p>
            
                                  </div>
                                 <div>
                                    <mat-form-field class="blockdetails-form">
                                        <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">MANAGER NAME<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                        <input disabled="{{obj['disableField']==true}}" class = "text" 
                                        (keypress)="_keyPress2($event)"
                                        matInput placeholder="MANAGER NAME" 
                                        (keyup)="getmanagername(blocksArray[i]['Id'],blocksArray[i].managername)"
                                        [(ngModel)]="blocksArray[i].managername" 
                                        value=""pattern="[a-zA-Z _]*">
                                    </mat-form-field>
                                <p class="validation" *ngIf="blocksArray[i]['isnotvalidmanagername']">Manager name is required</p>
                                <p class="validation" *ngIf="blocksArray[i]['managername']==undefined">Manager name is required</p>
    
                                 </div>
                                 <div>
                                    <mat-form-field class="blockdetails-form">
                                        <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">MANAGER MOBILE NUMBER<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                        <input disabled="{{obj['disableField']==true}}" matInput placeholder="MANAGER MOBILE NUMBER"
                                        pattern="[0-9]*" 
                                        (keypress)=_keyPress($event)
                                        minlength="10"
                                        maxlength="10"
                                        (keyup)="getmanagermobileno(blocksArray[i]['Id'],blocksArray[i].managermobileno)"
                                            [(ngModel)]="blocksArray[i].managermobileno" value="">
                                    </mat-form-field>
                                   <p class="validation" *ngIf="blocksArray[i]['isnotvalidmanagermobileno']">Manager mobile number is required</p>
                                   <p class="validation" *ngIf="blocksArray[i]['managermobileno']==undefined">Manager mobile number is required</p>
                                
                                </div>
                                <div>
                                    <mat-form-field class="blockdetails-form">
                                        <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">MANAGER EMAIL ID<span [ngClass]="{'green-lbl':obj['hasNoDuplicateBlockname']==true,'red-lbl':obj['hasNoDuplicateBlockname']==false}">*</span></mat-label>
                                        <input disabled="{{obj['disableField']==true}}" matInput placeholder="MANAGER EMAIL ID" 
                                        pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*"
                                        [(ngModel)]="blocksArray[i].manageremailid"
                                        (keyup)="getmanageremailid(blocksArray[i]['Id'],blocksArray[i].manageremailid)"
                                        value="">
                                    </mat-form-field>
                                   <p class="validation" *ngIf="blocksArray[i]['isnotvalidmanageremailid']">Manager email-id is required</p>
                                   <p class="validation" *ngIf="blocksArray[i]['manageremailid']==undefined">Manager email-id is required</p>
                                </div>
                            </div>
                            
                            </div> -->
                         
                     
                    </div>
                 
                    <!-- <div>
                        <button style="float: right;" class="btn-primary-purple" (click)="createBlockFromExcel()"><i class="fa fa-plus" aria-hidden="true"></i> Upload Excel Blocks</button>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</div>




