<div class="container-fluid bg np" style="margin-top: 20px;">
        <div class="col-sm-9">
          <!--Profile section-->
          <app-left-bar></app-left-bar>
          <!--Profile section-->
          <div class="col-xs-12 col-sm-12 col-md-11 b-l">
            <span class="black">Balance Sheet</span>
            <div class="cus-panel">
              <div style="display: flex;"> 
                <!--top header-->            
                <div style="display: flex;">
                    <div style="font-weight: 600;">ABC PVT. LTD.</div>                    
                </div>
                <div><img src="../../assets/images/icons/printer.png"></div>
                <!--top header-->
              </div>
              <div>
                  <table class="table table-bordered" style="box-shadow: 0px 1px 3px 0px #d4d1d1ee;">
                      <thead>
                        <tr>
                          <th class="txt-center" style="color: #fff !important;">Profit and Loss Account</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="txt-center">For A Period Ending Oct-Dec 2019</td>
                        </tr>                
                      </tbody>
                    </table>
              </div>     
              <div>
                <table class="table table-bordered" style="margin: 0px;">
                  <thead>
                    <tr>
                      <th style="color: #fff !important;">Liablities</th>
                      <th style="color: #fff !important;">Amount</th>
                      <th style="color: #fff !important;">Assets</th>
                      <th style="color: #fff !important;">Amount</th>                 
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>09-12-2019</td>
                      <td>xxxxx</td>
                      <td>lorem ipsum</td>
                      <td>120</td>                  
                    </tr>
                    <tr>
                      <td>09-12-2019</td>
                      <td>xxxxx</td>
                      <td>lorem ipsum</td>
                      <td>120</td>                   
                    </tr>
                    <tr>
                      <td>09-12-2019</td>
                      <td>xxxxx</td>
                      <td>lorem ipsum</td>
                      <td>120</td>                     
                    </tr>                
                  </tbody>
                </table>
              </div>     
            </div>
          </div>
        </div>
        <!--rightBar start-->
        <app-right-bar></app-right-bar>
        <!--rightBar end-->
      </div>