<div class="container">
        <h2 class="p-40 orange cont-middle">About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat</p>
</div>
<div class="container-fluid team">
        <div class="text-middle">
                <img src="../../assets/images/sunil_sir.png">
                <h4 class="test_title">Sunil More Shivaji Rao</h4>
                <h5 class="test_designation">CEO, Founder, OyeSpace</h5>
        </div>
        <div class="text-middle">
                <img src="../../assets/images/ram_sir.png">
                <h4 class="test_title">Ramteja Arigela</h4>
                <h5 class="test_designation">Co Founder, Director</h5>
        </div>
        <div class="text-middle">
                <img src="../../assets/images/sowmya.png">
                <h4 class="test_title">Sowmya Padmanabhuni</h4>
                <h5 class="test_designation">General Manager</h5>
        </div>
</div>
