<!--Title Area-->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Clients</h2>
            <ul>
                <li><a routerLink="../clients">Home</a></li>
                <li>Clients</li>
            </ul>
        </div>
    </div>
</div>
<!--Title Area-->
<div class="build-bg">
        <div class="container" style="padding: 100px;">
            <div class="col-sm-12 team">
                <img src="../../assets/images/clients/aol.png">
                <img src="../../assets/images/clients/axis.png">
                <img src="../../assets/images/clients/dbs.png">
                <img src="../../assets/images/clients/dlf.png">
            </div>
            <div class="col-sm-12 team p-40">
                <img src="../../assets/images/clients/godrej.png">
                <img src="../../assets/images/clients/microsoft.png">
                <img src="../../assets/images/clients/prestige.png">
                <img src="../../assets/images/clients/unitech.png">
            </div>
        </div>
</div>