<div class="container-fluid bg np">

  <div class="col-sm-12 mt-80">

    <!--Profile section-->

    <app-left-bar></app-left-bar>

    <!--Profile section-->

    <div class="col-xs-12 col-sm-12 col-md-11 b-l">

      <h4 class="black m-t-30">Customer Statement</h4>

      <!--customer statement table start-->

      <div class="cust-statement">



        <h5 class="cust-title">Report for {{globalservice.getCurrentAssociationName()}} of Unit </h5>





        <div class="dropdown" style="width: 200px;">

          <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
            data-toggle="dropdown">{{(UnitNameForDisplay == ''?'Select Unit':UnitNameForDisplay)}}

            <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>

          <ul class="dropdown-menu fullw" style="height: 200px;">

            <li *ngFor='let item of associationTotalMembers'
              (click)="getCurrentUnitDetails(item['unUnitID'],item['unUniName'])">

              <a>{{item['unUniName']}}</a></li>

          </ul>

        </div>

        <div>

          <div class="dropdown">

            <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button" data-toggle="dropdown"
              style="width: 300px;margin-right: 10px">{{PaymentStatus}}

              <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>

            <ul class="dropdown-menu fullw">

              <li (click)="getPaidUnpaidDetail(blck.displayName)" *ngFor='let blck of frequencys'>
                <a>{{blck.displayName}}</a></li>

            </ul>

          </div>

        </div>

        <div><button class="btn-primary-purple">Cancel</button></div>



      </div>

      <div>

        <label>Search</label>

        <input type="text" [(ngModel)]="searchTxt" class="form-control" name="searchTxt"
          placeholder="Search by Unit Name, Payment Description or Amount">

      </div>
      <div class="dropdown" style="width: 200px;">
        <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
          data-toggle="dropdown">{{(ShowNumberOfEntries=='ShowNumberOfEntries'?ShowNumberOfEntries:setnoofrows)}}
          <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
        <ul class="dropdown-menu fullw">
          <li *ngFor='let rows of rowsToDisplay' (click)="setRows(rows['RowNum'])">
            <a>{{rows['RowNum']}}</a></li>
        </ul>
      </div>
      <!--customer statement table start-->

      <!--Details Panel-->

      <table class="table table-bordered"
        [mfData]="allpaymentdetails | search:['unUnitID', 'pyDesc', 'pyDate','pyAmtDue']:searchTxt"
        #mf="mfDataTable" (click)="onPageChange($event)" [mfRowsOnPage]="setnoofrows">

        <thead>

          <tr>

            <th>

              S.No.

            </th>

            <th>

              <mfDefaultSorter (click)="removeColumnSort('UnitName')" by="unUniName">Unit Name&nbsp;<i [hidden]="columnName=='UnitName'" class="fa fa-sort"></i></mfDefaultSorter>

            </th>

            <th>

              <mfDefaultSorter (click)="removeColumnSort('PaymentDescription')" by="pyDesc">Payment Description&nbsp;<i [hidden]="columnName=='PaymentDescription'" class="fa fa-sort"></i></mfDefaultSorter>

            </th>

            <th>

              <mfDefaultSorter (click)="removeColumnSort('PaymentDate')" by="pydCreated">Payment Date&nbsp;<i [hidden]="columnName=='PaymentDate'" class="fa fa-sort"></i></mfDefaultSorter>

            </th>

            <th>

              <mfDefaultSorter (click)="removeColumnSort('AmountDue')" by="pyAmtDue">Amount Due&nbsp;<i [hidden]="columnName=='AmountDue'" class="fa fa-sort"></i></mfDefaultSorter>

            </th>

            <th>

              <mfDefaultSorter (click)="removeColumnSort('AmountPaid')" by="pyAmtPaid">Amount Paid&nbsp;<i [hidden]="columnName=='AmountPaid'" class="fa fa-sort"></i></mfDefaultSorter>

            </th>

            <th>

              Action

            </th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let item of mf.data;let i=index">

            <ng-container *ngIf="item == -1">

              <td colspan="7" align="center">No Data Found</td>

            </ng-container>

            <ng-container *ngIf="item!=-1">

              <td>{{ (10 * (p - 1) + i)+1 }}</td>

              <td>{{item.unUniName}}</td>

              <td>{{item.pyDesc}}</td>

              <td>{{item.pydCreated|date:"yyyy/MM/dd"}}</td>

              <td class="amount">{{'₹ '+item.pyAmtDue+'.00'}}</td>

              <td class="amount">{{'₹ '+item.pyAmtPaid+'.00'}}</td>

              <td><i (click)="OpenCustomerModel(customertemplate,item['pyDate'],item['acAccntID'],item['pyBal'],item['pyAmtDue'],item['inNumber'],item['pyDesc'],item['pyAmtPaid'],item['pyStat'],item['unUnitID'])" class="fa fa-eye"></i>
              </td>

            </ng-container>

          </tr>

        </tbody>

        <tfoot>

          <tr>

            <td colspan="7">

              <mfBootstrapPaginator></mfBootstrapPaginator>

            </td>

          </tr>

        </tfoot>

      </table>

    </div>



  </div>

  <!--rightBar start-->

  <!-- <app-right-bar></app-right-bar> -->

  <!--rightBar end-->

</div>

<!--  -->
<ng-template #customertemplate>

  <div class="modal-content">

    <div class="cus-panel">

      <div>

        <!--top header-->

        <div><img src="../../assets/sOyeSociety.png"></div>

        <div>

          <h3>{{globalservice.getCurrentAssociationName()}}</h3>

        </div>

        <div><img src="../../assets/images/icons/printer.png"></div>

        <!--top header-->

      </div>

      <div>

        <div class="cus-details">

          <p></p>

          <p><b>Date:</b> {{pyDate|date:'dd/MM/yyyy'}}</p>

          <p class="bill">Bill To</p>

          <p><b>Name:</b> {{ResidentName}}</p>

          <p><b>Last Name:</b> {{ResidentLastName}}</p>

          <p><b>Street Address:</b></p>

          <p><b>City:</b> Banglore</p>

          <p><b>Phone Number:</b> {{ResidentMobileNum}}</p>

        </div>

        <div class="cus-details">

          <!-- <p><b>Statement:</b> November 30, 2019</p> -->

          <p><b>Customer Id:</b>{{acAccntID}}</p>

          <p class="bill">Account Summary</p>

          <p><b>Previous Balance:</b>{{pyBal}}</p>

          <!-- <p><b>Credits</b></p> -->

          <!-- <p><b>New Charges</b></p> -->

          <p><b>Total Balance Due:</b>{{pyAmtDue}}</p>

          <p><b>Payment Due Date</b></p>

        </div>

      </div>



      <div>

        <table class="table table-bordered">

          <thead>

            <tr>

              <th style="color: #fff !important;">Date</th>

              <th style="color: #fff !important;">Invoice</th>

              <th style="color: #fff !important;">Description</th>

              <!-- <th style="color: #fff !important;"> Charges</th> -->

              <!-- <th style="color: #fff !important;">Credits</th> -->

              <th style="color: #fff !important;">Paid</th>

            </tr>

          </thead>

          <tbody>

            <tr>

              <td>{{pyDate|date:'dd/MM/yyyy'}}</td>

              <td>{{inNumber}}</td>

              <td>{{pyDesc}}</td>

              <!-- <td>120</td> -->

              <!-- <td>10</td> -->

              <td><i class="fa fa-inr"></i>{{pyAmtPaid}}.00</td>

            </tr>

            <!-- <tr>

              <td>09-12-2019</td>

              <td>xxxxx</td>

              <td>lorem ipsum</td>

              <td>120</td>

              <td>10</td>

              <td>12345</td>

            </tr> -->

            <!-- <tr>

              <td>09-12-2019</td>

              <td>xxxxx</td>

              <td>lorem ipsum</td>

              <td>120</td>

              <td>10</td>

              <td>12345</td>

            </tr> -->

            <tr style="text-align: right;">

              <td colspan="6">

                <p style="color: #000;font-size: 17px;">Paid amount:  <i class="fa fa-inr"></i>{{pyAmtPaid}}</p>

              </td>

            </tr>

          </tbody>

        </table>

      </div>

      <p class="txt-center">It is a long established fact that a reader will be distracted by the readable content

        of

        a page when looking at its layout. The point of using Lorem Ipsum</p>

      <p class="txt-center">Make All the cheque payable to my company name</p>

      <h5 class="txt-center">Thank You For Your Business</h5>

      <hr>

      <p style="text-align: center;">Neo Town, Electronic city Phase 1, Bengaluru-560010</p>

      <div>

        <p><b>Telephone:</b> 7876878576</p>

        <p><b>Fax:</b> 343233454352</p>

        <p><b>Email:</b> info@OyeSpace.com</p>

        <p><b>Website:</b> www.OyeSpace.com</p>

      </div>

    </div>

  </div>

</ng-template>
<!--  -->

<ng-template #RenameItWhileUsing>

  <div class="modal-content">

    <div class="cus-panel">

      <div>

        <!--top header-->

        <div><img src="../../assets/sOyeSociety.png"></div>

        <div>

          <h3>OyeSpace Pvt Ltd</h3>

        </div>

        <div><img src="../../assets/images/icons/printer.png"></div>

        <!--top header-->

      </div>

      <div>

        <div class="cus-details">

          <p></p>

          <p><b>Date:</b> {{pyDate|date:'dd/MM/yyyy'}}</p>

          <p class="bill">Bill To</p>

          <p><b>Name:</b></p>

          <p><b>Company Name:</b></p>

          <p><b>Street Address:</b></p>

          <p><b>City:</b></p>

          <p><b>Phone Number</b></p>

        </div>

        <div class="cus-details">

          <!-- <p><b>Statement:</b> November 30, 2019</p> -->

          <p><b>Customer Id:</b>{{acAccntID}}</p>

          <p class="bill">Account Summary</p>

          <p><b>Previous Balance:</b>{{pyBal}}</p>

          <p><b>Credits</b></p>

          <p><b>New Charges</b></p>

          <p><b>Total Balance Due</b></p>

          <p><b>Payment Due Date</b></p>

        </div>

      </div>



      <div>

        <table class="table table-bordered">

          <thead>

            <tr>

              <th style="color: #fff !important;">Date</th>

              <th style="color: #fff !important;">Invoice</th>

              <th style="color: #fff !important;">Description</th>

              <th style="color: #fff !important;"> Charges</th>

              <th style="color: #fff !important;">Credits</th>

              <th style="color: #fff !important;">Total</th>

            </tr>

          </thead>

          <tbody>

            <tr>

              <td>09-12-2019</td>

              <td>xxxxx</td>

              <td>lorem ipsum</td>

              <td>120</td>

              <td>10</td>

              <td>12345</td>

            </tr>

            <tr>

              <td>09-12-2019</td>

              <td>xxxxx</td>

              <td>lorem ipsum</td>

              <td>120</td>

              <td>10</td>

              <td>12345</td>

            </tr>

            <tr>

              <td>09-12-2019</td>

              <td>xxxxx</td>

              <td>lorem ipsum</td>

              <td>120</td>

              <td>10</td>

              <td>12345</td>

            </tr>

            <tr style="text-align: right;">

              <td colspan="6">

                <p style="color: #000;font-size: 17px;">Account total Balance: 2,000</p>

              </td>

            </tr>

          </tbody>

        </table>

      </div>

      <p class="txt-center">It is a long established fact that a reader will be distracted by the readable content

        of

        a page when looking at its layout. The point of using Lorem Ipsum</p>

      <p class="txt-center">Make All the cheque payable to my company name</p>

      <h5 class="txt-center">Thank You For Your Business</h5>

      <hr>

      <p style="text-align: center;">Neo Town, Electronic city Phase 1, Bengaluru-560010</p>

      <div>

        <p><b>Telephone:</b> 7876878576</p>

        <p><b>Fax:</b> 343233454352</p>

        <p><b>Email:</b> info@OyeSpace.com</p>

        <p><b>Website:</b> www.OyeSpace.com</p>

      </div>

    </div>

  </div>

</ng-template>