<!--/*/*/*/* RECIPTS FOR ADMIN START /*/*/*/*-->
<div *ngIf="globalservice.mrmroleId == 1" class="container-fluid np">
    <div class="col-sm-12 mt-80">
        <!--Profile section-->
        <app-left-bar></app-left-bar>
        <!--Profile section-->
        <div class="col-xs-12 col-sm-12 col-md-11 b-l">
            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">
                <div class="enr-bt">
                    <div style="display: flex;align-items: center;">
                    <span class="black">Receipts For {{globalservice.currentAssociationName}} Of Unit </span>
                    <div class="dropdown" style="width: 200px;margin-left: 10px; margin-top: -7px;">
                        <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                            data-toggle="dropdown">{{(UnitNameForDisplay == ''?'Select Unit':UnitNameForDisplay)}}
                            <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                        <ul class="dropdown-menu fullw" style="height: 200px;">
                            <li *ngFor='let item of associationTotalMembers'
                                (click)="getCurrentUnitDetails(item['unUnitID'],item['unUniName'])">
                                <a>{{item['unUniName']}}</a></li>
                        </ul>
                    </div> 
                        
                </div>
                    <div class="switch">
                        <ul class="nav nav-pills">
                            <li><a (click)="goToExpense()">Expenses</a></li>
                            <li><a (click)="goToInvoice()">Invoice</a></li>
                            <li class="active"><a (click)="goToReceipts()">Receipts</a></li>
                        </ul>
                    </div>
                </div>




                <div *ngIf='generatereceiptservice.enableReceiptListView'>
                    <!-- <input type="text" [(ngModel)]="searchTxt" class="form-control" name="searchTxt"
                        placeholder="search name"> -->
                        <div class="enroll" style="background: #f8f8f8;padding: 20px 10px;">
                            <div class="sea"><input type="text" class="form-control" [(ngModel)]="searchTxt" id="mySearch" name="searchTxt" placeholder="Search Name">
                            </div>
                            <div class="del-date cal"><input type="text" name="ReceiptStartDate" #InvoiceStartDateControl='ngModel' [(ngModel)]="ReceiptStartDate" placeholder="From Date" class="date" bsDatepicker></div>
                            <div class="del-date cal"><input type="text" (bsValueChange)="getReceiptListByDateRange($event)" name="ReceiptEndDate" #InvoiceEndDateControl='ngModel'  [(ngModel)]="ReceiptEndDate" placeholder="To Date" class="date" bsDatepicker></div>
                        </div>
                </div>
                <div class="dash-row" *ngIf='generatereceiptservice.enableReceiptListView'>

                    <table class="table table-bordered"
                        [mfData]="viewPayments | search:['unUnitID', 'inNumber', 'pydCreated','pyAmtPaid']:searchTxt"
                        #mf="mfDataTable" (click)="onPageChange($event)" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    S.No.
                                </th>
                                <th>
                                    <mfDefaultSorter by="unUnitID">Unit Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="inNumber">Invoice No</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="pydCreated">Payment Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="pyAmtPaid">Amount</mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    Action
                                </th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data;let i=index">
                                <ng-container *ngIf="item == -1">
                                    <td colspan="6" align="center">No Data Found</td>
                                </ng-container>
                                <ng-container *ngIf="item!=-1">
                                    <td style="cursor: pointer" (click)="OpenViewReceiptModal(Receipts,item['unUnitID'],item['inNumber'],item['pydCreated'],item['pyAmtPaid'],item['unUniName'],item['pyAmtDue'],item['pyBal'])">{{ (10 * (p - 1) + i)+1 }}</td>
                                    <td style="cursor: pointer" (click)="OpenViewReceiptModal(Receipts,item['unUnitID'],item['inNumber'],item['pydCreated'],item['pyAmtPaid'],item['unUniName'],item['pyAmtDue'],item['pyBal'])">{{item['unUniName']}}</td>
                                    <td style="cursor: pointer" (click)="OpenViewReceiptModal(Receipts,item['unUnitID'],item['inNumber'],item['pydCreated'],item['pyAmtPaid'],item['unUniName'],item['pyAmtDue'],item['pyBal'])">{{item['inNumber']}}</td>
                                    <td style="cursor: pointer" (click)="OpenViewReceiptModal(Receipts,item['unUnitID'],item['inNumber'],item['pydCreated'],item['pyAmtPaid'],item['unUniName'],item['pyAmtDue'],item['pyBal'])" class="amount">{{item['pydCreated'] | date : "d-M-y"}}</td>
                                    <td style="cursor: pointer" (click)="OpenViewReceiptModal(Receipts,item['unUnitID'],item['inNumber'],item['pydCreated'],item['pyAmtPaid'],item['unUniName'],item['pyAmtDue'],item['pyBal'])" class="amount"><i class="fa fa-inr"></i> {{item['pyAmtPaid']}}.00</td>
                                    <!-- <td> <i data-toggle="modal" data-target="#ViewReceiptTemplate" style="cursor: pointer"
                                            (click)="viewReceipt(item['unUnitID'],item['inNumber'],item['pyDate'],item['pyAmtPaid'])"
                                            class="fa fa-eye" tooltip="view Receipt"></i> </td> -->

                                    <!-- <td> <i style="cursor: pointer" (click)="OpenViewReceiptModal(Receipts,item['unUnitID'],item['inNumber'],item['pydCreated'],item['pyAmtPaid'],item['unUniName'],item['pyAmtDue'],item['pyBal'])"
                                            class="fa fa-eye" tooltip="view Receipt"></i> </td> -->
                                </ng-container>
                            </tr>
                            <tr *ngIf="viewPayments.length == 0">
                                <ng-container>
                                    <td colspan="6" align="center">No Data Found</td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <a (click)="convert()">Generate PDF</a>
                </div>
                <div *ngIf='generatereceiptservice.enableGenerateReceiptView' class="dash-row">
                    <app-generate-receipt></app-generate-receipt>
                </div>
            </div>
            <!--Dashboard icons end-->

        </div>

    </div>
    <!--rightBar start-->
    <!-- <app-right-bar></app-right-bar> -->
    <!--rightBar end-->
</div>
<!--/*/*/*/* RECIPTS FOR ADMIN END /*/*/*/*-->


<!--/*/*/*/* RECIPTS FOR RESIDENT START /*/*/*/*-->
<div *ngIf="globalservice.mrmroleId != 1" class="container-fluid np">
    <div class="col-sm-12">
        <!--Profile section-->
        <app-left-bar></app-left-bar>
        <!--Profile section-->
        <div class="col-xs-12 col-sm-12 col-md-11 b-l">
            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">
                 <div class="enr-bt">
                        <span class="black">Receipts For {{globalservice.currentAssociationName}}</span>

                        <div class="switch">
                            <ul class="nav nav-pills" style="width: 214px;">
                                <li><a (click)="goToInvoice()">Invoice</a></li>
                                <li class="active"><a (click)="goToReceipts()">Receipts</a></li>
                            </ul>
                        </div>
                 </div>

                
                <div *ngIf='generatereceiptservice.enableReceiptListView'>
                    <input type="text" [(ngModel)]="searchTxt" class="form-control" name="searchTxt"
                        placeholder="search name">
                </div>
                <div class="dash-row" *ngIf='generatereceiptservice.enableReceiptListView'>

                    <table class="table table-bordered"
                        [mfData]="viewPayments | search:['unUnitID', 'inNumber', 'pyDate','pyAmtPaid']:searchTxt"
                        #mf="mfDataTable" (click)="onPageChange($event)" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    S.No.
                                </th>
                                <th>
                                    <mfDefaultSorter by="unUnitID">Unit Number</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="inNumber">Invoice No</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="pyDate">Payment Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="pyAmtPaid">Amount</mfDefaultSorter>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data;let i=index">
                                <ng-container *ngIf="item == -1">
                                    <td colspan="6" align="center">No Data Found</td>
                                </ng-container>
                                <ng-container *ngIf="item!=-1">
                                    <td>{{ (10 * (p - 1) + i)+1 }}</td>
                                    <td>{{item['unUniName']}}</td>
                                    <td>{{item['inNumber']}}</td>
                                    <td class="amount">{{item['pyDate'] | date : "d-M-y"}}</td>
                                    <td class="amount"><i class="fa fa-inr"></i> {{item['pyAmtPaid']}}.00</td>
                                    <!-- <td> <i data-toggle="modal" data-target="#ViewReceiptTemplate" style="cursor: pointer"
                                            (click)="viewReceipt(item['unUnitID'],item['inNumber'],item['pyDate'],item['pyAmtPaid'])"
                                            class="fa fa-eye" tooltip="view Receipt"></i> </td> -->
                                    <td> <i style="cursor: pointer"
                                            (click)="OpenViewReceiptModal(Receipts,item['unUnitID'],item['inNumber'],item['pyDate'],item['pyAmtPaid'])"
                                            class="fa fa-eye" tooltip="view Receipt"></i> </td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                <div *ngIf='generatereceiptservice.enableGenerateReceiptView' class="dash-row">
                    <app-generate-receipt></app-generate-receipt>
                </div>
            </div>
            <!--Dashboard icons end-->

        </div>

    </div>
    <!--rightBar start-->
    <!-- <app-right-bar></app-right-bar> -->
    <!--rightBar end-->
</div>
<!--/*/*/*/* RECIPTS FOR RESIDENT END /*/*/*/*-->

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>

<div class="modal fade" id="ViewReceiptTemplate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding-top:20px; background-color: #e1e1e1;">
                <h4 class="modal-title" style="margin-left: 300px;" id="myModalLabel"><u>View Receipt</u></h4>
                <button type="button" class="close" data-dismiss="modal" style="left:100%" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">

                <fieldset class="scheduler-border">
                    <div class="row" style="text-align:center;">
                        <br>
                        <div class="col-sm-3">
                            <p></p>
                            <h4>UnitIdentifier: </h4><span>{{unitIdentifier}}</span>
                            <p></p>
                            <br>
                        </div>
                        <div class="col-sm-3">
                            <p></p>
                            <h4>InvoiceNumber: </h4><span>{{invoiceNumber}}</span>
                            <p></p>
                            <br>
                        </div>

                        <div class="col-sm-3">
                            <p></p>
                            <h4>PaymentDate: </h4><span>{{pymtDate | date : "d-M-y"}}</span>
                            <p></p>
                            <br>
                        </div>
                        <div class="col-sm-3">
                            <p></p>
                            <h4>AmountPaid: </h4><span>{{amountPaid}}.00</span>
                            <p></p>
                            <br>
                        </div>

                    </div>
                </fieldset>

            </div>
        </div>
    </div>
</div>
<!---->
<ng-template #Receipts>
    <div class="modal-header">
        <h4 class="modal-title orange">RECEIPT</h4>
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button> -->
    </div>
    <div class="modal-body">
        <div class="receipt-head">
            <p class="purple">{{globalservice.getCurrentAssociationName()}}</p>
            <p>{{UnitName}}</p>
        </div>
        <p class="summary">Receipt Summary</p>
        <div class="receipt-head">
            <div>
                <p><strong>Invoice Number:</strong> {{InvoiceNum}}</p>
                <p><strong>Payment Date:</strong> {{paymentDate}}</p>
            </div>
            <p>Reciept Id-10498776</p>
        </div>
        <table class="table">

            <tbody>
                <tr>
                    <td>Amout Due</td>
                    <td>₹ {{AmountDue}}.00</td>
                </tr>
                <tr>
                    <td>Amount Paid</td>
                    <td>₹ {{AmountPaid}}.00</td>
                </tr>
                <tr>
                    <td>Current Outstanding</td>
                    <td>(-)₹ {{Balance}}.00</td>
                </tr>

            </tbody>
        </table>
        <div class="print-receipt">
            <button class="btn-primary-purple"><i class="fa fa fa-print" aria-hidden="true"></i> Print
                Receipt</button>
        </div>
    </div>
</ng-template>