<div class="container-fluid np">

    <div class="col-sm-12 mt-80">

        <!--Profile section-->

        <app-left-bar></app-left-bar>

        <!--Profile section-->
        <div class="col-xs-12 col-sm-12 col-md-11 b-l">
            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">
                <div style="display: flex">

                    <span style="width: 263px;" class="purple">Units Management for Block</span>

                    <div style="float:left;margin:0px" class="form-group">

                        <div class="dropdown">

                            <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                                data-toggle="dropdown">{{blBlkName}}

                                <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>

                            <ul class="dropdown-menu fullw">

                                <li *ngFor='let blck of blocks'
                                    (click)="getAllUnitDetailsByBlockID(blck.blBlockID,blck.blBlkName)"><a>{{blck.blBlkName}}</a></li>

                            </ul>

                        </div>

                    </div>

                </div>
            <form *ngIf="ShowExcelUploadDiscription">
                    <div class="row">
                        <div style="display: flex;margin-bottom: 20px;align-items: flex-start;width: 50%;margin: auto;justify-content: space-around;">

                            <div class="upload_excel">
                            
                                <a id="unitsbulkupload3">
                                    <img style="width:60px" class="excel" (click)="upLoad()" src="../../assets/images/upload.png"
                                        tooltip="Have more num of Blocks?"></a>
                            
                                <a id="unitsbulkupload4" href="../../assets/Excel/Demo_Unit_Detailstemplate.xlsx" download><img style="width:60px" class="excel"
                                        src="../../assets/images/download.png" tooltip="click to download demo excel format"></a>
                            
                                <input type="file" id="file_upload_id" (change)="onFileChange($event)" multiple="false"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    style="display:none" #file>
                            
                            </div>

                        </div>

                    </div>

                    <div class="row">


                        <div class="col-sm-8">

                            <div class="col-sm-8" style="border-radius: 18px;">
                                <h4>Excel Upload Instructions & Format:</h4>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li>Nulla ut eros quis est feugiat condimentum.</li>
                                    <li>Donec eget enim feugiat erat vehicula pretium non et urna.</li>
                                    <li>Cras vitae neque imperdiet, rhoncus orci sed, dignissim magna.</li>
                                    <li>Integer nec augue ut dolor efficitur auctor.</li>
                                    <li>Note:- Bulk Upload your Units file in <i class="fa fa-file-excel-o"
                                            aria-hidden="true"></i> excel format, the demo excel format can be
                                        downloaded from above</li>
                                </ul>

                            </div>


                        </div>


                    </div>

                </form>

                <!-- -->

                <!-- -->

                <!-- -->

                <div class="dash-row" *ngIf='ShowExcelDataList'>

                    <!-- <table class="table table-bordered" [mfData]="excelUnitList" #mf="mfDataTable"
                        (click)="onPageChange($event)" [mfRowsOnPage]="10">

                        <thead>

                            <tr>

                                <th>

                                    S.No.

                                </th>

                                <th>

                                    <mfDefaultSorter by="Unit Name - Flat no.">Unit Name - Flat no.</mfDefaultSorter>

                                </th>

                                <th>

                                    <mfDefaultSorter by="UnitType">Unit Type</mfDefaultSorter>

                                </th>


                                <th>

                                    <mfDefaultSorter by="OccupancyAndOwnershipStatus">Occupancy And OwnershipStatus
                                    </mfDefaultSorter>

                                </th>

                                <th>

                                    <mfDefaultSorter by="OwnerFirstName">Owner First Name</mfDefaultSorter>

                                </th>

                                <th>

                                    <mfDefaultSorter by="OwnerLastname">Owner Lastname</mfDefaultSorter>

                                </th>

                                <th>

                                    <mfDefaultSorter by="OwnerMobile">Owner Mobile</mfDefaultSorter>

                                </th>

                                <th>

                                    <mfDefaultSorter by="OwnerEmailID">Owner EmailID</mfDefaultSorter>

                                </th>

                                <th>

                                    <mfDefaultSorter by="TenantFirstName">Tenant FirstName</mfDefaultSorter>

                                </th>

                                <th>

                                    <mfDefaultSorter by="TenantLastName">Tenant LastName</mfDefaultSorter>

                                </th>

                                <th>

                                    <mfDefaultSorter by="TenantMobileNumber">Tenant MobileNumber</mfDefaultSorter>

                                </th>

                                <th>

                                    <mfDefaultSorter by="TenantEmail">Tenant EmailID</mfDefaultSorter>

                                </th>

                            </tr>

                        </thead>

                        <tbody>

                            <tr *ngFor="let item of mf.data;let i=index">

                                <ng-container *ngIf="item == -1">

                                    <td colspan="5" align="center">No Data Found</td>

                                </ng-container>

                                <ng-container *ngIf="item!=-1">

                                    <td>{{item['Sno']}}</td>

                                    <td>{{item['Unit Name - Flat no.']}}</td>

                                    <td>{{item['UnitType']}}</td>

                                    <td>{{item['OccupancyAndOwnershipStatus']}}</td>

                                    <td>{{item['OwnerFirstName']}}</td>

                                    <td>{{item['OwnerLastname']}}</td>

                                    <td>{{item['OwnerMobile']}}</td>

                                    <td>{{item['OwnerEmailID']}}</td>

                                    <td>{{item['TenantFirstName']}}</td>

                                    <td>{{item['TenantLastName']}}</td>

                                    <td>{{item['TenantMobileNumber']}}</td>

                                    <td>{{item['TenantEmail']}}</td>


                                </ng-container>

                            </tr>

                        </tbody>

                        <tfoot>

                            <tr>

                                <td colspan="15">

                                    <mfBootstrapPaginator></mfBootstrapPaginator>

                                </td>

                            </tr>

                        </tfoot>

                    </table> -->
                    <div id="unitsbulkold">
                        <mat-tab-group class="mainpage" [(selectedIndex)]="demo2TabIndex"> 
                            <div class="blockdetailsdata">
                               <mat-tab  class = "text"[label]="blBlkName">
                                <div *ngIf="duplicateUnitrecordexist"><p style="color: red;font-size: 30px;text-transform: uppercase;">Duplicate Unitname exist please enter unique unitname</p></div>
                                   <div class="blockdetailsdata" *ngFor="let obj of unitlistjson[blBlkName];let i= index">
                                    <form class="blockdetails-form1" style="margin-top: 30px;">
                                       <div>
                                           <mat-form-field class="blockdetails-form1">
                                               <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">UNIT NO/FLAT NO<span [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">*</span></mat-label>
                                               <input disabled="{{obj['hasNoDuplicateUnitname']==true}}" class = "text" matInput placeholder="UNIT NO/FLAT NO"
                                                (keyup)="getUnitName(unitlistjson[blBlkName][i]['Id'],unitlistjson[blBlkName][i]['flatno'],blBlkName)"[(ngModel)]="obj.flatno"[ngModelOptions]="{standalone:
                                                   true}"  value="">
                                           </mat-form-field>
                                           <p class="validation" *ngIf="unitlistjson[blBlkName][i]['isnotvalidflatno']">Valid unit no is required</p>
                                           <p class="validation" *ngIf="unitlistjson[blBlkName][i]['flatno']==undefined">Valid unit no is required</p>
           
                                        </div>
           
                                          <div>
                                           <mat-form-field class="blockdetails-form1">
                                            <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">UNIT TYPE<span [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">*</span></mat-label>
                                               <mat-select disabled="{{obj['hasNoDuplicateUnitname']==true}}" [(value)]="obj.unittype">
                                                   <mat-option *ngFor="let country of unittypedata" [value]="country">{{country}}
                                                   </mat-option>
                                               </mat-select>
                                           </mat-form-field>
                                           <p class="validation" *ngIf="unitlistjson[blBlkName][i]['unittype']==undefined">Valid Unit Type is required</p>
                                          </div>
           
                                        <div>
                                           <mat-form-field class="blockdetails-form1">
                                            <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">OCCUPANCY & OWNERSHIP STATUS<span [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">*</span></mat-label>
                                               <mat-select disabled="{{obj['hasNoDuplicateUnitname']==true}}" [(value)]="obj.ownershipstatus">
                                                   <mat-option *ngFor="let status of occupancy" [value]="status">{{status}}
                                                   </mat-option>
                                               </mat-select>
                                           </mat-form-field>
                                           <p class="validation" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']==undefined">Valid ownershipstatus is required</p>
                                       </div>
                                    
                                    <div>
                                       <mat-form-field class="blockdetails-form1" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Vacant Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Owner Occupied Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit'">
                                           <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">OWNER FIRST NAME<span [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">*</span></mat-label>
                                           <input disabled="{{obj['hasNoDuplicateUnitname']==true}}" class = "text" matInput placeholder="OWNER FIRSTNAME" 
                                           pattern="[a-zA-Z _]*"
                                           (keypress)=_keyPress2($event)  
                                           (keyup)="getownerfirstname(unitlistjson[blBlkName][i]['Id'],unitlistjson[blBlkName][i]['ownerfirstname'],blBlkName)"
                                           [(ngModel)]="obj.ownerfirstname"[ngModelOptions]="{standalone:
                                               true}" value="">
                                       </mat-form-field> 
                                       <p class="validation" *ngIf="unitlistjson[blBlkName][i]['isnotvalidownerfirstname']">Valid owner firstname is required</p>
                                       <p class="validation" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Vacant Unit' && unitlistjson[blBlkName][i]['ownerfirstname']==undefined||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Vacant Unit' && unitlistjson[blBlkName][i]['ownerfirstname']==undefined ||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['ownerfirstname']==undefined || unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Owner Occupied Unit' && unitlistjson[blBlkName][i]['ownerfirstname']==undefined">Valid owner firstname is required</p>
                                    </div>
                                           <div>
                                               <mat-form-field class="blockdetails-form1" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Vacant Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Owner Occupied Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit'">
                                                   <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">OWNER LAST NAME<span [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">*</span></mat-label>
                                                   <input disabled="{{obj['hasNoDuplicateUnitname']==true}}" class = "text" matInput placeholder="OWNER LASTNAME" 
                                                   (keyup)="getownerlastname(unitlistjson[blBlkName][i]['Id'],unitlistjson[blBlkName][i]['ownerlastname'],blBlkName)"
                                                   pattern="[a-zA-Z _]*"
                                                   (keypress)=_keyPress2($event)  
                                                   [(ngModel)]="obj.ownerlastname"
                                                   [ngModelOptions]="{standalone:true}" value="">
                                               </mat-form-field>
                                       <p class="validation" *ngIf="unitlistjson[blBlkName][i]['isnotvalidownerlastname']">Valid owner lastname is required</p>
                                       <p class="validation" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Vacant Unit' && unitlistjson[blBlkName][i]['ownerlastname']==undefined ||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['ownerlastname']==undefined || unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Owner Occupied Unit' && unitlistjson[blBlkName][i]['ownerlastname']==undefined">Valid owner lastname is required</p> 
                                           </div>
                                   
                                  <div>
                                   <mat-form-field class="blockdetails-form1" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Vacant Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Owner Occupied Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit'">
                                       <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">OWNER MOBILE NUMBER<span [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">*</span></mat-label>
                                       <input disabled="{{obj['hasNoDuplicateUnitname']==true}}" matInput placeholder="OWNER MOBILE NUMBER"
                                       pattern="[0-9]*" 
                                       (keyup)="getownermobilenumber(unitlistjson[blBlkName][i]['Id'],unitlistjson[blBlkName][i]['ownermobilenumber'],blBlkName)"
                                       minlength="10" maxlength="10"
                                       (keypress)=_keyPress($event)
                                       [ngModelOptions]="{standalone:true}"
                                           [(ngModel)]="obj.ownermobilenumber" value="">
                                   </mat-form-field>
                                   <p class="validation" *ngIf="unitlistjson[blBlkName][i]['isnotvalidownermobilenumber']">Valid 10 digit mobile number is required</p>
                                   <p class="validation" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Vacant Unit' && unitlistjson[blBlkName][i]['ownermobilenumber']==undefined ||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['ownermobilenumber']==undefined || unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Owner Occupied Unit' && unitlistjson[blBlkName][i]['ownermobilenumber']==undefined">Valid 10 digit mobile number is required</p> 
                                  </div>
                                         
                             <div>
                               <mat-form-field class="blockdetails-form1"*ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Vacant Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Owner Occupied Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit'">
                                   <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">OWNER EMAIL ID<span [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">*</span></mat-label>
                                   <input disabled="{{obj['hasNoDuplicateUnitname']==true}}" matInput placeholder="OWNER EMAIL-ID"
                                   (keyup)="getowneremaiid(unitlistjson[blBlkName][i]['Id'],unitlistjson[blBlkName][i]['owneremaiid'],blBlkName)"
                                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                   [(ngModel)]="obj.owneremaiid"[ngModelOptions]="{standalone:true}"value="">
                               </mat-form-field>
                               <p class="validation" *ngIf="unitlistjson[blBlkName][i]['isnotvalidowneremaiid']">valid email-id is required</p>
                               <p class="validation" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Vacant Unit' && unitlistjson[blBlkName][i]['owneremaiid']==undefined ||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['owneremaiid']==undefined || unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Owner Occupied Unit' && unitlistjson[blBlkName][i]['owneremaiid']==undefined">valid email-id is required</p> 
                             </div>
           
                                   <div>
                                       <mat-form-field class="blockdetails-form1"*ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='UnSold Tenant Occupied Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit'">
                                           <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">TENANT FIRST NAME<span [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">*</span></mat-label>
                                           <input disabled="{{obj['hasNoDuplicateUnitname']==true}}" class="text" matInput placeholder="TENANT FIRSTNAME" 
                                           pattern="[a-zA-Z _]*"
                                           (keypress)=_keyPress2($event)  
                                           [(ngModel)]="obj.tenantfirstname"
                                   (keyup)="gettenantfirstname(unitlistjson[blBlkName][i]['Id'],unitlistjson[blBlkName][i]['tenantfirstname'],blBlkName)"
                                               [ngModelOptions]="{standalone:true}" value="">
                                       </mat-form-field>
                                       <p class="validation" *ngIf="unitlistjson[blBlkName][i]['isnotvalidtenantfirstname']">Valid firstname is
                                           required</p>
                                           <p class="validation" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='UnSold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['tenantfirstname']==undefined||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['tenantfirstname']==undefined">Valid firstname is
                                               required</p>
                                   </div>           
                                   <div>
                                       <mat-form-field class="blockdetails-form1"*ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='UnSold Tenant Occupied Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit'">
                                           <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">TENANT LAST NAME<span [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">*</span></mat-label>
                                           <input disabled="{{obj['hasNoDuplicateUnitname']==true}}" class = "text" matInput placeholder="TENANT LASTNAME" 
                                           pattern="[a-zA-Z _]*"
                                           (keypress)=_keyPress2($event)  
                                           (keyup)="gettenantlastname(unitlistjson[blBlkName][i]['Id'],unitlistjson[blBlkName][i]['tenantlastname'],blBlkName)"
                                           [(ngModel)]="obj.tenantlastname"
                                           [ngModelOptions]="{standalone:true}" value="">
                                       </mat-form-field>
                                       <p class="validation" *ngIf="unitlistjson[blBlkName][i]['isnotvalidtenantlastname']"> Valid lastname is required</p>
                                        <p class="validation" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='UnSold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['tenantlastname']==undefined||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['tenantlastname']==undefined">Valid lastname is
                                           required</p> 
                                   </div>
                                    <div>
                                       <mat-form-field class="blockdetails-form1"
                                           *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='UnSold Tenant Occupied Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit'">
                                           <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">TENANT MOBILE NUMBER<span [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">*</span></mat-label>
                                           <input disabled="{{obj['hasNoDuplicateUnitname']==true}}" matInput placeholder="TENANT MOBILE NUMBER" 
                                           pattern="[0-9]*"
                                           minlength="10" maxlength="10"
                                           (keypress)=_keyPress($event)
                                   (keyup)="gettenantmobilenumber(unitlistjson[blBlkName][i]['Id'],unitlistjson[blBlkName][i]['tenantmobilenumber'],blBlkName)"
                                           [(ngModel)]="obj.tenantmobilenumber"
                                           [ngModelOptions]="{standalone:true}" value="">
                                       </mat-form-field>
                                       <p class="validation" *ngIf="unitlistjson[blBlkName][i]['isnotvalidtenantmobilenumber']">Valid mobile number is
                                           required</p>
                                       <p class="validation" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='UnSold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['tenantmobilenumber']==undefined||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['tenantmobilenumber']==undefined">Valid mobile number is
                                               required</p> 
                                   </div>  
                                     <div>
                                           <mat-form-field  class="blockdetails-form1"*ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='UnSold Tenant Occupied Unit'||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit'">
                                               <mat-label [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">TENANT EMAIL ID<span [ngClass]="{'green-lbl':obj['hasNoDuplicateUnitname']==true,'red-lbl':obj['hasNoDuplicateUnitname']==false}">*</span></mat-label>
                                               <input disabled="{{obj['hasNoDuplicateUnitname']==true}}" matInput placeholder="TENANT EMAIL-ID" 
                                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                   (keyup)="gettenantemaiid(unitlistjson[blBlkName][i]['Id'],unitlistjson[blBlkName][i]['tenantemaiid'],blBlkName)"
                                               [(ngModel)]="obj.tenantemaiid"
                                               [ngModelOptions]="{standalone:true}" value="">
                                           </mat-form-field>
                                       <p class="validation" *ngIf="unitlistjson[blBlkName][i]['isnotvalidtenantemaiid']"> Valid email-id is required</p>
                                       <p class="validation" *ngIf="unitlistjson[blBlkName][i]['ownershipstatus']=='UnSold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['tenantemaiid']==undefined||unitlistjson[blBlkName][i]['ownershipstatus']=='Sold Tenant Occupied Unit' && unitlistjson[blBlkName][i]['tenantemaiid']==undefined">Valid email-id is required</p> 
                                       </div>
                                       
                                      
                                       </form>
                                   </div>
                                   <div>
                                   <!-- <button style="position: fixed;top: 55%;right: 2%;"  id="unitbulkbutton" mat-raised-button color="primary" (click)="submitforbulkupload($event)">Bulk Upload</button>  -->
                                   <!-- <button style="margin-top:12px;float: right;" id="button2" mat-raised-button color="primary" (click)="submitforbulkupload($event)">Bulk Upload</button> -->
           
                                   </div>
                                   <div>
                                       <button id="unitssubmit" mat-raised-button color="primary" disabled={{!isunitdetailsempty}} (click)="gotonexttab1($event,blBlkName)">{{SubmitOrSaveAndContinue1}}</button>
                                   </div>
                                   <div class="save">
                                       <a class="continue" (click)="resetStep5bulk($event,blBlkName)"mat-raised-button color="primary">RESET</a>
                                   </div>    
                                
                               </mat-tab>
                            
                           </div> 
           
                       
                        </mat-tab-group> 
                       </div>
                    <!-- <div>
                        <button style="float: right;" class="btn-primary-purple" (click)="createUnitFromExcel()">
                            <i class="fa fa-plus" aria-hidden="true"></i>Upload Excel Blocks</button>
                    </div> -->

                </div>



            </div>

        </div>

    </div>

</div>