<!--How its works Title  Area-->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>About Us</h2>

        </div>
    </div>
</div>
<!--How its works Title  Area-->


<!--How its works Content  Area-->

<section class="about-area ptb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="about-content hiw">
                <p class="tc"> A Bengaluru, India based company - ScuareX is a web and mobile app based Housing Society Safety Management and ERP Platform that has established a firm foothold in Mumbai, Delhi, Pune, Jaipur, Chandigarh, Indore, Kanpur, Lucknow, Bengaluru, Chennai, Kochi, and Hyderabad. At ScuareX our aim is to provide you with a well shielded, transparent, congenial and fun community living experience. </p>
                <p class="tc"> ScuareX is a dynamic conglomeration of multiple dimensions that allow for smooth and efficient management of a residential complex. Functions such as entry/exit of staff & visitors and guest validation, patrolling, expense capture, invoices can be managed and supervised systematically and digitally. Moreover, ScuareX has native features like Walkie-Talkie, Drone patrolling, AI powered automatic invoicing & reminders to residents for dues, automatic payments to vendors etc., play an important part in reducing time required to manage mundane tasks but, also bring in a lot of transparency. </p> 
                    <p class="tc"> These values have been and will always be the driving force to deliver impeccable service and raise the bar consistently.</p>
                        <p class="tc">  All you have to do is <a (click)="openModal6(reqdemo)" >ask for a demo</a>, we will walk you through our entire range of exciting products and deploy our services as per your convenience.  You then become an elite member of the India’s most trusted partner in managing your housing complex intelligently.</p>

            </div>
            
        </div>
    </div>


    <div class="shape-img9"><img src="../../assets/images/4.png" alt="image"></div>
</section>
<!--How its works Content  Area-->
<!-- <div class="container">
        <div class="cols-m-12" style="display: flex;justify-content: space-evenly;align-items: center;    margin-bottom: 50px;">
                <div class="tc">
                    <img src="../../assets/images/sunil_sir.png">  
                    <h4>Sunil More Shivaji Rao</h4>  
                    <p>Founder, MD & CEO</p>
                </div>
                <div class="tc">
                      <img src="../../assets/images/ram_sir.png">  
                      <h4>Ramteja Arigela</h4>  
                      <p>Co Founder, Director</p>
                  </div>
                  <div class="tc">
                      <img src="../../assets/images/sowmya.png">  
                      <h4>Sowmya Padmanabhuni</h4>  
                      <p>Co Founder, General Manager</p>
                  </div>
              </div>
</div> -->
 <!--Request a Demo pop up box-->
 <ng-template #reqdemo>

    <div class="modal-header" style="background: #82808026;display: flex;justify-content: space-between;">
        <h4 class="modal-title" style="width: 100%;">Request a demo</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid" style="width:100%">

            <div class="col-sm-12 np">
                    <form action="form.php" method="POST" #ContactForm="ngForm">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label id=label1>Full Name<span class="red">*</span></label>
                                            <input type="text" class="form-control" placeholder="Full Name" name="firstname"
                                                [(ngModel)]="firstname" autocomplete='name' #nameControl="ngModel"
                                                pattern="[a-zA-Z0-9 _]*" required>
                                            <p class="alerts" *ngIf="nameControl.invalid && nameControl.touched">Valid name is
                                                required</p>
                                        </div>
                                    </div>
            
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label id=label1>Email Id <span class="red">*</span></label>
                                            <input type="email" class="form-control" placeholder="Your Email Address" name="mailid"
                                                [(ngModel)]="mailid" autocomplete='email' #emailControl="ngModel"
                                                pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*"
                                                required>
                                            <p class="alerts" *ngIf="emailControl.invalid && emailControl.touched">Valid Email Id
                                                required</p>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="col-sm-12">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label id=label1>Phone Number <span class="red">*</span></label>
                                            <input type="text" class="form-control" name="mobileNumber"
                                                placeholder="Your Mobile Number" autocomplete='mobileNumber'
                                                [(ngModel)]="mobileNumber" #numberControl="ngModel" minlength="10" maxlength="10"
                                                pattern="[0-9]*" required (keypress)=_keyPress($event)>
                                            <p class="alerts" *ngIf="numberControl.invalid && numberControl.touched">Valid mobile no
                                                required</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label id=label1>Your Subject <span class="red">*</span></label>
                                                <input name="Subject" class="form-control" cols="30" [(ngModel)]="Subject" rows="10"
                                                    placeholder="Your Subject" required="required"
                                                    data-error="Write your message">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
            
                                </div>
            
                                <div class="col-sm-12">
                                        <div class="col-lg-4 col-md-4">
                                                <div class="form-group">
                                                    <label id=label1>City</label>
                                                    <input name="City" class="form-control" cols="30" [(ngModel)]="City" rows="10"
                                                        placeholder="Your City" required="required"
                                                        data-error="Write your message">
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4">
                                                    <div class="form-group">
                                                        <label id=label1>Country</label>
                                                        <input name="Country" class="form-control" cols="30" [(ngModel)]="Country" rows="10"
                                                            placeholder="Your Country" required="required"
                                                            data-error="Write your message">
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                        <div class="form-group">
                                                            <label id=label1>Locality</label>
                                                            <input name="Locality" class="form-control" cols="30" [(ngModel)]="Locality" rows="10"
                                                                placeholder="Your Locality" required="required"
                                                                data-error="Write your message">
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                    </div>
                                </div>
                            
                                            <div class="col-sm-12">
                                                    <div class="col-lg-12 col-md-12">
                                                        <div class="form-group">
                                                            <label id=label1>Your Message</label>
                                                            <textarea name="Message" class="form-control" cols="30" [(ngModel)]="Message" rows="10"
                                                                placeholder="Your Message" required="required"
                                                                data-error="Write your message"></textarea>
                                                            <div class="help-block with-errors"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                <div class="col-sm-12">
                                    <div class="col-lg-12 col-md-12" style="width: 100%;">
                                        <button type="submit" name="submit" [disabled]="ContactForm.invalid" class="btn btn-primary"
                                            (click)="submitContactForm()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
             </div>
            <!--Refund Policy details part-->
        </div>
    </div>
</ng-template>
<!--Terms and Conditions pop up box-->