<!--How its works Title  Area-->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>About Us</h2>

        </div>
    </div>
</div>
<!--How its works Title  Area-->


<!--How its works Content  Area-->

<section class="about-area ptb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="about-content hiw">
                <p class="tc"> Founded in 2017 as an OyeSpace holding company, ScuareX is a web/app based Housing Society Management and Safety System that has established a firm foothold in Mumbai, Delhi, Pune, Jaipur, Chandigarh, Indore, Kanpur, Lucknow, Bengaluru, Chennai, Kochi, Hyderabad and we are growing exponentially. Our perspective to provide a shielded environment for your home has been and will always be the driving force to deliver impeccable service and raise the bar consistently.<br><br>

                    ScuareX is a dynamic conglomeration of multiple dimensions that allow a smooth and efficient management of a residential complex. Factors such as entry/exit of staff & visitors, guests, facilities, assets, day-to-day operations, patrolling can be managed and supervised systematically and digitally. Moreover, ScuareX plays its part in bringing the community together and engage the residents in a fun and productive manner.<br><br>
                    
                    All you have to do is get in touch with us, we will walk you through our range of products and deploy our services as per your convenience.</p>

            </div>
            
        </div>
    </div>


    <div class="shape-img9"><img src="../../assets/images/4.png" alt="image"></div>
</section>
<!--How its works Content  Area-->
<div class="container">
        <div class="cols-m-12" style="display: flex;justify-content: space-evenly;align-items: center;    margin-bottom: 50px;">
                <div class="tc">
                    <img src="../../assets/images/sunil_sir.png">  
                    <h4>Sunil More Shivaji Rao</h4>  
                    <p>Founder, MD & CEO</p>
                </div>
                <div class="tc">
                      <img src="../../assets/images/ram_sir.png">  
                      <h4>Ramteja Arigela</h4>  
                      <p>Co Founder, Director</p>
                  </div>
                  <div class="tc">
                      <img src="../../assets/images/sowmya.png">  
                      <h4>Sowmya Padmanabhuni</h4>  
                      <p>Co Founder, General Manager</p>
                  </div>
              </div>
</div>
