<!-- <a id="loginPanel1">right-to-left</a> -->
<div class="col-sm-3 p-r-n" *ngIf='globalService.mrmroleId == 1'>
        <!--Right Menu-->
        <div class="col-xs-12 col-sm-12 np search-results">
                 <!--Row1-->
                <div>
                        <div class="col-sm-12 np flat-list-row">
                            <div class="search-res-row">
                                <div><img class="icon" src="../../assets/images/icons/association _management.png">
                                </div>
                                <div style="flex-basis: 200px" class="f-des"><a (click)='goToAssociation()'>Association
                                        Management</a>
                                </div>
                            </div>
        
                        </div>
                </div>
                <!--Row1-->
                <!--Row2-->
                    <div>
                        <div class="col-sm-12 np flat-list-row">
                            <div class="search-res-row">
                                <div><img class="icon" src="../../assets/images/icons/units_blocks.png">
                                </div>
                                <div style="flex-basis: 200px" class="f-des"><a (click)='goToBlocks()'>Units And Blocks</a></div>
                            </div>
        
                        </div>
                    </div>
                <!--Row2-->
                <!--Row3-->
                <div>
                        <div class="col-sm-12 np flat-list-row">
                                <div class="search-res-row">
                                        <div><img class="icon" src="../../assets/images/icons/Group 1778.png">
                                        </div>
                                        <div style="flex-basis: 200px" class="f-des"><a (click)="goToExpense()">Expense Management</a></div>
                                </div>

                        </div>
                </div>
                <!--Row3-->
                <!--Row4-->
                <!-- <div>
                        <div class="col-sm-12 np flat-list-row">
                                <div class="search-res-row">
                                        <div><img class="icon" src="../../assets/images/icons/Group 1777.png">
                                        </div>
                                        <a (click)="goToSubscription()"> <div style="flex-basis: 200px" class="f-des">Subscription Management
                                        </div></a>
                                </div>

                        </div>
                </div> -->
                <!--Row4-->
                <!--Row5-->
                <!-- <div>
                        <div class="col-sm-12 np flat-list-row">
                                <div class="search-res-row">
                                        <div><img class="icon" src="../../assets/images/icons/invoices.png">
                                        </div>
                                        <div style="flex-basis: 200px" class="f-des">Invoices
                                        </div>
                                </div>

                        </div>
                </div> -->
                <!--Row5-->
                <div class="search-res-row2 p-t-45">
                        <a (click)="goToFamily()"><div class="icons-row">
                                <img class="icon" src="../../assets/images/icons/family.png">
                                <span>Family</span>
                                <span>Members</span>
                        </div></a>
                        <a (click)="goToVisitors()"> <div class="icons-row">
                                <img class="icon" src="../../assets/images/icons/visitors.png">
                                <span>Visitors</span>
                        </div></a>
                        <a (click)='goToVehicles()'>
                                <div class="icons-row">
                                        <img class="icon" src="../../assets/images/icons/vehicles.png">
                                        <span>Vehicles</span>
                                </div>
                        </a>
                       
                </div>
                <!--Row4-->
                <!--Row5-->
                <div class="search-res-row2">
                        <a (click)="goToPatrolling()"> <div class="icons-row">
                                <img class="icon" src="../../assets/images/icons/family_members.png">
                                <span>Patrolling</span>
                        </div></a>
                        <a (click)="goToReports()"><div class="icons-row">
                                <img class="icon" src="../../assets/images/icons/reports.png">
                                <span>Reports</span>
                        </div></a>
                        <div class="icons-row">
                                <!-- <img class="icon" src="../../assets/images/icons/tickets.png"> -->
                                <span>&nbsp;</span>
                        </div>
                </div>
                <!--Row5-->
                <!--Right Menu-->

        </div>
</div>



<!-- FOR ADMIN / RESIDENT -->

 

<div class="col-sm-3 p-r-n" *ngIf='globalService.mrmroleId != 1'>
        <div class="col-xs-12 col-sm-12 np search-results">
                 <!--Row1-->
                <div>
                        <div class="col-sm-12 np flat-list-row">
                            <div class="search-res-row">
                                <div><img class="icon" src="../../assets/images/icons/association _management.png">
                                </div>
                                <div style="flex-basis: 200px" class="f-des"><a (click)='goToAssociation()'>Association
                                        Management</a>
                                </div>
                            </div>
        
                        </div>
                </div>
                <!--Row1-->
                <!--Row2-->
                    <div>
                        <div class="col-sm-12 np flat-list-row DisableOption">
                            <div class="search-res-row">
                                <div><img class="icon" src="../../assets/images/icons/units_blocks.png">
                                </div>
                                <div style="flex-basis: 200px" class="f-des">Units And Blocks</div>
                            </div>
        
                        </div>
                    </div>
                <!--Row2-->
                <!--Row3-->
                <div>
                        <div class="col-sm-12 np flat-list-row DisableOption">
                                <div class="search-res-row">
                                        <div><img class="icon" src="../../assets/images/icons/Group 1778.png">
                                        </div>
                                        <div style="flex-basis: 200px" class="f-des"><a (click)="goToExpense()">Expense Management</a></div>
                                </div>

                        </div>
                </div>
                <!--Row3-->
                <!--Row4-->
                <!-- <div>
                        <div class="col-sm-12 np flat-list-row">
                                <div class="search-res-row">
                                        <div><img class="icon" src="../../assets/images/icons/Group 1777.png">
                                        </div>
                                        <a (click)="goToSubscription()"> <div style="flex-basis: 200px" class="f-des">Subscription Management
                                        </div></a>
                                </div>

                        </div>
                </div> -->
                <!--Row4-->
                <!--Row5-->
                <!-- <div>
                        <div class="col-sm-12 np flat-list-row">
                                <div class="search-res-row">
                                        <div><img class="icon" src="../../assets/images/icons/invoices.png">
                                        </div>
                                        <div style="flex-basis: 200px" class="f-des">Invoices
                                        </div>
                                </div>

                        </div>
                </div> -->
                <!--Row5-->
                <div class="search-res-row2 p-t-45">
                        <a (click)="goToFamily()"><div class="icons-row">
                                <img class="icon" src="../../assets/images/icons/family.png">
                                <span>Family</span>
                                <span>Members</span>
                        </div></a>
                        <a (click)="goToVisitors()"> <div class="icons-row">
                                <img class="icon" src="../../assets/images/icons/visitors.png">
                                <span>Visitors</span>
                        </div></a>
                        <a (click)='goToVehicles()'>
                                <div class="icons-row">
                                        <img class="icon" src="../../assets/images/icons/vehicles.png">
                                        <span>Vehicles</span>
                                </div>
                        </a>
                       
                </div>
                <!--Row4-->
                <!--Row5-->
                <div class="search-res-row2">
                        <div class="icons-row DisableOption">
                                <img class="icon" src="../../assets/images/icons/family_members.png">
                                <span>Patrolling</span>
                        </div>
                        <div class="icons-row DisableOption">
                                <img class="icon" src="../../assets/images/icons/reports.png">
                                <span>Reports</span>
                        </div>
                        <div class="icons-row">
                                <img class="icon" src="../../assets/images/icons/tickets.png">
                                <span>Tickets</span>
                        </div>
                </div>
                <!--Row5-->
                <!--Right Menu-->

        </div>
</div>
