<div class="row">
        <!--Slider Part Start-->
            <section>
                <div class="col-sm-12 bg">
                    <!--Slider Part Start-->
                    <div class="container slider">
                        <div class="col-sm-6 slide-text pt">
                                <span class="oye-bt" style="color: #387BA4;font-size: 36px;">Accounting</span>
                                <p class="desc">The nerve centre of community living is pooling in money by every home in the community to ‘maintain common facilities’.  ScuareX leverages the power of Data-science, Artificial Intelligence and Advanced Automation Algorithms easing this complex task.</p>
                                <div class="col-sm-12 np">
                                    <a (click)="openModal6(reqdemo)">Request a Demo</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div> 
            </section>
        <!--Slider Part End-->
        
            <div class="col-sm-12">
                <p style="text-align: center;padding: 33px 150px;background: #000;color: #fff;font-size: 22px;">With ScuareX, you can rest easy knowing that you are prepared to <br>meet every security challenge head on!</p>
            </div>
        
        <section>
            <div class="col-sm-12">
                <p class="quote">From ensuring timely vendor and bill payments and effective maintenance to keeping 
                        all stakeholders periodically informed, we know that it takes a lot to keep your association up 
                        and running.<br>To help take some of the weight off your shoulder, we bring your  OyeLiving  - a simple yet powerful
                        Facility maintenance and finance management tool that enables you to take charge of:</p>
            </div>
        </section>
        
        
    <!--Slider Part Start-->
    <section>
        <div class="col-sm-12 bg2">
            <!--Slider Part Start-->
            <div class="container slider">
                
                <div class="col-sm-6 slide-text">
                        <span class="oye-bt">Timely reminders of payments</span>
                        <p class="desc">Due via digital assistance such as (Alexa, Ok Google, Hay Siri & Cortana).</p>
                
                </div>
                <div class="col-sm-6">
                        <img class="img-responsive center-block sec-img" src="../../assets/images/accounting/timely-reminders.png">
                </div>
                
            </div>
        </div> 
    </section>
    <!--Slider Part End-->
        <!--Slider Part Start-->
        <section>
                <div class="col-sm-12 bg1">
                    <!--Slider Part Start-->
                    <div class="container slider">
                        <div class="col-sm-6">
                            <img class="img-responsive center-block sec-img" src="../../assets/images/accounting/auto-invoice-generation.png">
                        </div>
                        <div class="col-sm-6 slide-text">
                                <span class="oye-bt">Automatic Invoice Generation</span>
                                <p class="desc">Raises invoices for residants directly, based on associations expences.</p>
                        
                        </div>
                        
                    </div>
                </div> 
            </section>
        <!--Slider Part End-->
    
        <!--Slider Part Start-->
        <section>
                <div class="col-sm-12 bg2">
                    <!--Slider Part Start-->
                    <div class="container slider">
                        
                        <div class="col-sm-6 slide-text">
                                <span class="oye-bt">Free Payment Gateway (Bank Gateway)</span>
                                <p class="desc">Integreated Payment Gateway for easy payments of Invoices provides an additional channel of payment and faster reconciliation.</p>
                       
                        </div>
                        <div class="col-sm-6">
                                <img class="img-responsive center-block sec-img" src="../../assets/images/accounting/free-payment-gateway.png">
                        </div>
                        
                    </div>
                </div> 
            </section>
        <!--Slider Part End-->
        <!--Slider Part Start-->
        <section>
                <div class="col-sm-12">
                    <!--Slider Part Start-->
                    <div class="container slider">
                        <div class="col-sm-6">
                            <img class="img-responsive center-block sec-img" src="../../assets/images/accounting/automatic-vendor-payments.png">
                        </div>
                        <div class="col-sm-6 slide-text">
                                <span class="oye-bt">Automatic Vendor Payments</span>
                                <p class="desc">Helps pay vendor on-time, allowing the association to dectate price negotiation.</p>
                        
                        </div>
                        
                    </div>
                </div> 
            </section>
        <!--Slider Part End-->
        <!--Slider Part Start-->
        <section>
            <div class="col-sm-12 bg2">
                <!--Slider Part Start-->
                <div class="container slider">
                    
                    <div class="col-sm-6 slide-text">
                            <span class="oye-bt">Integration with OyeSafe enables</span>
                            <p class="desc">A holistic view of all entries and exit to optimally manages security person requirements.</p>
                   
                    </div>
                    <div class="col-sm-6">
                            <img class="img-responsive center-block sec-img" src="../../assets/images/accounting/oyesafe-enables.png">
                    </div>
                    
                </div>
            </div> 
        </section>
    <!--Slider Part End-->
    <!--Slider Part Start-->
    <section>
            <div class="col-sm-12">
                <!--Slider Part Start-->
                <div class="container slider">
                    <div class="col-sm-6">
                        <img class="img-responsive center-block sec-img" src="../../assets/images/accounting/attendance-maintanance.png">
                    </div>
                    <div class="col-sm-6 slide-text">
                            <span class="oye-bt">Automatic Attendance of Maintenance Staff & Security Guards</span>
                            <p class="desc">A holistic view of all entries and exit to optimally manages security person requirments.
                                </p>
                    
                    </div>
                    
                </div>
            </div> 
        </section>
    <!--Slider Part End-->
    
    <!--Slider Part Start-->
    <section>
        <div class="col-sm-12">
            <!--Slider Part Start-->
            <div class="container slider">
                
                <div class="col-sm-6 slide-text">
                        <span class="oye-bt">Automatic Reconciliation of services</span>
                        <p class="desc">For tracking water tankers, diesel,deliveries for effective payments.
                            </p>
               
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive center-block sec-img" src="../../assets/images/accounting/reconciliation-services.png">
                </div>
                
            </div>
        </div> 
    </section>
    <!--Slider Part End-->
    <!--Slider Part Start-->
    <section>
        <div class="col-sm-12 bg2">
            <!--Slider Part Start-->
            <div class="container slider">
                <div class="col-sm-6">
                    <img class="img-responsive center-block sec-img" src="../../assets/images/accounting/ticketing-maitainance.png">
            </div>
                <div class="col-sm-6 slide-text">
                        <span class="oye-bt">Advanced Ticketing and Maintenance Service Requests</span>
                        <p class="desc">Ensures residents’s/requestor’s are catered to on-time and all requests go through 
                                a minimum of 2 different people before ticket is closed.</p>
               
                </div>
                
                
            </div>
        </div> 
    </section>
    <!--Slider Part End-->
   <!--Slider Part Start-->
<section>
    <div class="col-sm-12">
        <!--Slider Part Start-->
        <div class="container slider">
            
            <div class="col-sm-6 slide-text">
                    <span class="oye-bt">Club House Management</span>
                    <p class="desc">Is a key feature in ensuring only valid and approved users get to use common facilities.
                        </p>
           
            </div>
            <div class="col-sm-6">
                <img class="img-responsive sec-img" src="../../assets/images/ticket-management/club-house.png">
            </div>
            
        </div>
    </div> 
</section>
<!--Slider Part End-->
    
    
    </div>