<div class="container-fluid bg np">
    <div class="col-sm-9">
        <!--Profile section-->
        <app-left-bar></app-left-bar>
        <!--Profile section-->
        <div class="col-xs-12 col-sm-12 col-md-11 b-l">
            <span class="black">Subscription Management</span>
            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">
                    <h3 class="purple choose">Choose Your Plan</h3>

                <div class="dash-row">
                       <div class="check">
                            <div class="checkbox">
                                    <label><input type="checkbox" value=""></label>
                                  </div>                       
                        </div>
                       <div class="subscr-row">
                            <h4>OyeSafe - lorem ipsum doller set amit</h4>
                            <div class="sub-date">
                                    <p class="exis">Existing Subscription</p>
                                    <p>Valid till: <span class="red">07-Dec-2019</span></p>
                            </div>
                            <div class="sub-details">
                                   <div class="sub-table">
                                        <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th>Device</th>
                                                    <th>Monthly Unit Price</th>
                                                    <th>Quantity</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>                                               
                                                    <td>
                                                        <div class="radio">
                                                            <label><input type="radio" name="optradio1">Platinum</label>
                                                          </div>
                                                    </td>
                                                    <td>₹ 1999</td>
                                                    <td class="value"><span>-</span> 1 <span>+</span></td>
                                                  </tr>
                                                  <tr>                                               
                                                    <td>
                                                        <div class="radio">
                                                            <label><input type="radio" name="optradio1" checked>Gold</label>
                                                          </div>
                                                    </td>
                                                    <td>₹ 1299</td>
                                                    <td class="value"><span>-</span> 1 <span>+</span></td>

                                                  </tr>
                                                  <tr>                                               
                                                    <td>
                                                        <div class="radio">
                                                            <label><input type="radio" name="optradio1" >Biometric</label>
                                                          </div>
                                                    </td>
                                                    <td>₹ 500</td>
                                                    <td class="value"><span>-</span> 1 <span>+</span></td>
                                                  </tr>                                                                                              
                                                </tbody>
                                              </table>
                                   </div>
                                   <div class="sub-plan">
                                          <div class="plan-col">
                                              <p class="sub-price">1 Year</p>
                                              <p>₹59976</p>
                                              <p>₹56772.00</p>
                                              <p>Save 5%</p>
                                          </div>
                                          <div class="plan-col">
                                              <p class="sub-price">1 Year</p>
                                              <p>₹59976</p>
                                              <p>₹56772.00</p>
                                              <p>Save 5%</p>
                                          </div>
                                          <div class="plan-col active">
                                              <p class="sub-price">1 Year</p>
                                              <p>₹59976</p>
                                              <p>₹56772.00</p>
                                              <p>Save 5%</p>
                                          </div>
                                   </div>
                                   
                            </div>
                            <div class="sub-total">
                                    <p>Sub Total: ₹ 127896.00 (Include GST @18% : 19432.12)</p>
                            </div>


                       </div>
                </div>
                <div class="dash-row">
                       <div class="check">
                            <div class="checkbox">
                                    <label><input type="checkbox" value=""></label>
                                  </div>                       
                        </div>
                       <div class="subscr-row">
                            <h4>OyeSociety - lorem ipsum doller set amit</h4>
                            <div class="sub-date">
                                    <p class="exis">Existing Subscription</p>
                                    <p>Valid till: <span class="red">07-Dec-2019</span></p>
                            </div>
                            <div class="sub-details">
                                   <div class="sub-table">
                                        <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th>Device</th>
                                                    <th>Monthly Unit Price</th>
                                                    <th>Quantity</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>                                               
                                                    <td>
                                                        <div class="radio">
                                                            <label><input type="radio" name="optradio" checked>Platinum</label>
                                                          </div>
                                                    </td>
                                                    <td>₹ 1999</td>
                                                    <td class="value"><span>-</span> 1 <span>+</span></td>
                                                  </tr>
                                                  <tr>                                               
                                                    <td>
                                                        <div class="radio">
                                                            <label><input type="radio" name="optradio" checked>Gold</label>
                                                          </div>
                                                    </td>
                                                    <td>₹ 1299</td>
                                                    <td class="value"><span>-</span> 1 <span>+</span></td>

                                                  </tr>
                                                                                                                                              
                                                </tbody>
                                              </table>
                                   </div>
                                   <div class="sub-plan">
                                          <div class="plan-col">
                                              <p class="sub-price">1 Year</p>
                                              <p>₹59976</p>
                                              <p>₹56772.00</p>
                                              <p>Save 5%</p>
                                          </div>
                                          <div class="plan-col">
                                              <p class="sub-price">1 Year</p>
                                              <p>₹59976</p>
                                              <p>₹56772.00</p>
                                              <p>Save 5%</p>
                                          </div>
                                          <div class="plan-col active">
                                              <p class="sub-price">1 Year</p>
                                              <p>₹59976</p>
                                              <p>₹56772.00</p>
                                              <p>Save 5%</p>
                                          </div>
                                   </div>
                                   
                            </div>
                            <div class="sub-total">
                                    <p>Sub Total: ₹ 127896.00 (Include GST @18% : 19432.12)</p>
                            </div>
                       </div>
                </div>
                <div class="sub-tot-main">
                   <div style="padding-right: 35px;"><span style="font-size: 16px;color: #5a51aa;font-weight: 500;">GRAND TOTAL </span>: ₹ 127896.00 <br><span>(Including Taxes)</span>
                   </div>
                   <div> <button class="btn btn-primary-purple nextBtn" type="button">Pay Now</button></div>

                </div>
            </div>
            <!--Dashboard icons end-->

        </div>
    </div>
    <!--rightBar start-->
    <app-right-bar></app-right-bar>
    <!--rightBar end-->
</div>