<div class="row">
  <div class="stepwizard">
      <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step col-lg-4 col-sm-6 col-xs-12 step-active">
              <a href="#step-1" type="button" class="btn btn-success btn-circle"></a><span>Unit
                  Information</span>
          </div>
          <div class="stepwizard-step col-lg-4 col-sm-6 col-xs-12">
              <a href="#step-2" type="button" class="btn btn-default btn-circle"></a><span>Unit
                  Owner/Tenent Information</span>
          </div>
          <div class="stepwizard-step col-lg-4 col-sm-6 col-xs-12">
              <a href="#step-3" type="button" class="btn btn-default btn-circle"></a><span>Unit
                  Vehicle
                  Information</span>
          </div>

      </div>
  </div>

  <form role="form">
      <div class="panel panel-primary setup-content" id="step-1">
          <!-- <div class="panel-heading">
                                   <h3 class="panel-title">Association Details</h3>
                              </div> -->

          <div class="panel-body">
              <div class="form-group">
                  <label class="control-label">Unit No/Flat No</label>
                  <input maxlength="100" name="unitno" id="unitno" type="text" required="required" [(ngModel)]="unitno" class="form-control"
                      placeholder="Unit No/Flat No" />
              </div>

              <div class="form-group">
                <label class="control-label">Unit Type</label>
                <div class="dropdown search-dropd">
                    <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                        data-toggle="dropdown">{{unitType}}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu fullw">
                        <li *ngFor="let unitTp of unitTypes" (click)="getUnitType(unitTp.name)">
                            <a>{{unitTp.name}}</a></li>
                    </ul>
                </div>
            </div>




              <div class="form-group">
                  <label class="control-label">Unit Dimension</label>
                  <input maxlength="100" type="text" name="unitdimension" id="unitdimension" required="required" [(ngModel)]="unitdimension" class="form-control"
                      placeholder="Unit Dimension" pattern="[0-9]*" required/>
              </div>
          </div>
          <div class="panel-body">
              <div class="form-group">
                  <label class="control-label">Unit Rate</label>
                  <input maxlength="100" type="text" required="required" [(ngModel)]="UNRate" class="form-control"
                      placeholder="Unit Rate" />
              </div>

            <div class="form-group">
                <label class="control-label">Calculation Type</label>
                <div class="dropdown search-dropd">
                    <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                        data-toggle="dropdown">{{calculationtype}}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu fullw">
                        <li *ngFor="let calculationType of calculationTypes" (click)="getCalculationTypes(calculationType.name)">
                            <a>{{calculationType.name}}</a></li>
                    </ul>
                </div>
            </div>


             
              <div class="form-group">
                      <label class="control-label">Occupancy & Ownership Status</label>
                      <div class="dropdown search-dropd">
                          <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                              data-toggle="dropdown">{{occupency}}
                              <span class="caret"></span></button>
                          <ul class="dropdown-menu fullw">
                              <li *ngFor="let occupency of occupencys" (click)="tenantOwnerdiv(occupency.name)">
                                  <a>{{occupency.name}}</a></li>
                          </ul>
                      </div>
                  </div>


          </div>
          <div class="col-sm-12 pull-right">
              <button type="reset" class="btn btn-primary-purple nextBtn">Reset</button>
              <button class="btn btn-primary-purple nextBtn" type="button">Next</button>
          </div>
      </div>

      <div class="panel panel-primary setup-content" id="step-2">

        <!-- OWNER INFORMATION -->
        <div *ngIf="ownerDetails">
          <div class="panel-body">

              <div class="form-group">
                  <label class="control-label">Owner First Name</label>
                  <input type="text" name="ownerFirtname" id="ownerFirtname" [(ngModel)]="ownerFirtname"
                    #ownerFirtnameControl="ngModel" class="form-control" placeholder="Owner firstname"
                    pattern="[a-zA-Z]*" required/>
                    <!-- <p class="alerts" *ngIf="ownerFirtnameControl.invalid && ownerFirtnameControl.touched"> Valid owner firstname is required</p> -->
                </div>
              <div class="form-group">
                  <label class="control-label">Owner Last Name</label>
                  <input type="text" name="ownerLastname" id="ownerLastname" [(ngModel)]="ownerLastname"
                    #ownerLastnameControl="ngModel" class="form-control" placeholder="Owner lastname"
                    pattern="[a-zA-Z]*" required/>
                    <!-- <p class="alerts" *ngIf="ownerLastnameControl.invalid && ownerLastnameControl.touched"> Valid owner lastname is required</p> -->
                </div>
        
              <div class="form-group">
                  <label class="control-label">Owner Mobile Number</label>
                  <input type="text" name="ownerMobnumber" id="ownerMobnumber" [(ngModel)]="ownerMobnumber"
                    #ownerMobnumberControl="ngModel" class="form-control" placeholder="Owner mobile number"
                    minlength=10 maxlength=10 pattern="[0-9]*" required (keypress)=_keyPress($event)/>
                    <!-- <p class="alerts" id="phonenum" type="tel" pattern="[0-9]+" *ngIf="ownerMobnumberControl.invalid && ownerMobnumberControl.touched"> Valid 10 digit mobile number is required</p>                   -->
                </div>
          </div>
          <div class="panel-body">
             
              <div class="form-group">
                  <label class="control-label">Owner Alernate Mobile Number</label>
                  <input type="text" name="ownerAltnumber" id="ownerAltnumber" [(ngModel)]="ownerAltnumber"
                    #ownerAltnumberontrol="ngModel" class="form-control" placeholder="Owner altername mobile no"
                    minlength=10 maxlength=10 pattern="[0-9]*"  (keypress)=_keyPress($event)/>
                    <!-- <p class="alerts" *ngIf="ownerAltnumberontrol.invalid && ownerAltnumberontrol.touched">Mobile number is invalid</p> -->
                </div>
              
              <div class="form-group">
                  <label class="control-label">Owner Email Id</label>
                  <input type="text" name="ownerEmail" id="ownerEmail" [(ngModel)]="ownerEmail"
                    #ownerEmailControl="ngModel" class="form-control" placeholder="Owner email-id"
                    pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*" required/>
                    <!-- <p class="alerts" *ngIf="ownerEmailControl.invalid && ownerEmailControl.touched"> valid email-id is required</p> -->
                </div>
              
              <div class="form-group">
                  <label class="control-label">Owner Alternate Email Id</label>
                  <input type="text" name="ownerAltemail" id="ownerAltemail" [(ngModel)]="ownerAltemail"
                    class="form-control" #ownerAltemailControl="ngModel" placeholder="Owner alternate email-id"
                    pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*" />
                    <!-- <p class="alerts" *ngIf="ownerAltemailControl.invalid && ownerAltemailControl.touched">Email-id is invalid</p> -->
                </div>
          </div>
        </div>
        <!-- TANENT INFORMATION -->
        <div *ngIf="tenantDetails">
            <div class="panel-body">
              
                <div class="form-group">
                    <label class="control-label">Tenant First Name</label>
                    <input type="text" name="tenantFirtname" id="tenantFirtname" [(ngModel)]="tenantFirtname"
                      #tenantFirtnameControl="ngModel" class="form-control" placeholder="Tenant firstname"
                      pattern="[a-zA-Z]*" required/>
                      <!-- <p class="alerts" *ngIf="tenantFirtnameControl.invalid && tenantFirtnameControl.touched"> Valid firstname is required</p> -->
                  </div>
                
                <div class="form-group">
                    <label class="control-label">Tenant Last Name</label>
                    <input type="text" name="tenantLastname" id="tenantLastname" [(ngModel)]="tenantLastname"
                      #tenantLastnameControl="ngModel" class="form-control" placeholder="Tenant lastname"
                      pattern="[a-zA-Z]*" required/>
                      <!-- <p class="alerts" *ngIf="tenantLastnameControl.invalid && tenantLastnameControl.touched"> Valid lastname is required</p> -->
                  </div>
   
                <div class="form-group">
                    <label class="control-label">Tenant Mobile Number</label>
                    <input type="text" name="tenantMobnumber" id="tenantMobnumber" [(ngModel)]="tenantMobnumber"
                      #tenantMobnumberControl="ngModel" class="form-control" placeholder="Tenant mobile number"
                      minlength=10 maxlength=10 pattern="[0-9]*" required (keypress)=_keyPress($event)/>
                      <!-- <p class="alerts" *ngIf="tenantMobnumberControl.invalid && tenantMobnumberControl.touched"> Valid mobile number is required</p> -->
                  </div>
            </div>
            <div class="panel-body">
                
                <!-- <div class="form-group">
                    <label class="control-label">Tenant Email Id</label>
                    <input maxlength="200" type="text" required="required" class="form-control"
                        placeholder="Email Id" />
                </div> -->
                <div class="form-group">
                    <label class="control-label">Tenant Email Id</label>
                    <input type="text" name="tenantEmail" id="tenantEmail" [(ngModel)]="tenantEmail"
                      #tenantEmailControl="ngModel" class="form-control" placeholder="Tenant email-id"
                      pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*" required/>
                      <!-- <p class="alerts" *ngIf="tenantEmailControl.invalid && tenantEmailControl.touched"> Valid email-id is required</p> -->
                  </div>
            </div>
          </div>

          <div class="col-sm-12 pull-right">
              <button type="reset" class="btn btn-primary-purple nextBtn">Reset</button>
              <button class="btn btn-primary-purple nextBtn" type="button">Next</button>
          </div>

      </div>

      <div class="panel panel-primary setup-content" id="step-3">
          <!-- <div class="panel-heading">
                                   <h3 class="panel-title">Select Rate</h3>
                              </div> -->
          <div class="panel-body">
              <div class="form-group">
                  <label class="control-label">Parking lot Number</label>
                  <!-- <input maxlength="200" type="text" required="required" class="form-control" placeholder="Amenity Type" /> -->
                  <input type="text" name="newParkingNo" id="newParkingNo" [(ngModel)]="newParkingNo" #parkingNoControl="ngModel" class="form-control" placeholder="Parking Lot number" style="font-family: Quicksand" pattern="A-Za-z0-9]*" />
              </div>
              <div class="form-group">
                  <label class="control-label">Vehicle Number</label>
                  <!-- <input maxlength="200" type="text" required="required" class="form-control" placeholder="No Of Amenity" /> -->
                  <input type="text" name="newVehicleNo" id="newVehicleNo" [(ngModel)]="newVehicleNo" #vehicleNoControl="ngModel" class="form-control" placeholder="Vehicle number" style="font-family: Quicksand; text-transform: uppercase" pattern="[A-Z0-9]*" />
              </div>
              <div class="form-group">
                  <label class="control-label">Action</label>
                  <i class="fa fa-trash" aria-hidden="true"></i>
              </div>

          </div>
          <div class="panel-body">
              <div class="form-group">
                  <input maxlength="200" type="text" required="required" class="form-control"
                      placeholder="Amenity Type" />
              </div>
              <div class="form-group">
                  <input maxlength="200" type="text" required="required" class="form-control"
                      placeholder="No Of Amenity" />
              </div>
              <div class="form-group">
                  <label class="control-label"></label>
                  <i class="fa fa-plus-square" (click)="addParking()" aria-hidden="true"></i>
              </div>
          </div>

          <div class="col-sm-12 pull-right">
              <button type="reset" class="btn btn-primary-purple nextBtn">Reset</button>
              <button class="btn btn-primary-purple nextBtn" type="button" [disabled]="createunitForm.invalid" (click)="createUnit()">Create</button>
          </div>
      </div>

  </form>
</div>