<!--How its works Title  Area-->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Partners</h2>
        </div>
    </div>
</div>
<!--How its works Title  Area-->
<div class="row">
    <div class="container">
        <div class="col-sm-3 tr"><img src="../../assets/images/partners/amazon.png"></div>
        <div class="col-sm-3 tr"><img src="../../assets/images/partners/axis.png"></div>
        <div class="col-sm-3 tr"><img src="../../assets/images/partners/dbs.png"></div>
        <div class="col-sm-3 tr"><img src="../../assets/images/partners/icici.png"></div>
        <div class="col-sm-3 tr"><img src="../../assets/images/partners/message91.png"></div>
        <div class="col-sm-3 tr"><img src="../../assets/images/partners/microsoft.png"></div>
        <div class="col-sm-3 tr"><img src="../../assets/images/partners/nokia.png"></div>
        <div class="col-sm-3 tr"><img src="../../assets/images/partners/secugen.png"></div>
    </div>
</div>