<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div *ngIf='isAuthenticated()'>
<!-- <div> -->
<div class="topnav" id="myTopnav">
  <div *ngIf="!router.url.includes('home')"> <a (click)='toggleDashboard()'><img src="../assets/OyeSociety.png"></a></div>
  <div class="col-sm-12 head" *ngIf="router.url.includes('home')">
    <p class="wel">Welcome to</p>
    <img src="../assets/header_img.png" class="img-responsive">
  
    <!--<h2 class="title-orange">OyeHomes</h2> -->
  </div>
  <div style="margin-top: -30px;">
    <a routerLink="home" class="active"></a>
    <a routerLink="hiring" class="hire">We are hiring</a>
    <div class="dropdown">
      <button class="dropbtn">Our Brands
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="http://dev.oyehomes.in/">OyeHomes</a>
        <a href="#">OyeOOH</a>
        <a href="#">OyeSmile</a>
        <a href="http://oyewallet.com/">OyeWallet</a>
      </div>
    </div>
    <a routerLink="clients">Clients</a> 
    <a routerLink="location">Locations</a>
    <a routerLink="blogs">Blogs</a>
    <a routerLink="testimonials">Testimonials</a>
    <a routerLink="about">About Us</a>
    <a id="flip"><i class="fa fa-bell" aria-hidden="true"></i>
    </a>
    <div id="panel">
      <p class="not-head-bg">{{notificationList.length}} Notifications</p>
      <div class="not-cont">
        <ng-container *ngFor='let item of notificationList'>
          <div (click)="NotificationDropDown(item['ntid'],item['ntType'])" class="main-not">
            <p class="not-name">{{item['asAsnName']}}</p>
            <span class="not-desc">{{item['ntDesc']}}</span>
            <div *ngIf="toggleName == item['ntid'] && ntType=='Join'" style="display: flex;justify-content: space-between;">
              <button class="btn-primary-purple">Approve</button><button class="btn-primary-purple">Reject</button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">&#9776;</a>
  </div>
</div>
<!--heading start-->

<!--heading end-->
<router-outlet></router-outlet>
<!-- <app-chat></app-chat> -->
<!-- Footer -->
<footer>
  <app-footer></app-footer>
</footer>

</div>
<div *ngIf='!isAuthenticated()'>
  <app-login></app-login>
</div>
