.p-40{padding: 40px 20px;background: #fff;margin-top: 69px;}
.job-head{font-size: 16px;font-weight: 800;margin-bottom: 20px;}
.form-group{width: 100%}
.b-left{border-left: 2px solid #fff;}
.apply{color: #425db7;font-weight: 500;cursor: pointer;}
thead{background: #425db7 !important;color: #fff;}