<div class="container-fluid np">
    <div class="col-sm-12 mt-80">
        <!--Profile section-->
        <app-left-bar></app-left-bar>

        <!--Profile section-->

        <div class="col-xs-12 col-sm-12 col-md-11 b-l">

            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">

                <!-- <div style="display: flex;margin-bottom: 20px;align-items: flex-start;">
                        <button class="btn-primary-purple" (click)="addBlocksShow()">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add Blocks</button>
                        <div class="upload_excel">
                          <a> <img class="excel" (click)="upLoad()" src="../../assets/images/upload.png" tooltip="Have more num of Blocks?"></a>
                           <a  href="../../assets/Excel/Demo_Block_Detailstemplate.xlsx" download><img class="excel" src="../../assets/images/upload.png" tooltip="click to download demo excel format"></a>
                            <input type="file" id="file_upload_id" (change)="onFileChange($event)" multiple="false" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none" #file>
                        </div>
                </div> -->
                <form *ngIf="ShowExcelUploadDiscription">
                    <div class="row">
                        <div style="display: flex;margin-bottom: 20px;align-items: flex-start;width: 50%;margin: auto;justify-content: space-around;">
                            <div class="upload_excel">
                                <div style="display: flex;">
                                    <span class="purple">Upload Expenses for </span>
                                    <div class="dropdown"
                                      style="width: 200px;margin-right: 11px !important;margin-top: -8px !important;margin-left: 7px !important;">
                                      <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button" data-toggle="dropdown"
                                        style="width: 200px;margin-right: 20px;">{{(currentBlockName == ''?'Blocks':currentBlockName)}}
                                        <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                                      <ul class="dropdown-menu fullw ">
                                        <li *ngFor='let item of allBlocksLists'
                                          (click)="GetExpenseListByBlockID(item['blBlockID'],item['blBlkName'])">
                                          <a>{{item['blBlkName']}}</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                <a> <img style="width: 50px;" class="excel" (click)="upLoad(ExcelUploadExpenseTemplate)" src="../../assets/images/upload.png"
                                        tooltip="Have more num of Blocks?"></a>
                                <a href="../../assets/Excel/Demo_Expense_Template.xlsx" download><img style="width: 50px;" class="excel"
                                        src="../../assets/images/download.png"
                                        tooltip="click to download demo excel format"></a>
                                <input type="file" id="file_upload_id" (change)="onFileChange($event)" multiple="false"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    style="display:none" #file>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8" style="border-radius: 18px;">
                                <h4>Upload Instructions:</h4>
                                <ul>
                                   <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                   <li>Nulla ut eros quis est feugiat condimentum.</li>
                                   <li>Donec eget enim feugiat erat vehicula pretium non et urna.</li>
                                   <li>Cras vitae neque imperdiet, rhoncus orci sed, dignissim magna.</li>
                                   <li>Integer nec augue ut dolor efficitur auctor.</li>
                                   <li>Note:- Bulk Upload your Expense file in <i class="fa fa-file-excel-o"
                                     aria-hidden="true"></i> excel format, the demo excel format can be downloaded from above</li>
                                 </ul> 
                                 <h4 [hidden]="toggleExpenseErrorHeading">List of Error Exist in Expense-Excel :</h4>
                                 <ul>
                                    <li *ngFor="let item of excelUploadExpenseErrorMessage">
                                        <span style="font-weight: bold;">Error at S.No:</span>{{item['RowNo']}}<br>
                                        <span style="font-weight: bold;">Column Name:</span>{{item['ColumnName']}}<br>
                                        <span style="font-weight: bold;">Error Message:</span>{{item['ErrorMessage']}}<br>
                                        <hr/>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </form>
                <!--  -->
                <!--  -->
                <!--  -->
                <div class="table-responsive" *ngIf='ShowExcelDataList'>
                    <table id="ExcelExpenseTable" class="table table-bordered table-responsive"
                        [mfData]="excelExpenseList"
                        #mf="mfDataTable" (click)="onPageChange($event)" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    S.No.
                                </th>
                                <th>
                                    <mfDefaultSorter by="Expense Head">Expense Head</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Expense Description">Expense Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Expense Recurance Type">Expense Recurance Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Applicable To Unit">Applicable To Unit</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Expense Type">Expense Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Amount Paid">Amount Paid</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Distribution Type">Distribution Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Bank">Bank</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Payment Method">Payment Method</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Payee Name">Payee Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Expenditure Date">Expenditure Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Invoice-Receipt No">Invoice-Receipt No</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Payee Bank">Payee Bank</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Voucher No">Voucher No</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Cheque No">Cheque No</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Cheque Date">Cheque Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Demand Draft No">Demand Draft No</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Demand Draft Date">Demand Draft Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="UnitName">Unit Name</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data;let i=index">
                                <ng-container *ngIf="item == -1">
                                    <td colspan="19" align="center">No Data Found</td>
                                </ng-container>
                                <ng-container *ngIf="item!=-1">
                                    <td>{{item['S.No']}}</td>
                                    <td [ngClass]="{'classRed':(item['Expense Head']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Expense Head']==undefined?true:false)}">{{(item['Expense Head']==undefined?'Please Enter Expense Head':item['Expense Head'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Expense Description']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Expense Description']==undefined?true:false)}">{{(item['Expense Description']==undefined?'Please Enter Expense Description':item['Expense Description'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Expense Recurance Type']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Expense Recurance Type']==undefined?true:false)}">{{(item['Expense Recurance Type']==undefined?'Invalid Expense Recurance Type':item['Expense Recurance Type'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Applicable To Unit']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Applicable To Unit']==undefined?true:false)}">{{(item['Applicable To Unit']==undefined?'Invalid Applicable To Unit':item['Applicable To Unit'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Expense Type']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Expense Type']==undefined?true:false)}">{{(item['Expense Type']==undefined?'Invalid Expense Type':item['Expense Type'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Amount Paid']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Amount Paid']==undefined?true:false)}">{{(item['Amount Paid']==undefined?'Invalid Amount Paid':item['Amount Paid'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Distribution Type']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Distribution Type']==undefined?true:false)}">{{(item['Distribution Type']==undefined?'Invalid Distribution Type':item['Distribution Type'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Payment Method']=='Cheque' && item['Bank']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Payment Method']=='Cheque' && item['Bank']==undefined?true:false)}">{{(item['Payment Method']=='Cheque' && item['Bank']==undefined?'Please Select Bank':item['Bank'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Payment Method']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Payment Method']==undefined?true:false)}">{{(item['Payment Method']==undefined?'Invalid Payment Method':item['Payment Method'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Payment Method']=='Cheque' || 'Demand Draft' && item['Payee Name']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Payment Method']=='Cheque' || 'Demand Draft' && item['Payee Name']==undefined?true:false)}">{{(item['Payment Method']=='Cheque' || 'Demand Draft' && item['Payee Name']==undefined?'Please Enter Payee Name':item['Payee Name'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Expenditure Date']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Expenditure Date']==undefined?true:false)}">{{(item['Expenditure Date']==undefined?'Invalid Expenditure Date':item['Expenditure Date'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Invoice-Receipt No']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Invoice-Receipt No']==undefined?true:false)}">{{(item['Invoice-Receipt No']==undefined?'Please Enter Invoice-Receipt Number':item['Invoice-Receipt No'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Payment Method']=='Cheque' || 'Demand Draft' && item['Payee Bank']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Payment Method']=='Cheque' || 'Demand Draft' && item['Payee Bank']==undefined?true:false)}">{{(item['Payment Method']=='Cheque' || 'Demand Draft' && item['Payee Bank']==undefined?'Invalid Payee Bank Name':item['Payee Bank'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Payment Method']=='Cash' && item['Voucher No']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Payment Method']=='Cash' && item['Voucher No']==undefined?true:false)}">{{(item['Payment Method']=='Cash' && item['Voucher No']==undefined?'Please Enter Voucher Number':item['Voucher No'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Payment Method']=='Cheque' && item['Cheque No']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Payment Method']=='Cheque' && item['Cheque No']==undefined?true:false)}">{{(item['Payment Method']=='Cheque' && item['Cheque No']==undefined?'Invalid Cheque No':item['Cheque No'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Payment Method']=='Cheque' && item['Cheque Date']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Payment Method']=='Cheque' && item['Cheque Date']==undefined?true:false)}">{{(item['Payment Method']=='Cheque' && item['Cheque Date']==undefined?'Invalid Cheque Date':item['Cheque Date'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Payment Method']=='Demand Draft' && item['Demand Draft No']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Payment Method']=='Demand Draft' && item['Demand Draft No']==undefined?true:false)}">{{(item['Payment Method']=='Demand Draft' && item['Demand Draft No']==undefined?'Invalid Demand Draft No':item['Demand Draft No'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Payment Method']=='Demand Draft' && item['Demand Draft Date']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Payment Method']=='Demand Draft' && item['Demand Draft Date']==undefined?true:false)}">{{(item['Payment Method']=='Demand Draft' && item['Demand Draft Date']==undefined?'Invalid Demand Draft Date':item['Demand Draft Date'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['Applicable To Unit']=='Single Unit' && item['UnitName']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['Applicable To Unit']=='Single Unit' && item['UnitName']==undefined?true:false)}">{{(item['Applicable To Unit']=='Single Unit' && item['UnitName']==undefined?'Please Enter UnitName':item['UnitName'])}}</span></td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="19">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div>
                        <button style="float: right;" class="btn-primary-purple" [disabled]="IsNotValidExcelExpenseList" (click)="createExpenseFromBlockTable()"><i class="fa fa-plus" aria-hidden="true"></i> Upload Excel Expense</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!---->
<!---->
<ng-template #ExcelUploadExpenseTemplate>

        <div class="modal-header">
            <h4 class="modal-title orange">Upload Excel-Expense Error List</h4>
            <button type="button" style="margin-right: 11px;margin-top: -19px;" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul>
                <li *ngFor="let item of excelUploadExpenseErrorMessage">
                    <span style="font-weight: bold;">Error at S.No:</span>{{item['RowNo']}}<br>
                    <span style="font-weight: bold;">Column Name:</span>{{item['ColumnName']}}<br>
                    <span style="font-weight: bold;">Error Message:</span>{{item['ErrorMessage']}}<br>
                    <hr/>
                </li>
            </ul>
        </div>
</ng-template>
