<div class="container-fluid np">
    <div class="col-sm-12 mt-80">
        <!--Profile section-->
        <app-left-bar></app-left-bar>

        <!--Profile section-->

        <div class="col-xs-12 col-sm-12 col-md-11 b-l">

            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">

                <!-- <div style="display: flex;margin-bottom: 20px;align-items: flex-start;">
                        <button class="btn-primary-purple" (click)="addBlocksShow()">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add Blocks</button>
                        <div class="upload_excel">
                          <a> <img class="excel" (click)="upLoad()" src="../../assets/images/upload.png" tooltip="Have more num of Blocks?"></a>
                           <a  href="../../assets/Excel/Demo_Block_Detailstemplate.xlsx" download><img class="excel" src="../../assets/images/upload.png" tooltip="click to download demo excel format"></a>
                            <input type="file" id="file_upload_id" (change)="onFileChange($event)" multiple="false" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none" #file>
                        </div>
                </div> -->
                <form *ngIf="ShowExcelUploadDiscription">
                    <div class="row">
                        <div style="display: flex;margin-bottom: 20px;align-items: flex-start;width: 50%;margin: auto;justify-content: space-around;">
                            <div class="upload_excel">
                                <div style="display: flex;">
                                    <span class="purple">Upload Expenses for </span>
                                    <div class="dropdown"
                                      style="width: 200px;margin-right: 11px !important;margin-top: -8px !important;margin-left: 7px !important;">
                                      <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button" data-toggle="dropdown"
                                        style="width: 200px;margin-right: 20px;">{{(currentBlockName == ''?'Blocks':currentBlockName)}}
                                        <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                                      <ul class="dropdown-menu fullw ">
                                        <li *ngFor='let item of allBlocksLists'
                                          (click)="GetExpenseListByBlockID(item['blBlockID'],item['blBlkName'])">
                                          <a>{{item['blBlkName']}}</a></li>
                                      </ul>
                                    </div>
                                  </div>
                                <a> <img style="width: 50px;" class="excel" (click)="upLoad(ExcelUploadExpenseTemplate)" src="../../assets/images/upload.png"
                                        tooltip="Have more num of Blocks?"></a>
                                <a href="../../assets/Excel/Demo_Expense_Template.xlsx" download><img style="width: 50px;" class="excel"
                                        src="../../assets/images/download.png"
                                        tooltip="click to download demo excel format"></a>
                                <input type="file" id="file_upload_id" (change)="onFileChange($event)" multiple="false"
                                    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    style="display:none" #file>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8" style="border-radius: 18px;">
                                <h4>Upload Instructions:</h4>
                                <ul>
                                   <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                   <li>Nulla ut eros quis est feugiat condimentum.</li>
                                   <li>Donec eget enim feugiat erat vehicula pretium non et urna.</li>
                                   <li>Cras vitae neque imperdiet, rhoncus orci sed, dignissim magna.</li>
                                   <li>Integer nec augue ut dolor efficitur auctor.</li>
                                   <li>Note:- Bulk Upload your Expense file in <i class="fa fa-file-excel-o"
                                     aria-hidden="true"></i> excel format, the demo excel format can be downloaded from above</li>
                                 </ul> 
                                 <h4 [hidden]="toggleExpenseErrorHeading">List of Error Exist in Expense-Excel :</h4>
                                 <ul>
                                    <li *ngFor="let item of excelUploadExpenseErrorMessage">
                                        <span style="font-weight: bold;">Error at S.No:</span>{{item['RowNo']}}<br>
                                        <span style="font-weight: bold;">Column Name:</span>{{item['ColumnName']}}<br>
                                        <span style="font-weight: bold;">Error Message:</span>{{item['ErrorMessage']}}<br>
                                        <hr/>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </form>
                <!--  -->
                <!--  -->
                <!--  -->
                <div class="table-responsive" *ngIf='ShowExcelDataList'>
                    <table id="ExcelExpenseTable" class="table table-bordered table-responsive"
                        [mfData]="ExcelExpenseList"
                        #mf="mfDataTable" (click)="onPageChange($event)" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    S.No.
                                </th>
                                <th>
                                    <mfDefaultSorter by="ExpenseHead">Expense Head</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="ExpenseDescription">Expense Description</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="ExpenseRecuranceType">Expense Recurance Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="ApplicableToUnit">Applicable To Unit</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="ExpenseType">Expense Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="AmountPaid">Amount Paid</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="DistributionType">Distribution Type</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="Bank">Bank</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="PaymentMethod">Payment Method</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="PayeeName">Payee Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="ExpenditureDate">Expenditure Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="InvoiceReceiptNo">Invoice-Receipt No</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="PayeeBank">Payee Bank</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="VoucherNo">Voucher No</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="ChequeNo">Cheque No</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="ChequeDate">Cheque Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="DemandDraftNo">Demand Draft No</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="DemandDraftDate">Demand Draft Date</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="UnitName">Unit Name</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data;let i=index">
                                <ng-container *ngIf="item == -1">
                                    <td colspan="19" align="center">No Data Found</td>
                                </ng-container>
                                <ng-container *ngIf="item!=-1">
                                    <td>{{item['SNo']}}</td>
                                    <td [ngClass]="{'classRed':(item['ExpenseHead']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['ExpenseHead']==undefined?true:false)}">{{(item['ExpenseHead']==undefined?'Please Enter Expense Head':item['ExpenseHead'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['ExpenseDescription']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['ExpenseDescription']==undefined?true:false)}">{{(item['ExpenseDescription']==undefined?'Please Enter Expense Description':item['ExpenseDescription'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['ExpenseRecuranceType']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['ExpenseRecuranceType']==undefined?true:false)}">{{(item['ExpenseRecuranceType']==undefined?'Invalid Expense Recurance Type':item['ExpenseRecuranceType'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['ApplicableToUnit']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['ApplicableToUnit']==undefined?true:false)}">{{(item['ApplicableToUnit']==undefined?'Invalid Applicable To Unit':item['ApplicableToUnit'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['ExpenseType']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['ExpenseType']==undefined?true:false)}">{{(item['ExpenseType']==undefined?'Invalid Expense Type':item['ExpenseType'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['AmountPaid']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['AmountPaid']==undefined?true:false)}">{{(item['AmountPaid']==undefined?'Invalid Amount Paid':item['AmountPaid'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['DistributionType']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['DistributionType']==undefined?true:false)}">{{(item['DistributionType']==undefined?'Invalid Distribution Type':item['DistributionType'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['PaymentMethod']=='Cheque' && item['Bank']==undefined || item['PaymentMethod']=='Demand Draft' && item['Bank']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['PaymentMethod']=='Cheque' && item['Bank']==undefined || item['PaymentMethod']=='Demand Draft' && item['Bank']==undefined?true:false)}">{{(item['PaymentMethod']=='Cheque' && item['Bank']==undefined || item['PaymentMethod']=='Demand Draft' && item['Bank']==undefined?'Please Select Bank':item['Bank'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['PaymentMethod']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['PaymentMethod']==undefined?true:false)}">{{(item['PaymentMethod']==undefined?'Invalid Payment Method':item['PaymentMethod'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['PaymentMethod']=='Cheque' && item['PayeeName']==undefined || item['PaymentMethod']=='Demand Draft' && item['PayeeName']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['PaymentMethod']=='Cheque' && item['PayeeName']==undefined || item['PaymentMethod']=='Demand Draft' && item['PayeeName']==undefined?true:false)}">{{(item['PaymentMethod']=='Cheque' && item['PayeeName']==undefined || item['PaymentMethod']=='Demand Draft' && item['PayeeName']==undefined?'Please Enter Payee Name':item['PayeeName'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['ExpenditureDate']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['ExpenditureDate']==undefined?true:false)}">{{(item['ExpenditureDate']==undefined?'Invalid Expenditure Date':item['ExpenditureDate'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['InvoiceReceiptNo']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['InvoiceReceiptNo']==undefined?true:false)}">{{(item['InvoiceReceiptNo']==undefined?'Please Enter Invoice-Receipt Number':item['InvoiceReceiptNo'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['PaymentMethod']=='Cheque' && item['PayeeBank']==undefined || item['PaymentMethod']=='Demand Draft' && item['PayeeBank']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['PaymentMethod']=='Cheque' && item['PayeeBank']==undefined || item['PaymentMethod']=='Demand Draft' && item['PayeeBank']==undefined?true:false)}">{{(item['PaymentMethod']=='Cheque' && item['PayeeBank']==undefined || item['PaymentMethod']=='Demand Draft' && item['PayeeBank']==undefined?'Invalid Payee Bank Name':item['PayeeBank'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['PaymentMethod']=='Cash' && item['VoucherNo']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['PaymentMethod']=='Cash' && item['VoucherNo']==undefined?true:false)}">{{(item['PaymentMethod']=='Cash' && item['VoucherNo']==undefined?'Please Enter Voucher Number':item['VoucherNo'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['PaymentMethod']=='Cheque' && item['ChequeNo']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['PaymentMethod']=='Cheque' && item['ChequeNo']==undefined?true:false)}">{{(item['PaymentMethod']=='Cheque' && item['ChequeNo']==undefined?'Invalid Cheque No':item['ChequeNo'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['PaymentMethod']=='Cheque' && item['ChequeDate']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['PaymentMethod']=='Cheque' && item['ChequeDate']==undefined?true:false)}">{{(item['PaymentMethod']=='Cheque' && item['ChequeDate']==undefined?'Invalid Cheque Date':item['ChequeDate'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['PaymentMethod']=='Demand Draft' && item['DemandDraftNo']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['PaymentMethod']=='Demand Draft' && item['DemandDraftNo']==undefined?true:false)}">{{(item['PaymentMethod']=='Demand Draft' && item['DemandDraftNo']==undefined?'Invalid Demand Draft No':item['DemandDraftNo'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['PaymentMethod']=='Demand Draft' && item['DemandDraftDate']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['PaymentMethod']=='Demand Draft' && item['DemandDraftDate']==undefined?true:false)}">{{(item['PaymentMethod']=='Demand Draft' && item['DemandDraftDate']==undefined?'Invalid Demand Draft Date':item['DemandDraftDate'])}}</span></td>
                                    <td [ngClass]="{'classRed':(item['ApplicableToUnit']=='Single Unit' && item['UnitName']==undefined?true:false)}"><span [ngClass]="{'classFontClr':(item['ApplicableToUnit']=='Single Unit' && item['UnitName']==undefined?true:false)}">{{(item['ApplicableToUnit']=='Single Unit' && item['UnitName']==undefined?'Please Enter UnitName':item['UnitName'])}}</span></td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="19">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div>
                        <button style="float: right;" class="btn-primary-purple" [disabled]="IsNotValidExcelExpenseList" (click)="createExpenseFromBlockTable()"><i class="fa fa-plus" aria-hidden="true"></i> Upload Excel Expense</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!---->
<!---->
<ng-template #ExcelUploadExpenseTemplate>

        <div class="modal-header">
            <h4 class="modal-title orange">Upload Excel-Expense Error List</h4>
            <button type="button" style="margin-right: 11px;margin-top: -19px;" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <ul>
                <li *ngFor="let item of excelUploadExpenseErrorMessage">
                    <span style="font-weight: bold;">Error at S.No:</span>{{item['RowNo']}}<br>
                    <span style="font-weight: bold;">Column Name:</span>{{item['ColumnName']}}<br>
                    <span style="font-weight: bold;">Error Message:</span>{{item['ErrorMessage']}}<br>
                    <hr/>
                </li>
            </ul>
        </div>
</ng-template>
