<div class="container-fluid bg np">
    <div class="col-sm-9">
        <!--Profile section-->
        <app-left-bar></app-left-bar>
        <!--Profile section-->
        <div class="col-xs-12 col-sm-12 col-md-11 b-l">
            <span class="black">Supplier Statement</span>
            <div class="cus-panel">
                <div>
                    <!--top header-->
                    <div><img src="../../assets/sOyeSociety.png"></div>
                    <div>
                        <h3>OyeSpace Pvt Ltd</h3>
                    </div>
                    <div><img src="../../assets/images/icons/printer.png"></div>
                    <!--top header-->
                </div>
                <div>
                    <div class="cus-details">
                        <p><b>Date:</b> November 30, 2019</p>
                        <p><b>No Outstanding Invoices Found</b></p>
                    </div>
                    <div class="cus-details">
                        <p><b>Name</b></p>
                        <p><b>Company Name</b></p>
                        <p><b>Street Address</b></p>
                        <p><b>City</b></p>
                        <p><b>Phone Number</b></p>
                    </div>
                </div>

                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="color: #fff !important;">Date</th>
                                <th style="color: #fff !important;">Invoice Number</th>
                                <th style="color: #fff !important;">Due Date</th>
                                <th style="color: #fff !important;">Invoices/Credits</th>
                                <th style="color: #fff !important;">Pyment/Debits</th>
                                <th style="color: #fff !important;">Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>09-12-2019</td>
                                <td>xxxxx</td>
                                <td>lorem ipsum</td>
                                <td>120</td>
                                <td>10</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>09-12-2019</td>
                                <td>xxxxx</td>
                                <td>lorem ipsum</td>
                                <td>120</td>
                                <td>10</td>
                                <td>12345</td>
                            </tr>
                            <tr>
                                <td>09-12-2019</td>
                                <td>xxxxx</td>
                                <td>lorem ipsum</td>
                                <td>120</td>
                                <td>10</td>
                                <td>12345</td>
                            </tr>
                            <tr style="text-align: right;">
                                <td colspan="6">
                                    <p style="color: #000;font-size: 17px;">Supplier Balance Due: 2,000<br>Total
                                        Supplier OverDue Amount: 2,000</p>
                                </td>
                            </tr>                       
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!--rightBar start-->
    <app-right-bar></app-right-bar>
    <!--rightBar end-->
</div>