<div class="row">
    <!--Slider Part Start-->
        <section>
            <div class="col-sm-12 bg">
                <!--Slider Part Start-->
                <div class="container slider">
                    <div class="col-sm-6 slide-text pt">
                            <span class="oye-bt" style="color: #387BA4;font-size: 36px;">Safety</span>
                            <p class="desc">“Your safety is priceless”, with this in focus is what we built ScuareX.   ScuareX has features that ensures safety of You, Your Family and Assets; by keeping your Security Guards alert and connected using simple yet advanced technologies.</p>
                            <div class="col-sm-12 np">
                                <a (click)="openModal6(reqdemo)">Request a Demo</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div> 
        </section>
    <!--Slider Part End-->
    
        <div class="col-sm-12">
            <p style="text-align: center;padding: 33px 150px;background: #000;color: #fff;font-size: 22px;">With ScuareX, you can rest easy knowing that you are prepared to <br>meet every security challenge head on!</p>
        </div>
    
    <section>
        <div class="col-sm-12">
            <p class="quote">While high walls and loyal security guards go a long way in keeping you and your people protected,<br>
                It’s only natural that you continue to worry about their safety.<br>
                Which is why we at ScuareX have built a holistic security management system that helps ensure<br>
                complete safety and gives you total peace of mind<br>
                              
                Introducing OyeSafe - an easy-to-use application that facilitates with wide range of security functions such as:</p>
        </div>
    </section>
    
    
<!--Slider Part Start-->
<section>
    <div class="col-sm-12 bg2">
        <!--Slider Part Start-->
        <div class="container slider">
            
            <div class="col-sm-6 slide-text">
                    <span class="oye-bt">Courier Delivery Management.</span>
                    <p class="desc">Is a breeze yet air tight - all delivery people need to publish their 
                        mobile numbers via Missed call on a defined number or by OTP validation. 
                        Delivery staff are photographed using Face Detection. Residents get instant 
                        notification with visitor photo. Resident not at home? Mark to leave 
                        courier with Guard, pick it up yourself from Gate by showing a QR 
                        code to Guard. So far managed more than 2 million deliveries efficiently.</p>
            
            </div>
            <div class="col-sm-6">
                    <img class="img-responsive center-block sec-img" src="../../assets/images/safety/courier-delivery.png">
            </div>
            
        </div>
    </div> 
</section>
<!--Slider Part End-->
    <!--Slider Part Start-->
    <section>
            <div class="col-sm-12 bg1">
                <!--Slider Part Start-->
                <div class="container slider">
                    <div class="col-sm-6">
                        <img class="img-responsive center-block sec-img" src="../../assets/images/safety/drone-patrolling.png">
                    </div>
                    <div class="col-sm-6 slide-text">
                            <span class="oye-bt">Automatic Drone Patrolling.</span>
                            <p class="desc">High rise buildings, large land areas, public meeting areas and sensitive 
                                areas need critical attention and is achieved by Automatic Patrolling by 
                                our Advanced Drones with footage beamed in real-time to Security Guard’s 
                                mobile phone. Once patrolling way-path and frequency is defined Drones 
                                get Autonomous.  Our Drones have patrolled and secured 3 million people 
                                and flew 40000 Kilometres </p>
                    
                    </div>
                    
                </div>
            </div> 
        </section>
    <!--Slider Part End-->

    <!--Slider Part Start-->
    <section>
            <div class="col-sm-12 bg2">
                <!--Slider Part Start-->
                <div class="container slider">
                    
                    <div class="col-sm-6 slide-text">
                            <span class="oye-bt">SOS.</span>
                            <p class="desc">Save Our Souls is truly a lifesaver - residents get to notify 
                                Security Guards whenever they need help.  An extremely useful 
                                tool for the elderly. Guards get to view all details of the 
                                requester including the GPS location on Google Maps interface 
                                for easy navigation to provide help.Saved 237 lives so far</p>
                   
                    </div>
                    <div class="col-sm-6">
                            <img class="img-responsive center-block sec-img" src="../../assets/images/safety/sos.png">
                    </div>
                    
                </div>
            </div> 
        </section>
    <!--Slider Part End-->
    <!--Slider Part Start-->
    <section>
            <div class="col-sm-12">
                <!--Slider Part Start-->
                <div class="container slider">
                    <div class="col-sm-6">
                        <img class="img-responsive center-block sec-img" src="../../assets/images/safety/walkie-talkie.png">
                    </div>
                    <div class="col-sm-6 slide-text">
                            <span class="oye-bt">Walkie-Talkie</span>
                            <p class="desc">Is a key feature in OyeSafe for Security Guards and they love it. 
                                One device-multiple uses. Has reduced costs of running a full blown 
                                Walkie-Talkie both from a hardware and licensing perspectives by 30%
                                </p>
                    
                    </div>
                    
                </div>
            </div> 
        </section>
    <!--Slider Part End-->
    <!--Slider Part Start-->
    <section>
        <div class="col-sm-12 bg2">
            <!--Slider Part Start-->
            <div class="container slider">
                
                <div class="col-sm-6 slide-text">
                        <span class="oye-bt">Video Analytics.</span>
                        <p class="desc">Makes CCTV cameras Virtual Security Guards by processing 
                            live footage from the CCTV to detect various security incidents and 
                            instantly alerts Security Guards with the video footage and GPS 
                            location to act on priority. Security incidents such as Break-ins, 
                            Fire, Smoke and Unattended items are automatically identified and 
                            alerted. Avoided property loss to the tune of Rs. 317 crores</p>
               
                </div>
                <div class="col-sm-6">
                        <img class="img-responsive center-block sec-img" src="../../assets/images/safety/video-analytics.png">
                </div>
                
            </div>
        </div> 
    </section>
<!--Slider Part End-->
<!--Slider Part Start-->
<section>
        <div class="col-sm-12">
            <!--Slider Part Start-->
            <div class="container slider">
                <div class="col-sm-6">
                    <img class="img-responsive center-block sec-img" src="../../assets/images/safety/child-exit.png">
                </div>
                <div class="col-sm-6 slide-text">
                        <span class="oye-bt">Advanced Child Exit</span>
                        <p class="desc">Has helped parents be relieved of the constant thought 
                            of children getting outside the gate without being monitored and 
                            approved.  Every Child (even with a Guardian) seeking to exit the 
                            premise is alerted to Parents via the App and only upon approval 
                            received at the Guard App they are let out.  Has saved more than 
                            20 child abductions so far.
                            </p>
                
                </div>
                
            </div>
        </div> 
    </section>
<!--Slider Part End-->

<!--Slider Part Start-->
<section>
    <div class="col-sm-12">
        <!--Slider Part Start-->
        <div class="container slider">
            
            <div class="col-sm-6 slide-text">
                    <span class="oye-bt">Automatic Vehicle Number Recognition</span>
                    <p class="desc">Automatically differentiates between residents 
                        and visitors from their vehicle number plates - no RFID, 
                        no NFC expenses.
                        </p>
           
            </div>
            <div class="col-sm-6">
                <img class="img-responsive center-block sec-img" src="../../assets/images/safety/vehicle-number.png">
            </div>
            
        </div>
    </div> 
</section>
<!--Slider Part End-->
<!--Slider Part Start-->
<section>
    <div class="col-sm-12 bg2">
        <!--Slider Part Start-->
        <div class="container slider">
            <div class="col-sm-6">
                <img class="img-responsive center-block sec-img" src="../../assets/images/safety/qr-code.png">
        </div>
            <div class="col-sm-6 slide-text">
                    <span class="oye-bt">QR based Guest Invitation and Approvals</span>
                    <p class="desc">Guests need to welcome with warmth and not registers yet, 
                        need to validated thoroughly.  Residents invite Guests and 
                  when the Guests arrive at the Gate they flash the QR code 
                  present in the invite sent by the Resident and the Guard 
                  just scans the QR code and welcomes with a smile instead of 
                  a visitor register. Resident receives an instant notification.</p>
           
            </div>
            
            
        </div>
    </div> 
</section>
<!--Slider Part End-->
<!--Slider Part Start-->
<section>
    <div class="col-sm-12">
        <!--Slider Part Start-->
        <div class="container slider">
            
            <div class="col-sm-6 slide-text">
                    <span class="oye-bt">Over-Staying notification for vendors</span>
                    <p class="desc">Is a critical feature that ensure Delivery Vendors 
                        are exited on time and when they are not Security Guards get 
                        Automatic Alerts to monitor anybody over-staying and avoiding 
                        possible misuse of facilities and everything else other 
                        than delivery completion.
                        </p>
            
            </div>
            <div class="col-sm-6">
                <img class="img-responsive center-block sec-img" src="../../assets/images/safety/notification-vendor.png">
            </div>
            
        </div>
    </div> 
</section>
<!--Slider Part End-->
<!--Slider Part Start-->
<section>
    <div class="col-sm-12 bg2">
        <!--Slider Part Start-->
        <div class="container slider">
            <div class="col-sm-6">
                <img class="img-responsive center-block sec-img" src="../../assets/images/safety/biometric.png">
           </div>
            <div class="col-sm-6 slide-text">
                    <span class="oye-bt">Biometric Staff Validation</span>
                    <p class="desc">All Service Providers who gain access to Residences 
                        such as Maids, Cooks, Drivers are critically validated using 
                        Fingerprint Biometric, Mobile Number, Photograph and a 
                        Government issued ID Card.  Currently managing 14000 staff.</p>
            
            </div>
            
            
        </div>
    </div> 
</section>
<!--Slider Part End-->


</div>