<div class="container-fluid np">
    <div class="col-sm-12 mt-80">
        <!--Profile section-->
        <app-left-bar></app-left-bar>
        <!--Profile section-->
        <div class="col-xs-12 col-sm-12 col-md-11 b-l">
                <div class="col-md-12 m-t-30" *ngIf="profile">
                        <span class="black">My Profile</span>
                        <!--profile container-->
                        <div class="prof-cont">
                             <!-- Image Section -->
                             <div class="circle">
                                    <!-- User Profile Image -->
                                    <img class="profile-pic" [src]="acImgName">
                             
                                    <!-- Default Image -->
                                    <!-- <i class="fa fa-user fa-5x"></i> -->
                                  </div>
                             <!-- Image Section -->
                             <!-- <div class="p-image">
                                    <i class="fa fa-camera upload-button"></i>
                                     <input class="file-upload" type="file" accept="image/*"/>
                            </div> -->
                            <h3 class="pof-name">{{ACFName}} {{ACLName}}</h3>
                            <!-- <h3 class="pof-name"></h3> -->
                            <p class="prof-phone">+91 {{ACMobile}}</p>
                            <p class="prof-email">Email: {{ACEmail}}</p>
                            <button  class="btn-primary-purple" (click)="editProfile()"><i aria-hidden="true" class="fa fa-pencil-square"></i> Edit</button>
                        </div>

                        <!--profile container-->
 
                </div>
                <div class="col-md-12 m-t-30" *ngIf="!profile">
                        <span class="black">Edit Profile</span>
                        <!--profile container-->
                        <div class="prof-cont">
                             <!-- Image Section -->
                             <div class="circle">
                                    <!-- User Profile Image -->
                                    <img id="imgthumbnail" class="profile-pic">
                             
                                    <!-- Default Image -->
                                    <!-- <i class="fa fa-user fa-5x"></i> -->
                                  </div>
                             <!-- Image Section -->
                             <div class="p-image">
                                    <i (click)="OpenFileUpload()" class="fa fa-camera upload-button"></i>
                                     <input class="file-upload" id="uploadFileinput" type="file" accept="image/*" (change)='onFileSelected($event)'/>
                            </div>
                            <form action="" style="margin: 0px auto;width: fit-content;    margin-top: 40px;margin-bottom: 40px;">
                                <div class="form-group">
                                  <label>First Name <span class="red">*</span></label>
                                  <input type="text" class="form-control" name="acfName" [(ngModel)]="ACFName" #firstnameControl='ngModel' pattern="[a-zA-Z\s]*" required />
                                  <p class="alerts" *ngIf="firstnameControl.invalid && firstnameControl.touched">First Name is required</p>
                                  
                                </div>
                                <div class="form-group">
                                  <label>Last Name <span class="red">*</span></label>
                                  <input type="text" class="form-control" name="aclName" [(ngModel)]="ACLName" #lastnameControl='ngModel' pattern="[a-zA-Z\s]*" required />
                                  <p class="alerts" *ngIf="lastnameControl.invalid && lastnameControl.touched">Last Name is required</p>
                                </div>
                                <div class="form-group">
                                  <label>Email Id<span class="red">*</span></label>
                                  <input type="text" class="form-control" name="ACEmail" [(ngModel)]="ACEmail" #emailControl='ngModel' pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                                  <p class="alerts" *ngIf="emailControl.invalid && emailControl.touched">Email is required</p>
                                </div>
                                <div class="form-group">
                                  <label>Mobile<span class="red">*</span></label>
                                  <input type="text" class="form-control" name="acMobile" [(ngModel)]="ACMobile" #mobileControl='ngModel' pattern="[0-9]*" required />
                                  <p class="alerts" *ngIf="mobileControl.invalid && mobileControl.touched">Mobile is required</p>
                                </div>
                               
                              </form>
                            <button type="button" class="btn-primary-purple" (click)="updateEditProfile()"><i aria-hidden="true" class="fa fa-save"></i> Update</button>
                        </div>

                        <!--profile container-->
 
                </div>
        </div>
    </div>
    <!--rightBar start-->
    <!-- <app-right-bar></app-right-bar> -->
    <!--rightBar end-->
</div>



