<table class="table">
        <tr id="label16">
            <td>Amenity Type</td>
            &nbsp;
            <td>No of Amenity</td>
            &nbsp;
            <td>Action</td>
        </tr>
        <tr *ngFor="let item of newamenities; let i = index">
                <td>
                  <input type="text" required name="AMType" id="AMType" [(ngModel)]="item['AMType']"
                    #amenityTypecontrol="ngModel" class="form-control" placeholder="Amenity Type" style="font-family: Quicksand"
                    pattern="[a-zA-Z]*" />
                  <p class="alerts" *ngIf="amenityTypecontrol.invalid && amenityTypecontrol.touched"> Valid Amenity type is required
                  </p>
                </td>
                &nbsp;
                <td>
                  <input type="text" required name="NoofAmenities" id="NoofAmenities" [(ngModel)]="item['NoofAmenities']" #amenityNocontrol="ngModel"
                    class="form-control" placeholder="No of Amenities" style="font-family: Quicksand" pattern="[0-9]*" />
                  <p class="alerts" *ngIf="amenityNocontrol.invalid && amenityNocontrol.touched"> Valid no of amenity is required</p>
                </td>
                &nbsp;
                <td>
                    <p><button class="fa fa-trash fa-1x" (click)="deleteAmenity(item['AMType'])"></button></p>
                </td>
              </tr><br>
        <tr>
            <td>
                <input type="text" name="AMType" [(ngModel)]='newamenity.AMType' id="AMType"
                    #newamenityTypecontrol="ngModel" class="form-control" placeholder="Amenity Type"
                    style="font-family: Quicksand" pattern="[a-zA-Z]*" />
                <p class="alerts" *ngIf="newamenityTypecontrol.invalid && newamenityTypecontrol.touched">
                    Valid Amenity type is required</p>
            </td>
            &nbsp;
            <td>
                <input type="text" name="NoofAmenities" [(ngModel)]='newamenity.NoofAmenities' id="NoofAmenities"
                    #newamenityNocontrol="ngModel" class="form-control" placeholder="No of Amenities"
                    style="font-family: Quicksand" pattern="[0-9]*" />
                <p class="alerts" *ngIf="newamenityNocontrol.invalid && newamenityNocontrol.touched"> Valid no of amenity is required</p>
            </td>
            &nbsp;
            <td>
                <p><button class="fa fa-plus-square fa-1x" (click)="addAmenity()"></button></p>
            </td>
        </tr>
    </table>