<table class="table">
        <tr id="label16">
            <td>Amenity Type</td>
            &nbsp;
            <td>No of Amenity</td>
            &nbsp;
            <td>Action</td>
        </tr>
        <tr>
          <td>
                  <div class="form-group" style="margin-bottom: 0px !important;">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle sdm br form-control"
                            type="button" data-toggle="dropdown">{{amenityType}}
                            <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                        <ul class="dropdown-menu fullw">
                        <li (click)="getAmenity('Swimming pool')"><a>Swimming pool</a></li>
                        <li (click)="getAmenity('Gym')"><a>Gym</a></li>
                        <li (click)="getAmenity('Club House')"><a>Club House</a></li>
                        <li (click)="getAmenity('Theater')"><a>Theater</a></li>
                        </ul>
                    </div>
                </div>
          </td>
          &nbsp;
          <td>
              <input type="text" name="NoofAmenities" [(ngModel)]='newamenity.NoofAmenities' id="NoofAmenities"
                  #newamenityNocontrol="ngModel" class="form-control" placeholder="No of Amenities"
                  style="font-family: Quicksand" pattern="[0-9]*" />
              <p class="alerts" *ngIf="newamenityNocontrol.invalid && newamenityNocontrol.touched"> Valid no of amenity is required</p>
          </td>
          <br>
          <td>
            <div style="display: flex;">
              <p><button class="fa fa-plus-square fa-1x" (click)="addAmenity()"></button></p>
              <i data-toggle="tooltip" data-placement="right" title="Bookings once confirmed cannot be cancelled,Text message will be sent to requester phone." class="fa fa-question-circle" aria-hidden="true"></i>
            </div>
          </td>
      </tr><br>
        <tr *ngFor="let item of newamenities; let i = index">
                <td>
                  <input type="text" required name="AMType" id="AMType" [(ngModel)]="item['AMType']"
                    #amenityTypecontrol="ngModel" class="form-control" placeholder="Amenity Type" style="font-family: Quicksand"
                    pattern="[a-zA-Z]*" />
                  <p class="alerts" *ngIf="amenityTypecontrol.invalid && amenityTypecontrol.touched"> Valid Amenity type is required
                  </p>
                </td>
                &nbsp;
                <td>
                  <input type="text" required name="NoofAmenities" id="NoofAmenities" [(ngModel)]="item['NoofAmenities']" #amenityNocontrol="ngModel"
                    class="form-control" placeholder="No of Amenities" style="font-family: Quicksand" pattern="[0-9]*" />
                  <p class="alerts" *ngIf="amenityNocontrol.invalid && amenityNocontrol.touched"> Valid no of amenity is required</p>
                </td>
                &nbsp;
                <td>
                    <p><button class="fa fa-trash fa-1x" (click)="deleteAmenity(item['AMType'])"></button></p>
                </td>
              </tr>
    </table>