<div class="container-fluid np">
    <div class="col-sm-12 mt-80">
        <!--Profile section-->
        <app-left-bar></app-left-bar>
        <!--Profile section-->
        <div class="col-xs-12 col-sm-12 col-md-11 b-l">
            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">
                <span class="black">Staffs</span>
                <div class="switch">
                    <ul class="nav nav-pills">
                        <li [ngClass]="{'active' : condition}"><a (click)="goToStaff()">My Staff</a></li>
                        <li [ngClass]="{'active' : condition1}"><a (click)="getOtherStaffs()">Other Staffs</a></li>
                    </ul>
                </div>
                <div>
                    <div class="col-sm-4 bg-grey" *ngIf="condition">
                        <div>
                            <!-- <input type="text" id="mySearch" placeholder="Select Staff.." title="Type in a category"> -->
                            <div class="dropdown search-dropd sha" style="margin-top:0px">
                                <button style="background: #fafafa !important;"
                                    class="btn btn-primary dropdown-toggle sdm br overh" type="button"
                                    data-toggle="dropdown">{{displayStaff}}
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu fullw fdrop"
                                    style="height: 200px !important;  overflow-x: scroll;">
                                    <li *ngFor="let item of staffs3"
                                        (click)="selectStaff(item['wkfName'],item['wkDesgn'],item['wkEntryImg'],item['wkStatus'],item['wkWorkID'],item['idPrfType'],item['idPrfImg'],item['wkAvgRating'],item['workerstatuses'])">
                                        <a>{{item['wkfName']}}</a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="m-t-30" *ngIf="displayStaff!='Select Staff'">
                            <div style="display: flex;align-items: center;justify-content: space-between;">
                                <div *ngIf="stafimage!=''"><img [src]="stafimage" class="prof">
                                    &nbsp;&nbsp;<strong>{{displayStaff}}</strong>&nbsp;&nbsp;{{wkstaf}}</div>
                                <div *ngIf="stafimage==''"><img src="../../assets/images/family.png" width="50px"
                                        height="50px" />&nbsp;&nbsp; <strong>{{displayStaff}}</strong>
                                    &nbsp;&nbsp;{{wkstaf}}</div>
                                <div>Status:<strong>{{wkStatus}}</strong></div>

                            </div>
                            <div style="display: flex;justify-content: start;align-items: center;padding-top: 8px;">
                                <!-- <strong>{{wkrating}} </strong> -->
                                <star-rating-comp [starType]="'svg'" [readOnly]="true" [direction]="'ltr'"
                                    [size]="'medium'" [staticColor]="'ok'" [rating]="wkrating1"></star-rating-comp>
                                {{wkrating1}}&nbsp;&nbsp;
                                <i (click)="OpeneditReview(editReview,wkid)" tooltip="Edit staff ratings" class="fa fa-pencil"
                                    aria-hidden="true"></i>
                            </div>

                            <span style="float: right;">
                                <i (click)="getDoc()" tooltip="View document" class="fa fa-file-text" aria-hidden="true"
                                    style="color: orange"></i>&nbsp;&nbsp;
                                <i tooltip="Delete staff" class="fa fa fa-trash" aria-hidden="true" (click)="DeleteStaff(wkid)"></i>
                            </span>
                        </div>
                        <div class="date-row" *ngIf="displayStaff!='Select Staff'">
                            <div class="del-date cal">
                                <input type="text" #StaffStartDatee name="StaffStartDate"
                                    #StaffStartDateControl='ngModel' [(ngModel)]="StaffStartDate"
                                    placeholder="From Date" class="date" bsDatepicker [bsConfig]="bsConfig">
                            </div>
                            <div class="del-date cal">
                                <input type="text" #StaffEndDatee name="StaffEndDate" #StaffEndDateControl='ngModel'
                                    [minDate]="StaffStartDate" [(ngModel)]="StaffEndDate" placeholder="To Date"
                                    class="date" bsDatepicker [bsConfig]="bsConfig">
                            </div>
                        </div>
                        <div class="radio-bt" *ngIf="displayStaff!='Select Staff'">
                            <div class="invite-radio">
                                <div class="radio-item">
                                    <input type="radio" id="ritema" name="ritem"  (change)="YesterDate($event)">
                                    <label for="ritema">Yesterday</label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" id="ritemb" name="ritem" (change)="TodayDate($event)">
                                    <label for="ritemb">Today</label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" id="ritemc" name="ritem"  (change)="ThisMonth($event)">
                                    <label for="ritemc">Month Till Date</label>
                                </div>
                            </div>
                        </div>

                        <div class="report-bt" *ngIf="displayStaff!='Select Staff'">
                            <button class="btn btn-primary-purple nextBtn" style="width:100%"
                                (click)="getReports(wkid)">Get Report</button><br>
                            <!-- <button class="btn btn-primary-purple nextBtn" style="width:100%" type="button">Leave with vendor</button> -->
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="col-sm-12" *ngIf="condition1">
                            <!-- <h3 class="staff_head">Other Staffs</h3> -->
                            <div class="col-sm-12" *ngIf="showOtherstaff">
                                <div style="display: flex;flex-wrap: wrap;">
                                    <div style="cursor: pointer" *ngFor="let item of otherStaff" class="staff"
                                        (click)="getotherStaffbyDesignation(item['wtid'],item['wtDesgn'],item['workerstatuses'])">
                                        <img src="{{'data:image/jpeg;base64,'+item['wtImage']}}" width="50px"
                                            height="50px" />
                                        {{item['wtDesgn']}}
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12 np" *ngIf="showstaffBydesignation">
                                <div class="dash-row table-responsive">

                                    <table class="table table-bordered" [mfData]="staffByDesignation" #mf="mfDataTable"
                                        (click)="onPageChange($event)"
                                        [mfRowsOnPage]="setnoofrows=='All Records'?staffByDesignation.length:setnoofrows">
                                        <thead>
                                            <tr>
                                                <th>
                                                    S.No.
                                                </th>
                                                <th>
                                                    <mfDefaultSorter>Staff Image&nbsp;</mfDefaultSorter>
                                                </th>
                                                <th>
                                                    <mfDefaultSorter>Staff Name&nbsp;</mfDefaultSorter>
                                                </th>
                                                <th>
                                                    <mfDefaultSorter>Designation&nbsp;</mfDefaultSorter>
                                                </th>
                                                <th>
                                                    <mfDefaultSorter>Status&nbsp;</mfDefaultSorter>
                                                </th>
                                                <th>
                                                    <mfDefaultSorter>Houses&nbsp;</mfDefaultSorter>
                                                </th>
                                                <th>
                                                    <mfDefaultSorter>Rating&nbsp;</mfDefaultSorter>
                                                </th>
                                                <th>
                                                    <mfDefaultSorter>Action&nbsp;</mfDefaultSorter>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of mf.data;let i=index">
                                                <ng-container *ngIf="item == -1">
                                                    <td colspan="8" align="center">No Data Found</td>
                                                </ng-container>
                                                <ng-container *ngIf="item!=-1">
                                                    <td>{{ (PaginatedValue * (p - 1) + i)+1 }}</td>
                                                    <td> <img 
                                                            [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,'+item['wkEntryImg'])"
                                                            width="50px" height="50px" /> </td>
                                                    <td>{{item['wkfName']}}</td>
                                                    <td>{{item['wkDesgn']}}</td>
                                                    <td>{{item['wkStatus']== '' ? "In Active" : item['wkStatus']}} </td>
                                                    <td>{{item['workerstatuses'].length}}</td>
                                                    <td style="text-align:center">{{item['wkAvgRating']}}
                                                        <star-rating-comp [starType]="'svg'" [readOnly]="true"
                                                            [direction]="'ltr'" [size]="'medium'" [staticColor]="'ok'"
                                                            [rating]="item['wkAvgRating']"></star-rating-comp>
                                                    </td>
                                                    <td>
                                                        <a (click)="getStaffFullDetails(item['wkWorkID'],item['wkDesgn'])"><i tooltip="View Staff" class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                                        <a (click)="AddStaff(item['wkWorkID'])"><i tooltip="Add Staff" class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                                    </td>
                                                </ng-container>
                                            </tr>
                                            <tr *ngIf="staffByDesignation.length == 0">
                                                <ng-container>
                                                    <td colspan="8" align="center">No Data Found</td>
                                                </ng-container>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <!---->
                                </div>
                            </div>
                            <div class="col-sm-12 np" *ngIf="showstaffDetails">
                                <div *ngFor="let item of StaffDetails">
                                    <div class="m-t-30" style="border: 1px solid #afa8d3;padding: 15px;">
                                        <div style="display: flex;align-items: baseline;justify-content: space-between;">
                                            <div *ngIf="stafimage!=''">
                                                <img [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,'+item['wkEntryImg'])" class="prof">
                                                &nbsp;&nbsp;<strong>{{item['wkfName']}}</strong>
                                                <br>
                                                <hr>
                                                <strong>Working In Houses</strong> &nbsp;&nbsp;<a (click)="showStaffUnitRatings()">Show all</a><br>
                                                <hr style="padding: 5px !important;">
                                                        <div *ngIf="!showAll">
                                                                <span  *ngFor="let item of StaffDetailshouse"
                                                                style="border: 1px solid #5a51aa;padding: 6px;border-radius: 17px;">
                                                                {{item['unUniName']}}</span>
                                                        </div>
                                                        <div *ngIf="showAll">
                                                                <div  *ngFor="let item of StaffDetailshouse"
                                                                style="border: 1px solid #5a51aa;padding: 6px;border-radius: 4px;display: flex;margin-bottom: 4px;">
                                                                {{item['unUniName']}} : <star-rating-comp [starType]="'svg'" [readOnly]="true"
                                                                [direction]="'ltr'" [size]="'medium'" [staticColor]="'ok'"
                                                                [rating]="item['wkRating']"></star-rating-comp>{{item['wkRating']}}</div>
                                                        </div>                                                
                                            </div>
                                            <div *ngIf="stafimage==''">
                                                <img 
                                                    [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,'+item['wkEntryImg'])"
                                                    width="50px" height="50px" />&nbsp;&nbsp;
                                                <strong>{{item['wkfName']}} : {{item['wkDesgn']}}</strong>
                                                &nbsp;&nbsp;
                                            </div>
                                            <div style="text-align: center" >
                                                <strong>Average Rating</strong>
                                                    <star-rating-comp [starType]="'svg'" [readOnly]="true"
                                                    [direction]="'ltr'" [size]="'medium'" [staticColor]="'ok'"
                                                    [rating]="item['wkAvgRating']"></star-rating-comp>
                                                {{item['wkAvgRating']}}
                                                <hr>
                                                Status: <strong>{{item['wkStatus']}}</strong><br>
                                               
                                                
                                                

                                            </div>

                                        </div>
                                        <div
                                            style="display: flex;justify-content: start;align-items: center;padding-top: 8px;">
                                            <!-- <strong>{{wkrating}} </strong> -->
                                            &nbsp;&nbsp;

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-12" *ngIf="showStaffReports">
                            <h3 class="staff_head">View Reports</h3>
                            <div class="dash-row table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>
                                                Staff Name
                                            </th>
                                            <th>
                                                Entry Point
                                            </th>
                                            <th>
                                                Entry Time
                                            </th>
                                            <th>
                                                Exit Point
                                            </th>
                                            <th>
                                                Exit Time
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of staffReports">

                                            <ng-container>
                                                <!-- <td>{{(i+1)}}</td>                            -->
                                                <td>{{item['vldCreated']| date :'d-M-y'}}</td>
                                                <td>{{item['vlfName']}}</td>
                                                <td>{{item['vlengName']}}</td>
                                                <td>{{item['vlEntryT']| date :'shortTime'}}</td>
                                                <td>{{item['vlexgName']}}</td>
                                                <td>{{item['vlExitT']| date :'shortTime'}} </td>
                                            </ng-container>

                                        </tr>
                                        <tr *ngIf="staffReports.length==0">

                                            <ng-container>
                                                <td colspan="6"> no reports found</td>
                                            </ng-container>

                                        </tr>


                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                        <div class="col-sm-12" *ngIf="enableviewDocuments">
                            <h3 class="staff_head">View Documents</h3>
                            <p>{{wkidtype}}</p>
                            <img *ngIf="wkidimage!=''" class="idcard" [src]="wkidimage">
                            <img *ngIf="wkidimage==''" src="../../assets/images/doc.png" />


                        </div>



                    </div>


                </div>






            </div>
            <!--Dashboard icons end-->
            <!--Add Expense form Starts-->
            <div class="col-sm-12" *ngIf="addGuest">

                <div class="row">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step col-lg-4 col-sm-6 col-xs-12 step-active">
                                <a href="#step-1" type="button" class="btn btn-success btn-circle"></a><span>Visitors
                                    Details</span>
                            </div>
                            <div class="stepwizard-step col-lg-4 col-sm-6 col-xs-12">
                                <a href="#step-2" type="button"
                                    class="btn btn-default btn-circle"></a><span>Visitors</span>
                            </div>
                            <div class="stepwizard-step col-lg-4 col-sm-6 col-xs-12">
                                <a href="#step-3" type="button" class="btn btn-default btn-circle"></a><span>Invitation
                                    Validity</span>
                            </div>
                        </div>
                    </div>

                    <form role="form">
                        <div class="panel panel-primary setup-content" id="step-1">
                            <!-- <div class="panel-heading">
                                                 <h3 class="panel-title">Association Details</h3>
                                            </div> -->
                            <!-- <p class="title">Current date: 04-12-2019</p> -->
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input maxlength="100" type="text" required="required" class="form-control"
                                        placeholder="First Name" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input maxlength="100" type="text" required="required" class="form-control"
                                        placeholder="Last Name" />
                                </div>
                                <div class="form-group">

                                </div>

                            </div>

                            <div class="col-sm-12 pull-right">
                                <button class="btn btn-primary-purple nextBtn">Reset</button>
                                <button class="btn btn-primary-purple nextBtn" type="button">Next</button>
                            </div>
                        </div>

                        <div class="panel panel-primary setup-content" id="step-2">
                            <!-- <div class="panel-heading">
                                                 <h3 class="panel-title">Pan & Registration Details</h3>
                                            </div> -->
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label">Mobile Number</label>
                                    <input maxlength="200" type="text" required="required" class="form-control"
                                        placeholder="Select Payment Method" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Vehicle Number</label>
                                    <input maxlength="200" type="text" required="required" class="form-control"
                                        placeholder="Select Payment Method" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email Id</label>
                                    <input maxlength="200" type="text" required="required" class="form-control"
                                        placeholder="Select Payment Method" />
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label">Purpose of Visit</label>
                                    <input maxlength="200" type="text" required="required" class="form-control"
                                        placeholder="Select Payment Method" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">no Of Visitors</label>
                                    <input maxlength="200" type="text" required="required" class="form-control"
                                        placeholder="Select Payment Method" />
                                </div>
                                <div class="form-group">

                                </div>
                            </div>

                            <div class="col-sm-12 pull-right">
                                <button class="btn btn-primary-purple nextBtn">Reset</button>
                                <button class="btn btn-primary-purple nextBtn" type="button">Add Expense</button>
                            </div>

                        </div>
                        <div class="panel panel-primary setup-content" id="step-3">

                            <div class="panel-body">
                                <div class="del-date cal">From<input type="text" class="date" bsDatepicker></div>
                                <div class="del-date cal">To <input type="text" class="date" bsDatepicker></div>
                            </div>
                            <div class="col-sm-12 pull-right">
                                <button class="btn btn-primary-purple nextBtn">Reset</button>
                                <button class="btn btn-primary-purple nextBtn" type="button">Add Expense</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--Add Expense form Ends-->
        </div>
    </div>
    <!--rightBar start-->
    <!-- <app-right-bar></app-right-bar> -->
    <!--rightBar end-->
</div>

<ng-template #editReview>
    <div class="modal-header">
        <h4 class="modal-title pull-left" style="color: #e59400;font-size: 20px;left: 269px;">Edit Reviews</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row" *ngFor="let item of staffs1" style="margin:0px 30px">
                <h5>Staff Details</h5>

                <div style="display: flex;">

                    <div style="display: flex;">
                        <div><img [src]="stafimage" width="70px" height="70px" /></div>
                        <div style="margin-left: 17px;">
                            <p><strong>{{item['wkfName']}}</strong><br><span>{{item['wkDesgn']}}</span></p>
                            <p>Status:{{item['wkStatus']}}</p>

                        </div>
                        <div style="margin-left: 17px;">

                            <p>
                                <star-rating-comp [starType]="'svg'" [direction]="'ltr'" [step]="0.5" [size]="'medium'"
                                    [staticColor]="'ok'" [rating]="wkrating1" (onClick)="onClick($event)"
                                    (onRatingChange)="onRatingChange($event)"></star-rating-comp>
                            </p>
                            <p>{{wkrating1}}</p>
                        </div>


                    </div>


                </div>
                <div>
                    <label>Comments:</label>
                    <textarea rows="5" cols="5" name="comment" [(ngModel)]="wkReview"
                        style="width: 100%">{{wkReview}}</textarea>
                </div>
                <button (click)="updateReview(item['wkWorkID'],comment)"
                    class="btn btn-primary-purple nextBtn">Update</button>

            </div>

        </form>
    </div>
</ng-template>