<div class="container-fluid np">
    <div class="col-sm-12 mt-80">
        <!--Profile section-->
        <app-left-bar></app-left-bar>
        <!--Profile section-->
        <div class="col-xs-12 col-sm-12 col-md-11 b-l">
            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">
                <div style="display: flex;justify-content: space-between;align-items: center;">
                    <span class="black">Visitors</span>
                    <div class="switch1" style="margin-bottom: 15px;">
                        <ul class="nav nav-pills">
                            <li class="active"><a (click)="goToGuests()">My Guests</a></li>
                            <li><a (click)="goToDelivery()">Deliveries</a></li>
                            <li><a (click)="goToStaffs()">Staff</a></li>
                        </ul>
                    </div>
                </div>
                <div class="enroll" *ngIf="guestList" style="margin-bottom: 10px;">
                    <div class="invite-radio">
                        <!-- <div class="radio-item">
                            <input type="radio" id="ritema" name="ritem" value="ropt1">
                            <label sfor="ritema">Option 1</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="ritemb" name="ritem" value="ropt2">
                            <label for="ritemb">Option 2</label>
                        </div> -->
                    </div>
                    <button class="btn-primary-purple" (click)="addGuestShow()">
                        <i class="fa fa-plus" aria-hidden="true"></i> Invite Guests</button>
                </div>
                <div class="enroll" style="background: #f8f8f8;padding:10px;margin-bottom: 5px" *ngIf="guestList">
                    <div class="sea">
                        <input type="text" id="mySearch" [(ngModel)]="searchTxt" name="searchTxt" placeholder="Search.." title="Type in a category">
                    </div>
                    <div class="del-date cal"><input type="text" name="StartDate" #StartDateControl='ngModel' [(ngModel)]="StartDate" placeholder="From Date" class="date" bsDatepicker [bsConfig]="bsConfig"></div>
                    <div class="del-date cal"><input type="text" (bsValueChange)='getVisitorList($event)' name="ToDate" #ToDateControl='ngModel'  [(ngModel)]="ToDate" placeholder="To Date" class="date" bsDatepicker [bsConfig]="bsConfig"></div>
                </div>
<!--  -->
<div class="dash-row" *ngIf='guestList'>
    <table class="table table-bordered" [mfData]="invitationList | search:['infName', 'inpOfInv', 'insDate', 'ineDate', 'inVisCnt', 'inMobile']:searchTxt" #mf="mfDataTable" [mfRowsOnPage]="30">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>
                    <mfDefaultSorter by="infName">Visitor Name</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="inpOfInv">Purpose of Visit</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="insDate">Valid From</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="ineDate">Valid Till</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="inVisCnt">Guest Expected</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="inMobile">Mobile Number</mfDefaultSorter>
                </th>
                <th>
                    QR Code
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data|orderBy:insDate;let i=index">
                <ng-container *ngIf="item == -1">
                    <td colspan="8" align="center">No Data Found</td>
                </ng-container>
                <ng-container *ngIf="item!=-1">
                    <td class="txt-middle">{{(i+1)}}</td>
                    <td>{{item['infName']}}</td>
                    <td>{{item['inpOfInv']}}</td>
                    <td class="txt-middle">{{item['insDate']|date:'dd/MM/yyyy'}}</td>
                    <td class="txt-middle">{{item['ineDate']|date:'dd/MM/yyyy'}}</td>
                    <td class="txt-middle">{{item['inVisCnt']}}</td>
                    <td>{{item['inMobile']}}</td>
                    <td class="txt-middle"> 
                        <i data-toggle="modal" data-target="#viewBlockDetailsTemplate"
                        (click)="OpenModalForQRcode(QRtemplate,   
                        item['infName'],
                        item['inMobile'], 
                        item['inInvtID'],    
                        item['unUnitID'],
                        item['insDate'],
                        item['inpOfInv'],
                        item['ineDate'],
                        item['inVisCnt'],
                        item['asAssnID'],
                        item['inIsActive'] )" class="fa fa-qrcode" aria-hidden="true"></i>
                        <!-- &nbsp;|&nbsp;<i data-toggle="modal" data-target="#editBlockDetails" (click)="deleteFamilyMember(item['fmid'])" class="fa fa-trash"></i> -->
                    </td>
                </ng-container>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</div>

<!--Dashboard icons end-->
          <div class="col-sm-12" *ngIf="addGuest">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 guest">
                    <form #inviteGuest="ngForm">
                    <h4>Guest Invitation</h4>
                    <div class="guest-input">
                        <div class="form-group">
                            <label class="control-label">First Name<sup>*</sup></label>
                            <input pattern="[a-zA-Z _]*" maxlength="30" name="INFName" [(ngModel)]="INFName" #INFNameControl="ngModel" type="text" required class="form-control" placeholder="First Name" />
                            <p class="alerts" *ngIf="INFNameControl.invalid && INFNameControl.touched"> First name is required </p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Last Name<sup>*</sup></label>
                            <input pattern="[a-zA-Z _]*" maxlength="20" name="INLName" [(ngModel)]="INLName" #INLNameControl="ngModel" type="text" required class="form-control" placeholder="Last Name" />
                            <p class="alerts" *ngIf="INLNameControl.invalid && INLNameControl.touched"> Last name is required </p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mobile Number<sup>*</sup></label>
                            <input minlength=10 maxlength=10 pattern="[0-9]*" name="INMobile" [(ngModel)]="INMobile" #INMobileControl="ngModel" type="text" required class="form-control" placeholder="Mobile Number" (keypress)=_keyPress($event)/>
                            <p class="alerts" *ngIf="INMobileControl.invalid && INMobileControl.touched"> Valid Mobile no is required </p>
                        </div>
                    </div>
                    <div class="guest-input">                  
                        <div class="form-group">
                            <label class="control-label">Vehicle Number</label>
                            <input maxlength="100" name="INVchlNo" [(ngModel)]="INVchlNo" #INVchlNoControl="ngModel" type="text" class="form-control" placeholder="Vehicle Number" />
                            <p class="alerts" *ngIf="INVchlNoControl.invalid && INVchlNoControl.touched"> Valid vehicle no is required </p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email Address</label>
                            <input maxlength="100" name="INEmail" [(ngModel)]="INEmail" #INEmailControl="ngModel" type="email"  class="form-control" placeholder="Email Address" pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*"/>
                            <p class="alerts" *ngIf="INEmailControl.invalid && INEmailControl.touched"> Email address is required </p>
                        </div>
                        <div class="form-group">
                            
                        </div>
                    </div>
                    <div class="guest-input1">           
                        <div class="form-group" style="width:100%">
                            <label class="control-label">Purpose of invitation</label>
                            <input class="form-control" name="INPOfInv" [(ngModel)]="INPOfInv" #INPOfInvControl="ngModel" rows="10" id="comment">
                        </div>
                    </div>
                    <p>Invitation Validity</p>
                    <div class="guest-input">
                        <div class="form-group">
                            <label class="control-label purple">From <sup>*</sup></label>
                            <input type="text" name="INSDate" #INSDateControl='ngModel' [(ngModel)]="INSDate" bsDatepicker required [minDate]="todayDate" [bsConfig]="bsConfig" placeholder="From Date" class="form-control" bsDatepicker required>
                        </div>
                        <div class="form-group">
                            <label class="control-label purple">Till <sup>*</sup></label>
                            <input type="text" name="INEDate" #INEDateControl='ngModel' [minDate]="INSDate"  [(ngModel)]="INEDate" placeholder="Till Date" [bsConfig]="bsConfig" class="form-control" bsDatepicker required>
                        </div>
                        <!--<div class="form-group">
                             <timepicker [(ngModel)]="mytime"></timepicker>
                        </div>-->
                    </div>
                    <!--<div class="guest-input">
                        
                        <div class="form-group">
                             <timepicker [(ngModel)]="mytime"></timepicker> 
                        </div>
                    </div>-->
                    <div class="guest-input">
                        <div class="form-group">
                            <p class="purple"><strong>Multiple Entries</strong></p>
                        </div>
                        <div class="form-group">
                            <label class="switch" style="float: right">
                                <input type="checkbox" (change)="toggleEditable($event)">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Guest count<sup>*</sup></label>
                            <input name="INVisCnt" [(ngModel)]="INVisCnt" #INVisCntControl="ngModel" type="text" class="form-control" placeholder="Guest Count" (keypress)=_keyPress($event) required/>
                    </div>
                    <div class="col-sm-12 pull-right">
                        <button type="reset" class="btn btn-primary-reset">Reset</button>
                        <button [disabled]="inviteGuest.invalid" class="btn btn-primary-purple nextBtn" (click)="addVisitor()" type="button">Submit</button>
                    </div>
                </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <!--Add Expense form Ends-->
        </div>
    </div>
    <!--rightBar start-->
    <!-- <app-right-bar></app-right-bar> -->
    <!--rightBar end-->
</div>

<!------------------>


 <ng-template #QRtemplate>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Download QR Code</h4>
        <!-- <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.website.com."
            title="Share by Email">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
        </a> -->
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="qr">
                    <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "value"></ngx-qrcode><br>
                 <div class="qr-details">
                    <h3><b>Association Name:</b> {{AssociationName}}</h3>
                    <h3><b>Purpose of Invitation:</b> {{PurposeOfVisit}}</h3>
                    <h3><b>Invited On: </b> {{InvitedDate | date:'dd/MM/yyyy'}}</h3>
                    <h3><b>Total Guests:</b> {{TotalGuest}}</h3>               
                    <a [href]="href" (click)="downloadImage()" download><button class="btn btn-primary-purple nextBtn" type="button">Download QR Code</button></a>
                </div>
          </div>
        </div>
      </ng-template>