.status-cont{    width: 700px;
    border: 2px solid #5a51aa;
    padding: 30px;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;}
    .pay-title{    text-align: center;
        padding-bottom: 30px;}