<!--Benifits-->
<div class="container" style="margin: 40px auto;">
    <h3 class="benifits orange">Sucess Stories From our Clients</h3>
        <div class="tab-content" style="display: flex">
          <!--First Carousel row-->
            <div id="home" class="tab-pane fade in active">
                <div class="col-sm-4 benifit-row">
                    <span><img src="../../assets/images/testimonials/img1.jpg"></span> 
                    <span class="benifit-col">
                      <p><strong>Learning and Development</strong></p>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,remaining essentially unchanged. It was popularised in the 1960s.</p>
                      <a href="#">Read more..</a>
                    </span> 
                </div>
                <div class="col-sm-4 benifit-row b-right">
                    <span><img src="../../assets/images/testimonials/img2.jpg"></span> 
                    <span class="benifit-col">
                        <p><strong>Health and Welness</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,remaining essentially unchanged. It was popularised in the 1960s.</p>
                        <a href="#">Read more..</a>
                    </span> 
                </div>
                <div class="col-sm-4 benifit-row">
                    <span><img src="../../assets/images/testimonials/img3.jpg"></span> 
                    <span class="benifit-col">
                        <p><strong>Health and Welness</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,remaining essentially unchanged. It was popularised in the 1960s.</p>
                        <a href="#">Read more..</a>
                    </span> 
                </div>
            </div>
            <!--First carousel row end-->

            <!--First carousel row end-->
            <div id="menu1" class="tab-pane fade">
                <div class="col-sm-4 benifit-row">
                    <span><img src="../../assets/images/testimonials/img3.jpg"></span> 
                    <span class="benifit-col">
                        <p><strong>Health and Welness</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,remaining essentially unchanged. It was popularised in the 1960s.</p>
                        <a href="#">Read more..</a>
                    </span> 
                </div>
                <div class="col-sm-4 benifit-row b-right">
                    <span><img src="../../assets/images/testimonials/img2.jpg"></span> 
                    <span class="benifit-col">
                        <p><strong>Health and Welness</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,remaining essentially unchanged. It was popularised in the 1960s.</p>
                        <a href="#">Read more..</a>
                    </span> 
                </div>
                <div class="col-sm-4 benifit-row">
                    <span><img src="../../assets/images/testimonials/img1.jpg"></span> 
                    <span class="benifit-col">
                        <p><strong>Health and Welness</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,remaining essentially unchanged. It was popularised in the 1960s.</p>
                        <a href="#">Read more..</a>
                    </span> 
                </div>
            </div>
            <!--First carousel row end-->

            <!--First carousel row end-->
            <div id="menu2" class="tab-pane fade">
                <div class="col-sm-4 benifit-row">
                    <span><img src="../../assets/images/testimonials/img2.jpg"></span> 
                    <span class="benifit-col">
                        <p><strong>Health and Welness</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,remaining essentially unchanged. It was popularised in the 1960s.</p>
                        <a href="#">Read more..</a>
                    </span> 
                </div>
                <div class="col-sm-4 benifit-row b-right">
                    <span><img src="../../assets/images/testimonials/img1.jpg"></span> 
                    <span class="benifit-col">
                        <p><strong>Health and Welness</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,remaining essentially unchanged. It was popularised in the 1960s.</p>
                        <a href="#">Read more..</a>
                    </span> 
                </div>
                <div class="col-sm-4 benifit-row">
                    <span><img src="../../assets/images/testimonials/img3.jpg"></span> 
                    <span class="benifit-col">
                        <p><strong>Planning For Future</strong></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,remaining essentially unchanged. It was popularised in the 1960s.</p>
                        <a href="#">Read more..</a>
                    </span> 
                </div>
            </div>
            <!--First carousel row end-->
            
         </div>
         <div class="contrl">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">1</a></li>
                <li><a data-toggle="tab" href="#menu1">2</a></li>
                <li><a data-toggle="tab" href="#menu2">3</a></li>
           </ul>
        </div>


  </div>
<!--Benifits-->




<div class="np bg-grey">
<div class="container test-cont">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="row testi">
          <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/images/testimonials/testimonial.png" alt="testimonial1">
          </div>
          <div class="col-sm-8 desc-main">
            <h4 class="test_title">Sunil More Shivaji Rao</h4>
            <h5 class="test_designation">CEO, Founder, OyeSpace</h5>
            <p class="test_desc">He says “the vision of OyeSpace is: To Build and Deploy Full Spectrum Innovative
              Solutions in Property Management ensuring customers are delighted with these solutions that help them get
              peace of mind and see appreciated property values, and while doing all this, making OyeSpace synonymous
              with property."</p>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="row testi">

          <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/images/testimonials/testimonial1.png" alt="testimonial2">
          </div>
          <div class="col-sm-8 desc-main">
            <h4 class="test_title">Ramteja Arigela</h4>
            <h5 class="test_designation">Co Founder, Director</h5>
            <p class="test_desc">We’ve contributed to the creation of an industry from scratch.We did it by being
              relentless and exposing ourselves to uncertainty. This is how you build resilience.
            </p>
          </div>

        </div>
      </div>

      <div class="item">
        <div class="row testi">

          <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/images/testimonials/testimonial.png" alt="testimonial2">
          </div>
          <div class="col-sm-8 desc-main">
            <h4 class="test_title">Ramteja Arigela</h4>
            <h5 class="test_designation">Co Founder, Director</h5>
            <p class="test_desc">We’ve contributed to the creation of an industry from scratch.We did it by being
              relentless and exposing ourselves to uncertainty. This is how you build resilience.
            </p>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>
</div>