<div class="container-fluid bg np">
        <div class="col-sm-9">
            <!--Profile section-->
            <app-left-bar></app-left-bar>

            <!--Profile section-->
    
            <div class="col-xs-12 col-sm-12 col-md-11 b-l">
    
                <!--Dashboard icons start-->
                <div class="col-md-12 m-t-30 dash">
                        <ul class="nav nav-pills">
                                <li class="active"><a (click)="goToBlocks()">Blocks</a></li>
                                <li><a (click)="goToUnits()">Units</a></li>
                                
                        </ul>
                    <div class="enroll">
                            <span class="purple" style="font-size: 24px;font-weight: 500;">Blocks Management</span>
                        <button class="btn-primary-purple" (click)="openModal(template)"><i class="fa fa-plus"
                                aria-hidden="true"></i> Add Blocks</button>
                        
                    </div>
                    <div>
                        <label>Search</label>
                        <input type="text" [(ngModel)]="searchTxt" class="form-control" name="searchTxt" placeholder="search name"> 
                    </div>
                    <div class="dash-row">
                        <table class="table table-striped" [mfData]="allBlocksLists | search:searchTxt" #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th style="width: 20%">
                                        S.No.
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="blBlkName">Block Name</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="blBlkType">Block Type</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="blNofUnit">No Of Units</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of mf.data;let i=index">
                                    <ng-container *ngIf="item == -1">
                                        <td colspan="4" align="center">No Data Found</td>
                                    </ng-container>
                                    <ng-container *ngIf="item!=-1">
                                        <td>{{(i+1)}}</td>
                                        <td>{{item['blBlkName']}}</td>
                                        <td>{{item['blBlkType']}}</td>
                                        <td>{{item['blNofUnit']}}</td>
                                        <td>
                                            <i data-toggle="modal" data-target="#viewBlockDetailsTemplate"
                                                (click)="viewBlockDetails(item['blBlkName'],item['blBlkType'],item['blNofUnit'])" class="fa fa-eye"></i>&nbsp;|&nbsp;<i
                                                data-toggle="modal" data-target="#editBlockDetails"
                                                (click)="OpenModal(editBlocktemplate,item.blBlkName,item.blBlkType,item.blNofUnit,item.blMgrName,item.blMgrMobile,item.blMgrEmail,item.asMtType,item.asMtFRate,item.asMtDimBs,item.asUniMsmt,item.asbGnDate,item.asdPyDate,item.bldUpdated,item.aslpcType,item.aslpChrg,item.blBlockID,item.asiCrFreq,item.aslpsDate)"
                                                class="fa fa-pencil"></i>
        
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!--Dashboard icons end-->
    
            </div>
    
        </div>
         <!--rightBar start-->
         <app-right-bar></app-right-bar>
         <!--rightBar end-->
    </div>
    
    
    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            This is a modal.
        </div>
    </ng-template>

    <div class="modal fade" id="viewBlockDetailsTemplate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding-top:20px; background-color: #686868;">
                    <h4 class="modal-title" id="myModalLabel"><u>View Block</u></h4>
                    <button type="button" class="close" data-dismiss="modal" style="left:100%" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">

                    <fieldset class="scheduler-border">
                        <div class="row" style="text-align:center;">
                            <br>
                            <div class="col-sm-4">
                                <p></p>
                                <h4>Block Name: </h4><span>{{bkname}}</span>
                                <p></p>
                                <br>
                            </div>
                            <div class="col-sm-4">
                                <p></p>
                                <h4>Block Type: </h4><span>{{bktype}}</span>
                                <p></p>
                                <br>
                            </div>

                            <div class="col-sm-4">
                                <p></p>
                                <h4>No of Units: </h4><span>{{bknofunit}}</span>
                                <p></p>
                                <br>
                            </div>

                        </div>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>