
<!-- DASHBOARD FOR NON ASSOCIATION USER FOR ENROLL AND JOIN -->
<div *ngIf='associations.length == 0' class="container-fluid np">
        <div class="col-sm-12 np mt-80">
                <!--Profile section-->
                <app-left-bar></app-left-bar>
                <!--Profile section-->
                <div class="col-xs-12 col-sm-12 col-md-11 b-l bg">
                        <div class="dash-main">
                                <div class="dash-shape">
                                        <div class="col-md-12 dash dash-bg-1">
                                                <div class="dash-row">
                                                        <div class="tile-link" (click)="goToEnrollAssociation()">
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/expense-management.png">
                                                                </div>
                                                                <div class="f-des">Enroll <br>Association</div>
                                                        </div>
                                                        <div class="tile-link" (click)="goToJoinAssociation()">
                                                                <div>
                                                                        <div> Join Association</div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="dash-row">
                                                </div>
                                                <div class="dash-row">
                                                </div>
                                        </div>
                                        <!-- <div class="dash-tab">
                                                <span class="l-top">&nbsp;</span>
                                                <ul class="tabs group">
                                                        <li (click)="AdminsUnitShow()"><a data-toggle="tab">MY UNIT</a>
                                                        </li>
                                                        <li *ngIf="globalService.mrmroleId == 1"
                                                                (click)="AdminsButtonShow()" class="active right-tab">
                                                                <a class="act-b" data-toggle="tab">ADMIN</a></li>
                                                </ul>
                                        </div> -->
                                </div>
                        </div>
                </div>
        </div>
</div>
<!-- DASHBOARD FOR NON ASSOCIATION USER FOR ENROLL AND JOIN ENDS-->
<!---->
<!---->
<!---->
<!---->
<!---->
<div *ngIf='associations.length != 0' class="container-fluid np">
        <div class="col-sm-12 np mt-80">
                <!--Profile section-->

                <app-left-bar></app-left-bar>

                <!--Profile section-->

                <div class="col-xs-12 col-sm-12 col-md-11 b-l bg">
                        <!--Search Drop Down start -->
                        <!-- <div class="col-sm-12 search">
                                <div class="dropdown search-dropd">
                                        <button class="btn btn-primary dropdown-toggle sdm br overh" type="button"
                                                data-toggle="dropdown">{{(globalService.currentAssociationName == ''?'Association':globalService.currentAssociationName)}}
                                                <span class="caret"></span></button>
                                        <ul class="dropdown-menu fullw fdrop">
                                                <li (click)="loadAssociation(association['asAsnName'],'id')" *ngFor="let association of uniqueAssociations"><a >{{association['asAsnName']}}</a></li>
                                        </ul>
                                </div>
                                <div class="dropdown search-dropd">
                                        <button class="btn btn-primary dropdown-toggle sdm" type="button"
                                                data-toggle="dropdown">{{globalService.currentUnitName}}
                                                <span class="caret"></span></button>
                                        <ul class="dropdown-menu fullw">
                                                <li (click)="loadUnit(unt['unUniName'],unt['unUnitID'])" *ngFor="let unt of unitlistForAssociation"><a>{{unt['unUniName']}}</a></li>
                                        </ul>
                                </div>
                        </div> -->
                        <!--Search Drop Down End -->
                        <!--choice heading row start-->
                        
                        <!-- <div class="col-sm-12 make">
                                <h3 class="purple">{{globalService.currentAssociationName}}</h3>
                        </div> -->
                        <!--choice heading row end-->



                        <!--Dashboard icons for ADMIN start-->
                        <div class="dash-main">
                                <div class="dash-shape" *ngIf="localMrmRoleId == 1" >
                                        <div class="col-md-12 dash dash-bg-1" style="border-radius: 24px 24px 0px 26px;">
                                                <div class="dash-row">
                                                        <div class="tile-link"
                                                                (click)="OpenModalBlockDetails(viewBlockDetailsTemplate)">
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/asso-due.png">
                                                                </div>
                                                                <div>
                                                                        <div class="number">
                                                                                {{'₹ '+(amount==0?'0':amount)}}</div>
                                                                        <div>Association <br>Amount Due</div>
                                                                </div>
                                                        </div>
                                                        <div class="tile-link" (click)="goToAssociation()">
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/association-management.png">
                                                                </div>
                                                                <div class="f-des">Association<br> Management
                                                                </div>
                                                        </div>
                                                        <div class="tile-link" (click)="goToExpense()">
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/expense-management.png">
                                                                </div>
                                                                <div class="f-des">Expense <br> Management</div>
                                                        </div>
                                                        <!-- <div>
                                                <div><img class="dash-icon"
                                                                src="../../assets/images/dash_icons/amount_due_self.png">
                                                </div>
                                                <div (click)='gotToResidentInvoice()'>
                                                        <div class="number">{{'₹ '+(amountdue==0?'0':amountdue)}}</div>
                                                        <div>Amount Due</div>
                                                </div>
                                        </div> -->
                                                        <!-- <div class="tile-link" (click)="goToVehicles()">
                                                <div><img class="dash-icon" src="../../assets/images/icons/vehicles.png"></div>
                                                <div>
                                                        <div class="number">{{(totalAssociationVehicles=='0'?'0':totalAssociationVehicles)}}</div>
                                                        <div>Vehicles</div>
                                                </div>
                                        </div> -->
                                                        <div class="tile-link" (click)="goToMembers()">
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/association-management.png">
                                                                </div>
                                                                <div>
                                                                        <div class="number">
                                                                                {{(totalMember=='0'?'0':totalMember)}}
                                                                        </div>
                                                                        <div>Members</div>
                                                                </div>
                                                        </div>
                                                        <!-- <div class="tile-link" (click)="goToAssociationVisitors()">
                                                <div><img class="dash-icon" src="../../assets/images/icons/visitors.png"></div>
                                                <div>
                                                        <div class="number">{{(totalVisitors=='0'?'0':totalVisitors)}}</div>
                                                        <div>Visitors</div>
                                                </div>
                                        </div> -->
                                                        <!-- <div>
                                                <div><img class="dash-icon"
                                                                src="../../assets/images/dash_icons/Group 1750.png">
                                                </div>
                                                <div>
                                                        <div class="number">0</div>
                                                        <div>Documents</div>
                                                </div>
                                        </div> -->

                                                </div>
                                                <div class="dash-row">
                                                        <div>
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/staff.png">
                                                                </div>
                                                                <div>
                                                                        <div class="number">
                                                                                {{(totalStaffs=='0'?'0':totalStaffs)}}
                                                                        </div>
                                                                        <div>Staff</div>
                                                                </div>
                                                        </div>
                                                        <div class="tile-link" (click)="goToBlocks()">
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/blocks-units.png">
                                                                </div>
                                                                <div class="f-des">{{availableNoOfUnits}}-Units <br>
                                                                         {{availableNoOfBlocks}}-Blocks</div>
                                                        </div>
                                                        <div class="tile-link" (click)="goToReports()">
                                                                <div>
                                                                        <img class="dash-icon"
                                                                                src="../../assets/images/icons/reports.png">
                                                                </div>
                                                                <div>
                                                                        Reports
                                                                </div>
                                                        </div>
                                                        <!-- <div>
                                                <div><img class="dash-icon"
                                                                src="../../assets/images/dash_icons/ticket.png"></div>
                                                <div>
                                                        <div class="number">{{(totalTickets=='0'?'0':totalTickets)}}</div>
                                                        <div>Tickets</div>
                                                </div>
                                        </div> -->

                                                </div>
                                                <div class="dash-row">
                                                        <!-- <div class="tile-link" (click)="goToPatrolling()">
                                                <div>
                                                        <img class="dash-icon" src="../../assets/images/icons/patrolling.png">
                                                </div>
                                                <div>
                                                        Patrolling
                                                </div>
                                        </div>      -->
                                                        <!-- <div class="tile-link" (click)="goToFamily()">
                                                <div>
                                                        <img class="icon" src="../../assets/images/icons/family.png">
                                                </div>
                                                <div>
                                                 Family Members
                                                </div>
                                        </div>  -->
                                                        <!-- <div class="tile-link" (click)="goToVisitors()">
                                                <div>
                                                        <img class="icon" src="../../assets/images/icons/visitors.png">                                                </div>
                                                <div>
                                                        Visitors
                                                </div>
                                        </div>  -->
                                                </div>
                                                <!-- <div class="dash-row"> 
                                        <div class="tile-link" (click)="goToVehicles()">
                                                <div>
                                                        <img class="icon" src="../../assets/images/icons/vehicles.png">
                                                </div>
                                                <div>
                                                        Vehicles
                                                </div>
                                        </div>   
                                     
                                </div> -->

                                                <!-- <div class="dash-row1">
                                                <span  *ngIf="globalService.mrmroleId == 1" class="ad-btn ad-btn-active" (click)="AdminsButtonShow()" value="Admin">Admin</span>
                                                <span class="ad-btn" (click)="AdminsUnitShow()" value="MyUnit">My Unit</span>     
                                </div> -->
                                        </div>
                                        <div class="dash-tab">
                                                <span class="l-top">&nbsp;</span>
                                                <ul class="tabs group">
                                                        <li *ngIf='globalService.currentUnitName!="NoUnit"' (click)="AdminsUnitShow()"><a data-toggle="tab">MY UNIT</a>
                                                        </li>
                                                        <li *ngIf="globalService.mrmroleId == 1"
                                                                (click)="AdminsButtonShow()" class="active right-tab">
                                                                <a class="act-b" data-toggle="tab">ADMIN</a></li>
 
                                                </ul>
                                        </div>
                                </div>

                                <!---->
                        </div>
                        <!--Dashboard icons for ADMIN end-->


                        <!--Dashboard icons for MyUnit(RESIDENT) start-->
                        <div class="dash-main">
                                <div class="dash-shape" *ngIf="localMrmRoleId != 1">
                                        <div class="col-md-12 dash dash-bg-1" style="border-radius: 24px 24px 26px 0px;">
                                                <div class="dash-row">

                                                        <div>
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/asso-due.png">
                                                                </div>
                                                                <div>
                                                                        <div class="number">
                                                                                {{'₹ '+(amountdue==0?'0':amountdue)}}
                                                                        </div>
                                                                        <div>Amount Due</div>
                                                                </div>
                                                        </div>

                                                        <!-- <div class="tile-link" (click)="goToAssociation()">
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/association-management.png">
                                                                </div>
                                                                <div class="f-des">Association<br> Management
                                                                </div>
                                                        </div> -->
                                                        <div class="tile-link" (click)="goToVisitors()">
                                                                <div><img class="dash-icon" src="../../assets/images/icons/visitors.png"></div>
                                                                <div>
                                                                        <div class="number">{{(totalUnitVisitors=='0'?'0':totalUnitVisitors)}}</div>
                                                                        <div>Visitors</div>
                                                                </div>
                                                        </div>
                                                        <div class="tile-link">
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/members.png">
                                                                </div>
                                                                <div data-toggle="modal"
                                                                        data-target="#associationMembersTemplate">
                                                                        <div class="number">
                                                                                {{(totalMember=='0'?'0':totalMember)}}
                                                                        </div>
                                                                        <div>Members</div>
                                                                </div>
                                                        </div>
                                                        <div class="tile-link" (click)="goToResidentInvoice()">
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/expense-management.png">
                                                                </div>
                                                                <div class="f-des">Invoices</div>
                                                        </div>
                                                </div>
                                                <div class="dash-row">
                                                        <div class="tile-link" (click)="goToVehicles()">
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/vehicles.png">
                                                                </div>
                                                                <div>
                                                                        <div class="number">
                                                                                {{(totalVehicles=='0'?'0':totalVehicles)}}
                                                                        </div>
                                                                        <div>Vehicles</div>
                                                                </div>
                                                        </div>

                                                        <!-- <div class="tile-link" (click)="goToVisitors()">
                                                                <div><img class="dash-icon" src="../../assets/images/icons/visitors.png"></div>
                                                                <div>
                                                                        <div class="number">{{(totalUnitVisitors=='0'?'0':totalUnitVisitors)}}</div>
                                                                        <div>Visitors</div>
                                                                </div>
                                                        </div> -->
                                                        <div class="tile-link" (click)="goToStaffFromDashboard()">
                                                                <div><img class="dash-icon"
                                                                                src="../../assets/images/icons/staff.png">
                                                                </div>
                                                                <div>
                                                                        <div class="number">
                                                                                {{(totalUnitStaffs=='0'?'0':totalUnitStaffs)}}
                                                                        </div>
                                                                        <div>Staff</div>
                                                                </div>
                                                        </div>
                                                        <div class="tile-link" (click)="goToFamily()">
                                                                <div>
                                                                        <img class="dash-icon"
                                                                                src="../../assets/images/icons/family-members.png">
                                                                </div>
                                                                <div>
                                                                        <div class="number">
                                                                                {{(familyMemberCount=='0'?'0':familyMemberCount)}}
                                                                        </div>
                                                                       <div>Family Members</div> 
                                                                </div>
                                                        </div>
                                                        <!-- <div class="tile-link" (click)="goToVisitors()">
                                                <div>
                                                        <img class="icon" src="../../assets/images/icons/visitors.png">                                                </div>
                                                <div>
                                                        Visitors
                                                </div>
                                        </div>  -->
                                                </div>
                                                <!-- <div class="dash-row">
                                        <div class="tile-link" (click)="goToVehicles()">
                                                <div>
                                                        <img class="icon" src="../../assets/images/icons/vehicles.png">
                                                </div>
                                                <div>
                                                        Vehicles
                                                </div>
                                        </div>   
                                </div> -->
                                                <!-- <div class="dash-row1">
                                                <span *ngIf="globalService.mrmroleId == 1" class="ad-btn" (click)="AdminsButtonShow()" value="Admin">Admin</span>
                                                <span class="ad-btn ad-btn-active1" (click)="AdminsUnitShow()" value="MyUnit">My Unit</span>     
                                </div> -->
                                                <!-- <div class="dash-row">
                                        <div *ngIf="globalService.mrmroleId == 1">
                                                <input class="butt" type="button" (click)="AdminsButtonShow()" value="Admin"/>
                                        </div>
                                        <div>
                                                <input class="butt" type="button" (click)="AdminsUnitShow()" value="MyUnit"/>
                                        </div>
                                </div> -->
                                        </div>
                                        <div class="dash-tab">
                                                <span class="r-top">&nbsp;</span>
                                                <ul class="tabs group">
                                                        <li (click)="AdminsUnitShow()" class="active left-tab"><a class="act-a"
                                                                data-toggle="tab">MY UNIT</a></li>
                                                        <li *ngIf="globalService.mrmroleId == 1"
                                                                (click)="AdminsButtonShow()"><a
                                                                        data-toggle="tab">ADMIN</a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                        <!--Dashboard icons for MyUnit(RESIDENT) end-->


                </div>

        </div>
        <!--rightBar start-->
        <!-- <app-right-bar></app-right-bar> -->
        <!--rightBar end-->
</div>

<!---------POPUP FOR ASSOCIATION AMOUNT DUE START HERE--------->
<ng-template #viewBlockDetailsTemplate>
        <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><u>View Due Amount</u></h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
                <table class="table table-bordered" [mfData]="associationAmountDue" #mf="mfDataTable"
                        [mfRowsOnPage]="10">
                        <thead>
                                <tr>
                                        <th>
                                                S.No.
                                        </th>
                                        <th>
                                                <mfDefaultSorter by="unUniName">Unit Name</mfDefaultSorter>
                                        </th>
                                        <th>
                                                <mfDefaultSorter by="inNumber">Invoice Number</mfDefaultSorter>
                                        </th>
                                        <th>
                                                <mfDefaultSorter by="pyAmtDue">Due Amount</mfDefaultSorter>
                                        </th>
                                        <th>
                                                <mfDefaultSorter by="pyStat">Payment Status</mfDefaultSorter>
                                        </th>

                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let item of mf.data;let i=index">
                                        <ng-container *ngIf="item == -1">
                                                <td colspan="5" align="center">No Data Found</td>
                                        </ng-container>
                                        <ng-container *ngIf="item!=-1">
                                                <td>{{(i+1)}}</td>
                                                <td>{{item['unUniName']}}</td>
                                                <td>{{item['inNumber']}}</td>
                                                <td>{{item['pyAmtDue']}}</td>
                                                <td>{{item['pyStat']}}</td>
                                        </ng-container>
                                </tr>
                        </tbody>
                        <tfoot>
                                <tr>
                                        <td colspan="5">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                        </td>
                                </tr>
                        </tfoot>
                </table>
        </div>
</ng-template>
<!---------POPUP FOR ASSOCIATION AMOUNT DUE END HERE--------->

<!---------POPUP FOR ASSOCIATION MEMBERS START HERE--------->
<div class="modal fade" id="associationMembersTemplate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                        <div class="modal-header" style="padding-top:20px;">
                                <h4 class="modal-title" id="myModalLabel">Association Members</h4>
                                <button type="button" class="close" data-dismiss="modal" style="left:100%"
                                        aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">

                                <table class="table table-bordered" [mfData]="associationTotalMembers" #mf="mfDataTable"
                                        [mfRowsOnPage]="10" (click)="onPageChange($event)">
                                        <thead>
                                                <tr>
                                                        <th>
                                                                S.No.
                                                        </th>
                                                        <th>
                                                                <mfDefaultSorter by="unUniName">Unit
                                                                </mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                                <mfDefaultSorter by="unOcStat">Occupancy Status
                                                                </mfDefaultSorter>
                                                        </th>
                                                        <th>
                                                                <mfDefaultSorter by="owner">Name</mfDefaultSorter>
                                                        </th>

                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let item of mf.data;let i=index">
                                                        <ng-container *ngIf="item == -1">
                                                                <td colspan="5" align="center">No Data Found</td>
                                                        </ng-container>
                                                        <ng-container *ngIf="item!=-1">
                                                                <td>{{ (10 * (p - 1) + i)+1 }}</td>
                                                                <td>{{item['unUniName']}}</td>
                                                                <td>{{item['unOcStat']}}</td>
                                                                <td>{{(item['owner'].length > 0 ? item['owner'][0]['uofName']:'')}}
                                                                </td>
                                                        </ng-container>
                                                </tr>
                                        </tbody>
                                        <tfoot>
                                                <tr>
                                                        <td colspan="5">
                                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                                        </td>
                                                </tr>
                                        </tfoot>
                                </table>

                        </div>
                </div>
        </div>
</div>
<!---------POPUP FOR ASSOCIATION MEMBERS END HERE--------->