<div class="container-fluid bg np">
  <div class="col-sm-9">
    <!--Profile section-->
    <app-left-bar></app-left-bar>
    <!--Profile section-->
    <div class="col-xs-12 col-sm-12 col-md-11 b-l">
      <h3 class="black">Association Management</h3>
      <!--Dashboard icons start-->
      <div class="col-md-12 m-t-30 dash">
        <div class="enroll">
          <div>
            <button class="btn-primary-purple" (click)="enblEnrlAsnVew()"><i class="fa fa-plus"
                aria-hidden="true"></i> Enroll Association</button>
            <button class="btn-primary-purple" (click)="enblJoinAsnVew()"><i class="fa fa-handshake-o" aria-hidden="true"></i>
              Join Association</button>
          </div>
        </div>
        <div *ngIf='viewAssnService.vewAsnEnbled'>
          <label>Search</label>
          <input type="text" [(ngModel)]="searchTxt" class="form-control" name="searchTxt" placeholder="search name">
        </div>
        <div *ngIf='viewAssnService.vewAsnEnbled' class="dash-row">
          <table class="table table-striped" [mfData]="associations | search:['asAsnName', 'asPrpName', 'asAddress','asNofBlks','asNofUnit']:searchTxt" #mf="mfDataTable"
            [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  S.No.
                </th>
                <th>
                  <mfDefaultSorter by="asAsnName">Association Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="asPrpName">Property Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="asAddress">Locality</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="asNofBlks">No of Blocks</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="asNofUnit">No of Units</mfDefaultSorter>
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data;let i=index">
                <ng-container *ngIf="item == -1">
                  <td colspan="7" align="center">No Data Found</td>
                </ng-container>
                <ng-container *ngIf="item!=-1">
                  <td>{{(i+1)}}</td>
                  <td>{{item['asAsnName']}}</td>
                  <td>{{item['asPrpName']}}</td>
                  <td>{{item['asAddress']}}</td>
                  <td>{{item['asNofBlks']}}</td>
                  <td>{{item['asNofUnit']}}</td>
                  <td>
                    <i class="fa fa-eye" style="cursor: pointer;" title="ViewAssociation"
                      (click)="openViewAssociation(viewreceiptmodal,item.asAsnName,item.asPrpName,item.asAddress,item.asNofUnit,item.asCountry,item.asPinCode,item.asState,item.asPrpType,item.asNofBlks,item.asRegrNum,item.asAsnLogo,item.asCity,item.aspanNum,item.aspanDoc,item.asAssnID,item.asgstNo)"></i>
                    |
                    <i (click)="OpenModal(template,item.asAsnName,item.asCountry,item.asAddress,item.asCity,item.asState,item.asPinCode,item.asPrpType,item.asPrpName,item.asNofBlks,item.asNofUnit,item.amType,item.noofAmenities,item.baBName,item.baIFSC,item.baActNo,item.baActType,item.asAssnID)"
                      class="fa fa-pencil" style="cursor: pointer;" title="EditAssociation"></i>
                  </td>
                </ng-container>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="7">
                  <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!--Dashboard icons end-->
      <!--Enroll Association form Starts-->
      <div *ngIf='viewAssnService.enrlAsnEnbled' class="col-sm-12">
          <div class="row">
            <div class="stepwizard">
              <div class="stepwizard-row setup-panel">
                  <div class="stepwizard-step col-lg-3 col-sm-6 col-xs-12 step-active">
                      <a href="#step-1" type="button"
                          class="btn btn-success btn-circle"></a><span>Association Details</span>
                  </div>
                  <div class="stepwizard-step col-lg-3 col-sm-6 col-xs-12">
                      <a href="#step-2" type="button" class="btn btn-default btn-circle"
                          disabled="disabled"></a><span>Pan & Registration Details</span>
                  </div>
                  <div class="stepwizard-step col-lg-3 col-sm-6 col-xs-12">
                      <a href="#step-3" type="button" class="btn btn-default btn-circle"
                          disabled="disabled"></a><span>Block & Unit Details</span>
                  </div>
                  <div class="stepwizard-step col-lg-3 col-sm-6 col-xs-12">
                      <a href="#step-4" type="button" class="btn btn-default btn-circle"
                          disabled="disabled"></a><span>Other Amenities</span>
                  </div>
              </div>
          </div>

              <form role="form">
                  <div class="panel panel-primary setup-content" id="step-1">
                      <!-- <div class="panel-heading">
                               <h3 class="panel-title">Association Details</h3>
                          </div> -->
                      <div class="panel-body">
                          <div class="form-group">
                              <label id=label1>Association Name <span class="red">*</span></label>
                              <input type="text" required name="ASAsnName" id="input15" autocomplete="off"
                                  [(ngModel)]="crtAssn.name" #nameControl="ngModel" class="form-control"
                                   pattern="[A-Za-z\s]+"
                                  style="text-transform: uppercase; font-family: Quicksand; font-size: 13px;" placeholder="Association Name"/>
                              <p class="alerts" *ngIf="nameControl.invalid && nameControl.touched"> Valid Association name is
                                  required</p>
                          </div>
                          <div class="form-group">
                            <label class="control-label">Upload logo</label>
                            <input type="file" name="ASAsnLogo" [(ngModel)]="crtAssn.logo" #logoControl="ngModel" class="form-control"
                              style="font-family: Quicksand" (change)='onFileSelected($event)' pattern="(.*?)\.(png|jpeg|jpg)$"
                              id="viewassosnuploadFileinput">
                          </div>
                          <div class="form-group">
                              <span class="note">Upload Logo of Max 2MB and formats allowed are: PNG,JPG and
                                  Resolution of 128*128</span>
                          </div>
                      </div>
                      <div class="panel-body">
                          <div class="form-group">
                              <label class="control-label">Country</label>
                              <div class="dropdown">
                                  <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                                      data-toggle="dropdown">{{crtAssn.country}}
                                      <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                                  <ul class="dropdown-menu fullw fdrop">
                                      <li *ngFor='let country of countries' (click)="openPANfield(country['name'])"><a>{{country['name']}}</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="control-label">State</label>
                              <input type="text" required name="ASState" autocomplete='crtAss.state'
                                  [(ngModel)]="crtAssn.state" #stateControl="ngModel" class="form-control"
                                  placeholder="STATE" style="font-family: Quicksand" pattern="[a-zA-Z\s]*" />
                              <p class="alerts" *ngIf="stateControl.invalid && stateControl.touched"> Valid State is required</p>
                          </div>
                          <div class="form-group">
                              <label class="control-label">City</label>
                              <input type="text" required name="ASCity" autocomplete='crtAss.city'
                                  [(ngModel)]="crtAssn.city" #cityControl="ngModel" class="form-control" placeholder="CITY"
                                  style="font-family: Quicksand" pattern="[a-zA-Z\s]*" />
                              <p class="alerts" *ngIf="cityControl.invalid && cityControl.touched"> Valid City is required</p>
                          </div>
                      </div>
                      <div class="panel-body">
                          <div class="form-group" [ngClass]="{'was-validated' : postalcodeControl.invalid && postalcodeControl.touched}">
                              <label class="control-label">Pin/Zip/Postal Code</label>
                              <input type="text" required name="ASPinCode" autocomplete='crtAss.postalCode'
                                  [(ngModel)]="crtAssn.postalCode" #postalcodeControl="ngModel" class="form-control"
                                  placeholder="PIN/ZIP" style="font-family: Quicksand" pattern="^\d{6,}$" minlength="5" pattern="[0-9]*" (keypress)=_keyPress($event)
                                  maxlength="6" />
                              <p class="alerts" *ngIf="postalcodeControl.invalid && postalcodeControl.touched"> Valid pincode is
                                  required</p>
                          </div>
                          <div class="form-group">
                            <label class="control-label">Property Type</label>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                                    data-toggle="dropdown">{{crtAssn.propertyType}}
                                    <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                                <ul class="dropdown-menu fullw">
                                    <li *ngFor='let propertyType of propertyTypes' (click)="setPropertyType(propertyType['name'])"><a>{{propertyType['name']}}</a></li>
                                </ul>
                            </div>
                          </div>
                          <div class="form-group">
                              <label class="control-label">Property Name</label>
                              <input type="text" required name="ASPrpName" autocomplete='crtAss.propertyName'
                                  [(ngModel)]="crtAssn.propertyName" #propertynameControl="ngModel" class="form-control"
                                  placeholder="PROPERTY NAME" style="font-family: Quicksand" pattern="[a-zA-Z\s]*"
                                  style="text-transform: uppercase; font-family: Quicksand; font-size: 13px;" />
                              <p class="alerts" *ngIf="propertynameControl.invalid && propertynameControl.touched">Valid property
                                  name is required</p>
                          </div>
                      </div>
                      <div class="panel-body">
                          <div class="form-group">
                              <label class="control-label">Locality</label>
                              <input type="text" required name="ASAddress" autocomplete='crtAssn.locality'
                                  [(ngModel)]="crtAssn.locality" #localityControl="ngModel" class="form-control"
                                  maxlength="255" placeholder="LOCALITY " style="font-family: Quicksand"
                                  pattern="[A-Za-z\s]+" />
                              <p class="alerts" *ngIf="localityControl.invalid && localityControl.touched"> Valid locality is
                                  required</p>
                              <br>
                          </div>
                          <div class="form-group">
                              <label class="control-label">Association Email</label>
                              <input type="text"  name="ASAsnEmail" autocomplete='crtAssn.email'
                                  [(ngModel)]="crtAssn.email" #emailControl="ngModel" class="form-control"
                                  maxlength="255" placeholder="EMAIL ID " style="font-family: Quicksand" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                              <p class="alerts" *ngIf="emailControl.invalid && emailControl.touched"> Valid EmailID is Required
                                  </p>
                              <br>
                          </div>
                          <div class="form-group">
                              <label class="control-label">Website Url</label>
                              <input type="text"  name="ASWebURL" autocomplete='crtAssn.url'
                                  [(ngModel)]="crtAssn.url" #urlControl="ngModel" class="form-control"
                                  maxlength="255" placeholder="URL " style="font-family: Quicksand" pattern="^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$" />
                              <p class="alerts" *ngIf="urlControl.invalid && urlControl.touched"> Valid URL is
                                  </p>
                              <br>
                          </div>
                      </div>
                      <div class="col-sm-12"> 
                        <button class="btn btn-primary-purple nextBtn pull-right"
                              type="button">Next</button>
                        <button class="btn btn-primary-purple nextBtn pull-right"
                            type="reset" (click)='resetStep1()'>Reset</button>
                      </div>

                  </div>

                  <div class="panel panel-primary setup-content" id="step-2">
                      <!-- <div class="panel-heading">
                               <h3 class="panel-title">Pan & Registration Details</h3>
                          </div> -->
                      <div class="panel-body">
                          <div class="form-group">
                              <label class="control-label">Pan Number <span class="red">*</span></label>
                              <input type="text" name="PANNumber" required autocomplete='crtAssn.PANNumber'
                                  [(ngModel)]="crtAssn.PANNumber" #PANNumberControl="ngModel" class="form-control"
                                  placeholder="PAN NUMBER"
                                  style="text-transform: uppercase; font-family: Quicksand; font-size: 13px;"
                                  (input)='pan()' minlength=10 maxlength=10/>
                              <small style="color:grey; font-size:12px;">Ex: PAAAA1234A</small>
                              <p class="alerts" *ngIf="matching"> Valid PAN number is required </p>
                          </div>
                          <div class="form-group">
                              <label class="control-label">GST Number</label>
                              <input type="text" name="GSTNumber" autocomplete='crtAss.GSTNumber'
                                  [(ngModel)]="crtAssn.GSTNumber" #GSTNumberControl="ngModel" class="form-control"
                                  placeholder="GST NUMBER"
                                  style="text-transform: uppercase; font-family: Quicksand; font-size: 13px;"
                                  pattern="^([0-9]{2}[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}[1-9a-zA-Z]{1}[zZ]{1}[0-9a-zA-Z]{1})+$"
                                  minlegth=15 maxlength=15/>
                              <small style="color:grey; font-size:12px;">Ex: 22AAAAA0000A1Z5</small>
                          </div>
                          <div class="form-group">
                              <label class="control-label">Upload Scanned Pan Card</label>
                              <input type="file"  name="uploadPANCard"
                                    autocomplete='crtAss.uploadPANCard' [(ngModel)]="crtAssn.uploadPANCard"
                                    #uploadPANCardControl="ngModel" class="form-control"
                                    (change)='onFilSelected($event)' id="uploadPaninput"
                                    style="font-family: Quicksand" pattern="(.*?)\.(png|jpeg|jpg)$" />
                              <span class="note">Upload Logo of Max 2MB and formats allowed are: PNG,JPG and
                                  Resolution of 128*128</span>
                          </div>
                      </div>
                      <div class="col-sm-12"> 
                          <button class="btn btn-primary-purple nextBtn pull-right" type="button">Next</button>
                          <button class="btn btn-primary-purple nextBtn pull-right"
                          type="reset" (click)='resetStep2()'>Reset</button>
                      </div>

                  </div>

                  <div class="panel panel-primary setup-content" id="step-3">
                      <!-- <div class="panel-heading">
                               <h3 class="panel-title">Block & Unit Details</h3>
                          </div> -->
                      <div class="panel-body">
                          <div class="form-group">
                              <label class="control-label">Total No of Blocks</label>
                              <input type="text" name="ASNofBlks" autocomplete='crtAss.totalNoBlocks'
                                  [(ngModel)]="crtAssn.totalNoBlocks" #totalNoBlocksControl="ngModel" class="form-control"
                                  placeholder="NO OF BLOCKS" style="font-family: Quicksand" pattern="[0-9]*"  (keypress)=_keyPress($event)/>
                              <p class="alerts" *ngIf="totalNoBlocksControl.invalid && totalNoBlocksControl.touched"> Valid blocks
                                  no is required</p>
                          </div>
                          <div class="form-group">
                              <label class="control-label">Total No of Units</label>
                              <input type="text" name="ASNofUnit" autocomplete='crtAss.totalNoUnits'
                                  [(ngModel)]="crtAssn.totalNoUnits" #totalNoUnitsControl="ngModel" class="form-control"
                                  placeholder="NO OF UNITS" style="font-family: Quicksand" pattern="[0-9]*"  (keypress)=_keyPress($event)/>
                              <p class="alerts" *ngIf="totalNoUnitsControl.invalid && totalNoUnitsControl.touched"> Valid no units
                                  are required</p>
                          </div>
                      </div>
                      <div class="col-sm-12"> 
                        <button class="btn btn-primary-purple nextBtn pull-right"
                              type="button">Next</button>
                         <button class="btn btn-primary-purple pull-right" type="reset" (click)='resetStep3()'>Reset</button>
                      </div>

                  </div>

                  <div class="panel panel-primary setup-content" id="step-4">
                      <!-- <div class="panel-heading">
                               <h3 class="panel-title">Other Amenities</h3>
                          </div> -->
                      <div class="panel-body">
                          <app-new-amenity [newamenities]='newamenities' (addAmenities)='addAmenity($event)' (deleteamenity)='deleteamenity($event)'></app-new-amenity>
                      </div>
                      <button class="btn btn-primary-purple nextBtn pull-right" type="submit" (click)="onSubmit()">Finish!</button>

                  </div>
              </form>
          </div>
      </div>
      <!--Enroll Association form Starts-->

         <!--Join Association form Starts-->
         <div class="col-sm-12 panel" style="padding: 40px;" *ngIf="viewAssnService.joinAsnEbld">
            <div class="col-sm-3 np">
              <p class="join_ass_opt c-active"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                Association</p>  
              <p class="join_ass_opt c-active"><i class="fa fa-circle-o" aria-hidden="true"></i>
                Blocks</p>  
              <p class="join_ass_opt c-active"> <i class="fa fa-circle-o" aria-hidden="true"></i>
                Units</p>  
            </div>
            <div class="col-sm-9 b-left">
                <!--row1-->
                <div class="content">
                    <label>Select Association</label>
                    <div class="dropdown" style="margin: 0px 0px;width: 300px;">
                        <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                            data-toggle="dropdown">{{assnName}}
                            <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                        <ul class="dropdown-menu fullw fdrop">
                            <li *ngFor="let association of _associations" (click)="loadAssociation(association['asAssnID'],association['asAsnName'])"><a>{{association['asAsnName']}}</a></li>
                        </ul>
                    </div>
                </div>  
                <!--row1-->
                <!--row2-->
                <div class="content">
                        <label>Select Blocks</label>
                        <div class="dropdown" style="margin: 0px 0px;width: 300px;">
                                <button class="btn btn-primary dropdown-toggle sdm br form-control" type="button"
                                    data-toggle="dropdown">{{blBlkName}}
                                    <i aria-hidden="true" class="fa fa-angle-down fa-1x"></i></button>
                                <ul class="dropdown-menu fullw">
                                    <li (click)="prerequisitesAddUnit(item.blBlockID,item.blBlkName)" *ngFor='let item of allBlocksLists'><a>{{item.blBlkName}}</a></li>
                                </ul>
                            </div>
                </div>  
                <!--row2-->
                <!--row3-->
                <div class="content">
                    <label>Select Unit</label>
                    <div class="block-row">
                       <span (click)='enableActive(spanCtrl)' #spanCtrl                        
                        *ngFor='let item of allUnitBlockID'>{{item['unUnitID']}}</span>
                    </div>
                </div> 
                <!--row3--> 
                <div class="content">
                  <div class="col-sm-6 np">
                    <div class="form-group" [ngClass]="{'has-error' : occupancydateControl.invalid && occupancydateControl.touched}">
                      <label>Select Date Of Occupancy<span class="red">*</span></label>
                      <input type="text" class="form-control" name="UNOcSDate" #occupancydateControl='ngModel'
                        placeholder="Occupancy Date" required [bsConfig]='bsConfig' [(ngModel)]="UNOcSDate"
                        bsDatepicker [minDate]="minDate" />
                      <p class="alerts" *ngIf="occupancydateControl.invalid && occupancydateControl.touched"> Please Select
                        Date</p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [(ngModel)]='OwnerType' value="6">
                      <label class="form-check-label" for="inlineRadio1">Join As Owner</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [(ngModel)]='OwnerType' value="7">
                      <label class="form-check-label" for="inlineRadio2">Join As Tenant</label>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-12"> <button class="btn btn-primary-purple nextBtn pull-right"
                type="button" (click)='requestForJoin()'>Join</button><input class="btn btn-primary-purple nextBtn pull-right"
                type="reset" value="Reset">
        </div>
        </div>
        <!--Join Association form Ends-->
    </div>

  </div>
  <!--rightBar start-->
  <app-right-bar></app-right-bar>
  <!--rightBar end-->
</div>

<ng-template #template1>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>

<ng-template #viewreceiptmodal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">View association</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row" style="border:2px solid #b33951; padding:5px;">
        <div class="col-sm-12">
          <h5 class="text-center">Association Name : <strong>{{associationname}}</strong></h5>
          <br>
          <h5 style="color:#b33951">Enroll Information</h5>
          <br>
        </div>
        <div class="col-sm-4">
          <p>Association name :{{associationname}}</p>
        </div>
        <div class="col-sm-4">
          <p>Uploaded File : <span>{{file}}</span></p>
        </div>
        <div class="col-sm-4">
          <p>Country : <span>{{country}}</span></p>
        </div>
        <br>
        <div class="col-sm-12"></div>
        <div class="col-sm-4">
          <p>PinCode : <span>{{pincode}}</span></p>
        </div>
        <div class="col-sm-4">
          <p>State : <span>{{State}}</span></p>
        </div>
        <div class="col-sm-4">
          <p>City : <span>{{city}}</span></p>
        </div>

        <br>
        <div class="col-sm-12"></div>
        <div class="col-sm-4">
          <p>Property Type : <span>{{propertyType}}</span></p>
        </div>
        <div class="col-sm-4">
          <p>PropertyName : <span>{{propertyName}}</span></p>
        </div>
        <div class="col-sm-4">
          <p>Locality : <span>{{locality}}</span></p>
        </div>

        <div class="col-sm-12">
        </div>
        <div class="col-sm-12">
          <h5 style="color:#b33951">Blocks & Unit details</h5>
        </div>
        <!-- <div class="col-sm-4">
                           <p>State : <span>{{State}}</span></p>
                       </div> -->
        <br>
        <br>
        <!-- <div class="col-sm-4">
                               <p>Property Type : <span>{{propertyType}}</span></p>
                           </div> -->
        <div class="col-sm-4">
          <p>No of Units : <span>{{NoofUnits}}</span></p>
        </div>
        <div class="col-sm-4">
          <p>TotalNoBlocks : <span>{{blocks}}</span></p>
        </div>
        <!-- <div class="col-sm-12">
                                    <hr>
                               </div>
           
                               <div class="col-sm-4">
                                   <p>Pan details : <span>{{State}}</span></p>
                               </div>
                               <div class="col-sm-4">
                                       <p>Registration details : <span>{{regno}}</span></p>
                                   </div>
                                   <div class="col-sm-4">
                                        <p>TotalNoBlocks : <span>{{blocks}}</span></p>
                                    </div> -->
        <div class="col-sm-12">

        </div>
        <div class="col-sm-12">
          <h5 style="color:#b33951">Pan and Registration details</h5>
        </div>
        <!-- <div class="col-sm-4">
                                           <p>State : <span>{{State}}</span></p>
                                       </div> -->
        <br>
        <br>
        <!-- <div class="col-sm-4">
                                               <p>Property Type : <span>{{propertyType}}</span></p>
                                           </div> -->
        <div class="col-sm-4">
          <p>Pan or reg Number : <span>{{panno}}</span></p>
        </div>
        <div class="col-sm-4">
          <p>GSTNumber : <span>{{gstno}}</span></p>
        </div>
        <div class="col-sm-4">
          <p>Uploaded Pan : <span>{{pandoc}}</span></p>
        </div>

        <div class="col-sm-12">
        </div>

        <div class="col-sm-12">
          <h5 style="color:#b33951">Bank Information</h5>
        </div>
        <br>
        <br>
        <div class="col-sm-4">
          <p>Bank Name: <span>{{BankName}}</span></p>
        </div>
        <br>
        <br>
        <div class="col-sm-4">
          <p>IFSC : <span>{{IFSC}}</span></p>
        </div>
        <div class="col-sm-4">
          <p>Account Number : <span>{{AccountNumber}}</span></p>
        </div>
        <div class="col-sm-4">
          <p>Account Type: <span>{{accountType}}</span></p>
        </div>
        <div class="col-sm-12">

        </div>
        <div class="col-sm-12">
          <h5 style="color:#b33951">Amenities</h5>
        </div>
        <br>
        <br>
        <div class="col-sm-4">
          <p>Amenity Type: <span>{{amenityType}}</span></p>
        </div>
        <br>
        <br>
        <div class="col-sm-4">
          <p>Amenity Number : <span>{{amenityNo}}</span></p>
        </div>


      </div>
    </div>

  </div>
</ng-template>

<ng-template #template>
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title pull-right">Edit Association</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12" style="width: 90%; margin-left: 3%;">
          <form name="editAssociation" autocomplete="off">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <div class="from-group">
                  <p>Association Name : <strong>{{ASAsnName}}</strong></p>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12"></div>
              <div class="col-sm-4 col-xs-12" style="text-align:pull-right">
                <p>Date : <strong>{{newdate | date: "d/M/y"}}</strong></p>
              </div>
            </div>

            <div>
              <div class="row">
                <br>
                <div class="col-sm-1 col-xs-12"></div>
                <div class="col-sm-11  col-xs-12">
                  <h4 class="headingOrange">Edit Association</h4>

                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group"
                    [ngClass]="{'has-error' : associationnameControl.invalid && associationnameControl.touched}">
                    <label>Association Name <span class="red">*</span></label>
                    <input type="text" class="form-control" name="ASAsnName" [(ngModel)]="ASAsnName"
                      #associationnameControl='ngModel' required />
                    <p class="alerts" *ngIf="associationnameControl.invalid && associationnameControl.touched">
                      Association Name is required</p>
                  </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                  <div class="form-group" [ngClass]="{'has-error' : countryControl.invalid && countryControl.touched}">
                    <label>Country <span class="red">*</span></label>
                    <select class="form-control" name="ASCountry" [(ngModel)]="ASCountry" #countryControl="ngModel"
                      (change)="openPANfield()" style="font-family: Quicksand">
                      <option ng-disabled="true" ng-selected="true" [value]="">Select Country</option>
                      <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
                    </select>
                    <p class="alerts" *ngIf="countryControl.invalid && countryControl.touched"> Please Select country
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 col-xs-12">
                  <div class="form-group" [ngClass]="{'has-error' : addressControl.invalid && addressControl.touched}">
                    <label>Address<span class="red">*</span></label>
                    <input type="text" class="form-control" name="ASAddress" [(ngModel)]="ASAddress"
                      #addressControl='ngModel' placeholder="Address" pattern="[a-zA-Z0-9-]*" required />
                    <p class="alerts" *ngIf="addressControl.invalid && addressControl.touched">Address is required</p>
                  </div>
                </div>

                <div class="col-sm-4 col-xs-12">
                  <div class="form-group" [ngClass]="{'has-error' : cityControl.invalid && cityControl.touched}">
                    <label>City<span class="red">*</span></label>
                    <input type="text" class="form-control" name="ASCity" [(ngModel)]="ASCity" #cityControl='ngModel'
                      placeholder="City" pattern="[a-zA-Z0-9-]*" required />
                    <p class="alerts" *ngIf="cityControl.invalid && cityControl.touched">City is required</p>
                  </div>
                </div>

                <div class="col-sm-4 col-xs-12">
                  <div class="form-group" [ngClass]="{'has-error' : stateControl.invalid && stateControl.touched}">
                    <label>State<span class="red">*</span></label>
                    <input type="text" class="form-control" name="ASState" [(ngModel)]="ASState" #stateControl='ngModel'
                      placeholder="State" pattern="[a-zA-Z0-9-]*" required />
                    <p class="alerts" *ngIf="stateControl.invalid && stateControl.touched">State is required</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 col-xs-12">
                  <div class="form-group" [ngClass]="{'has-error' : pincodeControl.invalid && pincodeControl.touched}">
                    <label>PinCode<span class="red">*</span></label>
                    <input type="text" class="form-control" name="ASPinCode" [(ngModel)]="ASPinCode"
                      #pincodeControl='ngModel' placeholder="PinCode" pattern="[a-zA-Z0-9-]*" required />
                    <p class="alerts" *ngIf="stateControl.invalid && stateControl.touched">State is required</p>
                  </div>
                </div>

                <div class="col-sm-4 col-xs-12">
                  <div class="form-group"
                    [ngClass]="{'has-error' : propTypeControl.invalid && propTypeControl.touched}">
                    <label>Property Type <span class="red">*</span></label>
                    <select class="form-control" name="ASPropType" [(ngModel)]="ASPrpType" #propTypeControl="ngModel"
                      style="font-family: Quicksand">
                      <option ng-disabled="true" ng-selected="true" [value]="">Select Property Type</option>
                      <option *ngFor="let propertyType of propertyTypes" [value]="propertyType.name">
                        {{propertyType.displayName}}</option>
                    </select>
                    <p class="alerts" *ngIf="propTypeControl.invalid && propTypeControl.touched"> Please Select property
                      type</p>
                  </div>
                </div>

                <div class="col-sm-4 col-xs-12">
                  <div class="form-group"
                    [ngClass]="{'has-error' : propNameControl.invalid && propNameControl.touched}">
                    <label>Property Name <span class="red">*</span></label>
                    <input type="text" class="form-control" name="ASPrpName" [(ngModel)]="ASPrpName"
                      #propNameControl='ngModel' placeholder="Property Name" pattern="[a-zA-Z0-9-]*" required />
                    <p class="alerts" *ngIf="propNameControl.invalid && propNameControl.touched">Property Name is
                      required</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group" [ngClass]="{'has-error' : noblockControl.invalid && noblockControl.touched}">
                    <label>No Of Blocks <span class="red">*</span></label>
                    <input type="text" class="form-control" name="ASNofBlks" [(ngModel)]="ASNofBlks"
                      #noblockControl='ngModel' pattern="[0-9]*" placeholder="No Of Blocks" required />
                    <p class="alerts" *ngIf="noblockControl.invalid && noblockControl.touched">Number Of Blocks is
                      required</p>
                  </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                  <div class="form-group" [ngClass]="{'has-error' : nounitControl.invalid && nounitControl.touched}">
                    <label>No Of Units <span class="red">*</span></label>
                    <input type="text" class="form-control" name="ASNofUnit" [(ngModel)]="ASNofUnit"
                      #nounitControl='ngModel' pattern="[0-9]*" placeholder="No Of Units" required />
                    <p class="alerts" *ngIf="nounitControl.invalid && nounitControl.touched">Number Of Units is required
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group"
                    [ngClass]="{'has-error' : amenitytypeControl.invalid && amenitytypeControl.touched}">
                    <label>Amenity Type <span class="red">*</span></label>
                    <input type="text" class="form-control" name="AMType" [(ngModel)]="AMType"
                      #amenitytypeControl='ngModel' placeholder="Amenity Type" pattern="[a-zA-Z0-9-]*" required />
                    <p class="alerts" *ngIf="amenitytypeControl.invalid && amenitytypeControl.touched">Amenity Name is
                      required</p>
                  </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                  <div class="form-group"
                    [ngClass]="{'has-error' : noofamenityControl.invalid && noofamenityControl.touched}">
                    <label>No Of Amenities <span class="red">*</span></label>
                    <input type="text" class="form-control" name="NoofAmenities" [(ngModel)]="NoofAmenities"
                      #noofamenityControl='ngModel' pattern="[0-9]*" placeholder="No Of Amenities" required />
                    <p class="alerts" *ngIf="noofamenityControl.invalid && noofamenityControl.touched">No Of Amenities
                      are required</p>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group"
                    [ngClass]="{'has-error' : banknameControl.invalid && banknameControl.touched}">
                    <label>Bank Name <span class="red">*</span></label>
                    <input type="text" class="form-control" name="BABName" [(ngModel)]="BABName"
                      #banknameControl='ngModel' placeholder="Bank Name" pattern="[A-Za-z\s]+" required />
                    <p class="alerts" *ngIf="banknameControl.invalid && banknameControl.touched">Bank Name is required
                    </p>
                  </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                  <div class="form-group"
                    [ngClass]="{'has-error' : bankifscControl.invalid && bankifscControl.touched}">
                    <label>IFSC <span class="red">*</span></label>
                    <input type="text" class="form-control" name="BAIFSC" [(ngModel)]="BAIFSC"
                      #bankifscControl='ngModel' placeholder="Bank IFSC" pattern="^[A-Za-z]{4}[a-zA-Z0-9]{7}$"
                      required />
                    <small>Ex: PAAA1111111</small>
                    <p class="alerts" *ngIf="bankifscControl.invalid && bankifscControl.touched">IFSC is required</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group"
                    [ngClass]="{'has-error' : accountnumberControl.invalid && accountnumberControl.touched}">
                    <label>Account Number <span class="red">*</span></label>
                    <input type="text" class="form-control" name="BAActNo" [(ngModel)]="BAActNo"
                      #accountnumberControl='ngModel' placeholder="Account Number" pattern="[a-zA-Z0-9-]*" required />
                    <p class="alerts" *ngIf="accountnumberControl.invalid && accountnumberControl.touched">Account
                      Number is required</p>
                  </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                  <div class="form-group"
                    [ngClass]="{'has-error' : accounttypeControl.invalid && accounttypeControl.touched}">
                    <label>Account Type <span class="red">*</span></label>
                    <select class="form-control" name="ASPropType" [(ngModel)]="ASPrpType" #accounttypeControl="ngModel"
                      style="font-family: Quicksand">
                      <option ng-disabled="true" ng-selected="true" [value]="">Select Account Type</option>
                      <option *ngFor="let accounttype of accountTypes" [value]="accounttype.name">
                        {{accounttype.displayName}}</option>
                      <p class="alerts" *ngIf="accounttypeControl.invalid && accounttypeControl.touched">Account Type is
                        required</p>
                    </select>
                  </div>
                </div>
              </div>

              <div class="from-group">
                <div class="form-group pull-right">
                  <br>
                  <button type="submit" style="background-color: orange !important" class="btn btn-primary"
                    (click)="UpdateAssociation()">Update</button>
                </div>
              </div>


            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>