<div class="container-fluid np">
    <div class="col-sm-12">
        <!--Profile section-->
        <app-left-bar></app-left-bar>

        <!--Profile section-->

        <div class="col-xs-12 col-sm-12 col-md-11 b-l">

            <!--Dashboard icons start-->
            <div class="col-md-12 m-t-30 dash">
                <div class="enroll">
                    <span class="purple">Member list for {{globalService.getCurrentAssociationName()}}</span>
                </div>
                <div>
                    <input type="text" [(ngModel)]="searchTxt" class="form-control" name="searchTxt"
                        placeholder="search name">
                </div>
                <div class="dash-row">
                    <table class="table table-bordered"
                    [mfData]="allMemberByAccount| search:['unUniName', 'unOcStat', 'owner']:searchTxt"
                    #mf="mfDataTable" [mfRowsOnPage]="10" (click)="onPageChange($event)">
                    <thead>
                        <tr>
                            <th>
                                S.No.
                            </th>
                            <th>
                                <mfDefaultSorter by="blBlkName">Block Name</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="unUniName">Unit Name</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="uofName">Name</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="uoMobile">Mobile Number</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="unOcStat">Occupancy Status</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="vehcleCount">Vehicles</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="uoRoleID">Role</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter>Change Role</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter>Action</mfDefaultSorter>
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data;let i=index">
                            <ng-container *ngIf="item == -1">
                                <td colspan="5" align="center">No Data Found</td>
                            </ng-container>
                            <ng-container *ngIf="item!=-1">
                                <td>{{ (10 * (p - 1) + i)+1 }}</td>
                                <td>{{item['blBlkName']}}</td>
                                <td>{{item['unUniName']}}</td>
                                <td>{{item['uofName']}}</td>
                                <td>{{item['uoMobile']}}</td>
                                <td>{{item['unOcStat']}}</td>
                                <td>{{item['vehcleCount']}}</td>
                                <td>{{item['uoRoleID']}}</td>
                                <td>
                                    <select (change)="AdminCreate(item['uoMobile'],item['unUnitID'],item['roleid'])" [(ngModel)]="item['roleid']">
                                      <option value="">ChangeRole</option>
                                      <option *ngFor="let rl of item['Role']" [value]="rl['RoleId']">
                                        {{rl['Role']}}
                                    </option>
                                    </select>
                                </td>
                                <td><i class="fa fa-bell-o" aria-hidden="true" data-toggle="modal" data-target="#SendMsgAsNotification"></i></td>
                            </ng-container>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
            <!--Dashboard icons end-->
            <!--Add Blocks form Starts-->
            <div class="col-sm-12" *ngIf="enableAddBlocksView">

                <app-add-blocks></app-add-blocks>
            </div>
            <!--Add Blocks form Ends-->
        </div>

    </div>
    <!--rightBar start-->
    <!-- <app-right-bar></app-right-bar> -->
    <!--rightBar end-->
</div>  
   
<div class="modal fade" id="SendMsgAsNotification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding-top:20px;">
                <h4 class="modal-title" id="myModalLabel">Send Notification with text</h4>
                <button type="button" class="close" data-dismiss="modal" style="left:100%" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <textarea placeholder="Enter Message...." [(ngModel)]="NotificationMessage" rows="4" cols="74" name="NotificationMessage"></textarea>
                        <button (click)='sendNotification()' class="btn btn-primary-purple">SendNotification</button>
                    </div>
                    
                  </div>
                 </div>
        </div>
    </div>
</div>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   



