<div class="container-fluid np">
  <div class="col-sm-12 np mt-80">
    <!--Profile section-->
    <app-left-bar></app-left-bar>
    <!--Profile section-->
    <div class="col-xs-12 col-sm-12 col-md-11 b-l bg">
      <!--Dashboard icons for ADMIN start-->
      <div class="dash-main" *ngIf="role=='admin'">
          <div class="dash-shape">
            <div class="dash-tab">
              <span class="l-top">&nbsp;</span>
              <ul class="tabs group">
                <li (click)="AdminsUnitShow('resident')">
                  <a data-toggle="tab" class="tab-ti">MY UNITS <img src="../../assets/images/notification_bell.png"><span class="not-count">{{globalService.ResidentActiveNotification}}</span></a> 
                </li>
                <li *ngIf="globalService.mrmroleId==1" style="float: right;" (click)="AdminsButtonShow('admin')" class="active right-tab">
                  <a class="act-b tab-ti" data-toggle="tab">ADMIN <img src="../../assets/images/notification_bell.png"><span class="not-count">{{globalService.AdminActiveNotification}}</span></a> 
                </li>
  
              </ul>
            </div>
            <div class="col-md-12 dash dash-bg-1" style="border-radius: 24px 0px 24px 26px;height: 400px; overflow: scroll;">
              <div class="dash-row">
                <div class="panel-group" id="accordion">
                  <input [(ngModel)]="searchAdminVisitorText" (keyup)="searchAdminVisitorList()" class="search" placeholder="search unit">
                  <div class="panel panel-default" *ngFor="let itm of allAdminAndResidentNotification">
                      <div *ngIf="itm['ntType']=='Join'">
                      <a (click)="NotificationActiveStatusUpdate($event,itm['ntid'],'Join')" data-toggle="collapse" data-parent="#accordion" href="#{{itm['ntid']}}"> 
                    <div class="panel-heading">
                      <h4 class="panel-title alfl" style="border-bottom: 1px solid #e3e0e0;">
                        <a (click)="NotificationActiveStatusUpdate($event,itm['ntid'],'Join')" data-toggle="collapse" data-parent="#accordion" href="#{{itm['ntid']}}" class="read"> 
                          <img *ngIf="itm['ntIsActive']==true" src="../../assets/images/notification_icons/mail.png"> 
                          <img *ngIf="itm['ntIsActive']==false" src="../../assets/images/notification_icons/mailopen.png"> 
                        {{itm['ntIsActive']==false?'Read':'Unread'}} 
                        </a>
                        <span class="uni_name">{{itm['asAsnName']}}</span>
                        <span class="days">{{itm['ntdCreated'] | dateAgo}}</span>
                      </h4>
                      <div class="alfl bg-grey">
                        <!-- <span *ngIf="itm['unit']['unUniName']!=''" class="uni_name"><a class="green">Unit</a> {{itm['unit']['unUniName']}}</span> -->
                        <span *ngIf="itm['unit']!=null" class="uni_name"><a class="green">Unit</a> {{itm['unit']['unUniName']}}</span>
                        <!-- <span class="mob"><img src="../../assets/images/notification_icons/call.png">{{(itm['ntMobile'] == "" ? (itm['unit']['owner'].length > 0 ? itm['unit']['owner'][0]['uoMobile']) : itm['unit']['tenant'].length > 0 ? itm['unit']['tenant'][0]['utMobile']: itm['ntMobile']) )}}</span> -->
                        <span *ngIf = "itm['unit']['owner'].length > 0" class="mob"><img src="../../assets/images/notification_icons/call.png">{{itm['ntMobile'] == "" ? itm['unit']['owner'][0]['uoMobile'] : itm['ntMobile']}}</span>
                        <span *ngIf = "itm['unit']['tenant'].length > 0" class="mob"><img src="../../assets/images/notification_icons/call.png">{{itm['ntMobile'] == "" ? itm['unit']['tenant'][0]['utMobile'] : itm['ntMobile']}}</span>
                        
                        <span *ngIf="itm['unit']!=null" class="not-img">
                          <img [src]="'data:image/png;base64,'+itm['ntUsrImg']" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
                          <p>{{getNtDescFirstname(itm['ntDesc'])}}</p>
                        </span>
                      </div>
  
                    </div>
                  </a>
                    <div id="{{itm['ntid']}}" class="panel-collapse collapse">
                      <div class="panel-body pb">
                        <div class="not-detail">
                          <div>
                            <h4 style="color: red;">Current Status</h4>
                            <p>Occupancy: <strong>{{itm['unit']['unOcStat']}}</strong></p>
                            <p>Occupied By: <strong>{{itm['unit']['unOcStat']}}</strong></p>
                            <p>Owner Name: <strong>{{itm['unit']['owner'].length == 0 ? (itm['unit']['tenant'].length == 0 ? '' : itm['unit']['tenant'][0]['utfName']) : itm['unit']['owner'][0]['uofName']}}</strong>&nbsp;<strong>{{itm['unit']['owner'].length == 0 ? (itm['unit']['tenant'].length == 0 ? '' : itm['unit']['tenant'][0]['utlName']) : itm['unit']['owner'][0]['uolName']}}</strong></p>
                            <p>Mobile: <strong>{{itm['unit']['owner'].length == 0 ? (itm['unit']['tenant'].length == 0 ? '' : itm['unit']['tenant'][0]['utMobile']) : itm['unit']['owner'][0]['uoMobile']}}</strong></p>
                          </div>
                          <div *ngIf="itm['ntJoinStat']==''">
                            <span (click)="approve(itm['sbRoleID'], itm['sbMemID'], itm['sbUnitID'], itm['sbSubID'], itm['mrRolName'], itm['asAsnName'], itm['asAssnID'], itm['unSldDate'], itm['unOcSDate'], itm['acNotifyID'], itm['ntType'], itm['ntMobile'],itm['ntid'])" class="approve app-rej"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Approve</span>
                          </div>
                          <div *ngIf="itm['ntJoinStat']==''">
                             <span (click)="rejectJoinRequest(itm['ntid'], itm['sbRoleID'], itm['sbSubID'], itm['asAssnID'], itm['mrRolName'], itm['asAsnName'], itm['sbUnitID'], itm['sbMemID'], itm['ntdCreated'], itm['unOcSDate'], itm['acAccntID'], itm['acNotifyID'])" class="reject app-rej"><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;Reject</span>
                          </div>
                          <div *ngIf="itm['ntJoinStat']=='Accepted'">
                            <span class="approve">Request Approved</span>
                          </div>
                          <div *ngIf="itm['ntJoinStat']=='Rejected'">
                            <span class="reject">Request Rejected</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <button (click)="openModal3(privacy)">NotificationPOPUP</button>
            </div>
          </div>
  
          <!---->
        </div>
        <!--Dashboard icons for ADMIN end-->


      <!--Dashboard icons for MyUnit(RESIDENT) start-->
      <div class="dash-main" *ngIf="role=='resident'">
        <div class="dash-shape">
          <div class="dash-tab">
            <span class="r-top">&nbsp;</span>
            <ul class="tabs group">
              <li (click)="AdminsUnitShow('resident')" class="active left-tab">
                <a class="act-a tab-ti" ata-toggle="tab">MY UNITS <img src="../../assets/images/notification_bell.png"><span class="not-count">{{globalService.ResidentActiveNotification}}</span></a> 
              </li>
              <li *ngIf="globalService.mrmroleId==1" (click)="AdminsButtonShow('admin')">
                <a class="tab-ti" data-toggle="tab">ADMIN <img src="../../assets/images/notification_bell.png"><span class="not-count">{{globalService.AdminActiveNotification}}</span></a> 
              </li>
            </ul>
          </div>
          <div class="col-md-12 dash dash-bg-1" style="border-radius: 0px 24px 26px 24px;height: 400px; overflow: scroll;">
            <div class="dash-row">

              <div class="panel-group" id="accordion">
                <input [(ngModel)]="searchVisitorText" (keyup)="searchVisitorList()" class="search" placeholder="search unit">
                <div class="panel-default" *ngFor="let item of allAdminAndResidentNotification">
                 <a style="color: black !important;" (click)="NotificationActiveStatusUpdate($event,item['ntid'],'', item['visitorlog'].length>0? item['visitorlog'][0]['vlApprdBy']:'Vinay')" data-toggle="collapse" data-parent="#accordion" href="#{{item['ntid']}}">
                  <div *ngIf="item['ntType']=='Staff Registration' || item['visitorlog'].length>0">
                  <div class="panel panel-default" *ngIf="item['ntType']!='Announcement'">
                  <div class="panel-heading">
                    <h4 class="panel-title alfl" style="border-bottom: 1px solid #e3e0e0;">
                      <a (click)="NotificationActiveStatusUpdate($event,item['ntid'],'')" data-toggle="collapse" data-parent="#accordion" href="#{{item['ntid']}}"> 
                        <img *ngIf="item['ntIsActive']== true" src="../../assets/images/notification_icons/mail.png"> 
                        <img *ngIf="item['ntIsActive']== false" src="../../assets/images/notification_icons/mailopen.png"> 
                        {{item['ntIsActive']==false?'Read':'Unread'}} 
                      </a>
                      <span>{{item['asAsnName']}}</span>
                      <span>{{item['ntdCreated'] | dateAgo}}</span>
                    </h4>
                    <div class="alfl bg-grey">
                      <span *ngIf="item['visitorlog'].length>0"><a *ngIf="item['visitorlog'][0]['vlComName']!='Kid Exit'" class="green">{{item['visitorlog'][0]['vlComName']}}</a> {{item['visitorlog'][0]['vlVisType'] == 'Guest with Invitation' ? '':item['visitorlog'][0]['vlVisType']}}</span>
                      <span *ngIf="item['visitorlog'].length>0">Visiting <a class="green">{{item['visitorlog'][0]['unUniName']}}</a></span>
                      <span *ngIf="item['ntType']=='Staff Registration'">Staff: <a class="green">{{item['wkDesgn']}}</a></span>
                      <span *ngIf="item['unUniName']">Registration <a class="green">{{item['unUniName']}}</a></span>
                      <span class="not-img">
                        <img *ngIf="item['visitorlog'].length>0" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + item['visitorlog'][0]['vlEntryImg'])" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
                        <img *ngIf="item['ntUsrImg']" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + item['ntUsrImg'])" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
                        <p *ngIf="item['visitorlog'].length>0">{{item['visitorlog'][0]['vlfName']}}</p>
                        <p *ngIf="item['wkName']">{{item['wkName']}}</p>
             
                      </span>
                     
                    </div>
                  </div>
                  <div id="{{item['ntid']}}" class="panel-collapse collapse">
                    <div class="panel-body pb" style="margin-top: 20px;">
                      <div class="not-detail">
                        <div class="exitnot-titlemobile">
                          <p *ngIf="item['ntType']!='Staff Registration' && item['visitorlog'][0]['vlVisType']=='Staff Voisentry'">
                            {{item['visitorlog'][0]['vlMobile']}}</p>
                          <p [ngClass]="{'registration': item['ntJoinStat'] != 'Registration Pending'}"*ngIf="item['ntType']=='Staff Registration' && item['ntMobile']">{{item['ntMobile']}}</p>
                          <p *ngIf="item['ntType']!='Staff Registration' && item['visitorlog'][0]['vlVisType']=='Staff Missed call Entry'">
                            {{item['visitorlog'][0]['vlMobile']}}</p>
                          <p [ngClass] = "{'delivery':item['visitorlog'][0]['vlApprStat']=='Exited'}" *ngIf="item['ntType']!='Staff Registration' && item['visitorlog'][0]['vlVisType']=='Delivery'">
                            {{item['visitorlog'][0]['vlMobile']==''?'':item['visitorlog'][0]['vlMobile']}}</p>
                          <p [ngClass] = "{'guestwith':item['visitorlog'][0]['vlApprStat'] != 'Exited','guestwithexited':item['visitorlog'][0]['vlApprStat']=='Exited'}" *ngIf="item['ntType']!='Staff Registration' && item['visitorlog'][0]['vlVisType']=='Guest with Invitation'">
                            {{item['visitorlog'][0]['vlMobile']==''?'':item['visitorlog'][0]['vlMobile']}}</p>
                          <p class = "kidexit" *ngIf="item['ntType']!='Staff Registration' && item['visitorlog'][0]['vlVisType']=='Kid Exit' && item['visitorlog'][0]['vlApprStat']!='Entry Rejected' && item['visitorlog'][0]['vlMobile']">
                            {{item['visitorlog'][0]['vlMobile']==''?'':item['visitorlog'][0]['vlMobile']}}</p>
                          <p class = "kidexitdeny" *ngIf="item['ntType']!='Staff Registration' && item['visitorlog'][0]['vlVisType']=='Kid Exit' && item['visitorlog'][0]['vlApprStat'] == 'Entry Rejected' && item['visitorlog'][0]['vlMobile']">
                            {{item['visitorlog'][0]['vlMobile']==''?'':item['visitorlog'][0]['vlMobile']}}</p>
                          <p [ngClass] = "{'guestwithout':item['visitorlog'][0]['vlApprStat']=='Exited'}" *ngIf="item['ntType']!='Staff Registration' && item['visitorlog'][0]['vlVisType']=='Guest without Invitation'">
                            {{item['visitorlog'][0]['vlMobile']}}</p>
                        </div>
                      
                        <!-- "Staff Voisentry" template -->
                        <div *ngIf="item['ntType']!='Staff Registration'">
                          <div *ngIf="item['visitorlog'][0]['vlVisType']=='Staff Voisentry'">
                            <div><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['ntdCreated'] | date:'medium'}}</span>
                              &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span>
                              &nbsp;<span>{{item['visitorlog'][0]['vlengName']}}</span></div>
                            <!-- <div><span class="exitnot-title">Mobile:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlMobile']}}</div> -->                   </div>
                                                  </div>
                                           
                                                  <!-- "Staff Voisentry" template -->

                                                  <!-- "Staff registration approve/reject" template -->
                                                    <div *ngIf="item['ntType']=='Staff Registration'">
                                                    <div><span>{{item['ntDesc']}}</span> </div>
                                                    
                                                    <div *ngIf="item['ntJoinStat']!='Registration Pending'"><span class="exitnot-title">Registration Date:&nbsp;</span> &nbsp;<span>{{item['ntdCreated']==''?'':item['ntdCreated'] | date:'medium'}}</span></div>
                                                    <div *ngIf="item['ntJoinStat']!='Registration Pending'"><span class="exitnot-title">Registration Approved by:&nbsp;</span> &nbsp;<span>{{item['approvedBy']==''?'':item['approvedBy']}}</span></div>
                                                    <div *ngIf="item['ntJoinStat']!='Registration Pending'"><span class="exitnot-title">Status:&nbsp;</span> &nbsp;<span>Staff &nbsp;{{item['ntJoinStat']}}</span></div>
                                                    <!-- <div *ngIf="item['ntMobile']"><span>Mobile:&nbsp;</span>&nbsp;{{item['ntMobile']}}</div> -->
                                                    </div>
                                                  <!-- "Staff registration approve/reject" template -->
                                                  
                                                  <!-- "Staff Missed call Entry" template -->
                                                  <div *ngIf="item['ntType']!='Staff Registration'">
                                                    <div *ngIf="item['visitorlog'][0]['vlVisType']=='Staff Missed call Entry'">
                                                      <div><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['ntdCreated'] | date:'medium'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['visitorlog'][0]['vlengName']}}</span></div>
                                                      <div *ngIf="item['visitorlog'][0]['vlApprdBy']"><span class="exitnot-title">Entry Approved by:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlApprdBy']}}</div>
                                                      <div *ngIf="item['visitorlog'][0]['vlExAprdBy']"><span class="exitnot-title">Exit Approved by:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlExAprdBy']}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['visitorlog'][0]['vlexgName']}}</div>
                                                      <div><span class="exitnot-title">Status:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlApprStat']}}</div>
                                                      <!-- <div class="mobile_number">&nbsp;{{item['visitorlog'][0]['vlMobile']}}</div> -->
                                                    </div>
                                                  </div>
                                                  <!-- "Staff Missed call Entry" template -->



                                                 <!-- "Staff Manual Entry" template -->
                                                  <div *ngIf="item['ntType']!='Staff Registration'">
                                                    <div *ngIf="item['visitorlog'][0]['vlVisType']=='Staff Manual'">
                                                      <div><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['ntdCreated'] | date:'medium'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['visitorlog'][0]['vlengName']}}</span></div>
                                                      <div *ngIf="item['visitorlog'][0]['vlApprdBy']"><span class="exitnot-title">Entry Approved by:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlApprdBy']}}</div>
                                                      <!-- <div><span class="exitnot-title">Exit On:&nbsp;</span> &nbsp;<span>{{item['visitorlog'][0]['vldUpdated'] | date }}<span>, {{item.visitorlog[0].vlExitT | date:'mediumTime'}}</span></span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['visitorlog'][0]['vlexgName']}}</span></div> -->
                                                      <div *ngIf="item['visitorlog'][0]['vlApprStat']=='Exited'"><span class="exitnot-title">Exit on :&nbsp;</span>{{item['ntdCreated']==''?'':item['ntdCreated'] | date}}&nbsp; {{item['visitorlog'][0]['vlExitT']==''?'':item['visitorlog'][0]['vlExitT'] | date:'mediumTime'}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['visitorlog'][0]['vlexgName']==''?'':item['visitorlog'][0]['vlexgName']}}</div>
                                                     
                                                      <div *ngIf="item['visitorlog'][0]['vlExAprdBy']"><span class="exitnot-title">Exit Approved by:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlExAprdBy']}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['visitorlog'][0]['vlexgName']}}</div>
                                                      <div><span class="exitnot-title">Status:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlApprStat']}}</div>
                                                      <!-- <div><span class="exitnot-title">Mobile:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlMobile']}}</div> -->
                                                    </div>
                                                  </div>
                                                  <!-- "Staff Manual Entry" template -->
                        

                                                  
                        
                                                  <!-- "Delivery" template -->
                                                  <div *ngIf="item['ntType']!='Staff Registration'">
                                                    <div *ngIf="item['visitorlog'][0]['vlVisType']=='Delivery'">
                                                      <div *ngIf="item['ntdCreated']"><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['ntdCreated']==''?'':item['ntdCreated'] | date:'medium'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['visitorlog'][0]['vlengName']==''?'':item['visitorlog'][0]['vlengName']}}</span></div>
                                                      <div *ngIf="item['visitorlog'][0]['vlApprdBy']"><span class="exitnot-title">Entry Approved by:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlApprdBy']==''?'':item['visitorlog'][0]['vlApprdBy']}}</div>
                                                      <div *ngIf="item['visitorlog'][0]['vlApprStat']=='Exited'"><span class="exitnot-title">Exit on :&nbsp;</span>{{item['ntdCreated']==''?'':item['ntdCreated'] | date:'mediumDate'}}&nbsp; {{item['visitorlog'][0]['vlExitT']==''?'':item['visitorlog'][0]['vlExitT'] | date:'shortTime'}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['visitorlog'][0]['vlexgName']==''?'':item['visitorlog'][0]['vlexgName']}} &nbsp;&nbsp;<br> <span class="exitnot-title">Exit Approved by:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlExAprdBy']==''?'':item['visitorlog'][0]['vlExAprdBy']}}</div>
                                                      <div><span class="exitnot-title">Status:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlApprStat']==''?'':item['visitorlog'][0]['vlApprStat']}}</div>
                                                      <!-- <div class="mobile_number">&nbsp;{{item['visitorlog'][0]['vlMobile']==''?'':item['visitorlog'][0]['vlMobile']}}</div> -->
                                                    </div>
                                                  </div>

                                                  <!-- "Delivery" template -->
                        
                                                  <!-- Guest with Invitation template -->
                                                  <div *ngIf="item['ntType']!='Staff Registration'">
                                                  <div *ngIf="item['visitorlog'][0]['vlVisType']=='Guest with Invitation'">
                                                    <div><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['ntdCreated']==''?'':item['ntdCreated'] | date:'medium'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['visitorlog'][0]['vlengName']}}</span></div>
                                                    <div *ngIf="item['visitorlog'][0]['vlApprStat']=='Exited'"><span class="exitnot-title">Exit on :&nbsp;</span>{{item['ntdCreated']==''?'':item['ntdCreated'] | date:'mediumDate'}}&nbsp;{{item['visitorlog'][0]['vlExitT']==''?'':item['visitorlog'][0]['vlExitT'] | date:'shortTime'}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['visitorlog'][0]['vlexgName']==''?'':item['visitorlog'][0]['vlexgName']}} &nbsp;&nbsp;<br> </div>
                                                    <!-- <div class="mobile_number">&nbsp;{{item['visitorlog'][0]['vlMobile']==''?'':item['visitorlog'][0]['vlMobile']}}</div>     -->
                                                  </div>
                                                  </div>

                                                <!-- Guest with Invitation template -->
                        
                                                  <!-- KID EXIT template -->
                                                  <div *ngIf="item['ntType']!='Staff Registration'">
                                                <div *ngIf="item['visitorlog'][0]['vlVisType']=='Kid Exit'">
                                                    <div *ngIf="item['visitorlog'][0]['vlApprStat'] != 'Entry Rejected'"><span class="exitnot-title">Descreptiion:&nbsp;</span>&nbsp;{{item['ntDesc']}}</div>
                                                  <div *ngIf="item['ntdCreated'] && item['visitorlog'][0]['vlApprStat'] != 'Entry Rejected'"><span class="exitnot-title">Exit triggered on:&nbsp;</span> &nbsp;<span>{{item['ntdCreated'] | date:'medium'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['visitorlog'][0]['vlengName']}}</span></div>
                                                  <div  *ngIf="item['visitorlog'][0]['vlApprStat']=='Exited'"><span class="exitnot-title">Exit on :&nbsp;</span>{{item['ntdCreated'] | date:'mediumDate'}}&nbsp;&nbsp;{{item['visitorlog'][0]['vlExitT'] | date:'shortTime'}} </div>
                                                  <div *ngIf="item['visitorlog'][0]['vlExAprdBy']"><span class="exitnot-title">Exit Approved by:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlExAprdBy']}}</div>
                                                  <!-- <div *ngIf="item['visitorlog'][0]['vlMobile']" class="mobile_number">&nbsp;{{item['visitorlog'][0]['vlMobile']==''?'':item['visitorlog'][0]['vlMobile']}}</div> -->
                                                </div>
                                                </div>
                                                  <!-- KID EXIT template -->

                                                  <!-- Guest without Invitation template -->
                                                  <div *ngIf="item['ntType']!='Staff Registration'">
                                                    <div *ngIf="item['visitorlog'][0]['vlVisType']=='Guest without Invitation'">
                                                      <div *ngIf="item['ntdCreated']"><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['ntdCreated']==''?'':item['ntdCreated'] | date:'medium'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['visitorlog'][0]['vlengName']==''?'':item['visitorlog'][0]['vlengName']}}</span></div>
                                                      <div *ngIf="item['visitorlog'][0]['vlApprdBy']"><span class="exitnot-title">Entry Approved by:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlApprdBy']==''?'':item['visitorlog'][0]['vlApprdBy']}}</div>
                                                      <div *ngIf="item['visitorlog'][0]['vlApprStat']=='Exited'"><span class="exitnot-title">Exit on :&nbsp;</span>{{item['ntdCreated']==''?'':item['ntdCreated'] | date:'mediumDate'}}&nbsp; {{item['visitorlog'][0]['vlExitT']==''?'':item['visitorlog'][0]['vlExitT'] | date:'shortTime'}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['visitorlog'][0]['vlexgName']==''?'':item['visitorlog'][0]['vlexgName']}}&nbsp;&nbsp;</div>
                                                      <div><span class="exitnot-title">Status:&nbsp;</span>&nbsp;{{item['visitorlog'][0]['vlApprStat']==''?'':item['visitorlog'][0]['vlApprStat']}}</div>
                                                      <!-- <div class="mobile_number">&nbsp;{{item['visitorlog'][0]['vlMobile']}}</div> -->
                                                    </div>
                                                    </div>
                                                  <!-- Guest without Invitation template -->


                        <!-- "Staff registration approve/reject"  -->
                        <div *ngIf="item['ntType']=='Staff Registration'">
                          <div *ngIf="item['ntJoinStat']=='Registration Pending'">
                            <span (click)="staffRegistration(item['ntid'],'Approved')"
                              class="approve app-rej"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Allow</span>
                          </div>
                          <div *ngIf="item['ntJoinStat']=='Registration Pending'">
                            <span (click)="staffRegistration(item['ntid'],'Rejected')"
                              class="reject app-rej"><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;Deny</span>
                          </div>
                        </div>
                        <!-- "Staff registration approve/reject"  -->



                        <div *ngIf="item['ntType']!='Staff Registration'">
                        <div *ngIf="item['visitorlog'][0]['vlVisType']!='Staff Voisentry'">
                        <div *ngIf="item['visitorlog'][0]['vlVisType']!='Guest with Invitation'">

                        <div *ngIf="item['visitorlog'][0]['vlApprStat']=='Entry Pending' || item['visitorlog'][0]['vlApprStat']=='Exit Pending'">
                          <div *ngIf="item['visitorlog'][0]['vlApprStat']=='Entry Pending'">
                          <div *ngIf="changeViewOfActionButton">
                            <span (click)="acceptgateVisitor(item['visitorlog'][0]['vlVisLgID'], item['asAssnID'], 'Entry Approved', item['visitorlog'][0]['vlApprdBy'])"
                              class="approve app-rej"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Allow</span>
                          </div>
                        </div>

                        <div *ngIf="item['visitorlog'][0]['vlApprStat']=='Exit Pending'">
                          <div *ngIf="changeViewOfActionButton">
                            <span (click)="acceptgateVisitor(item['visitorlog'][0]['vlVisLgID'], item['asAssnID'], 'Exit Approved', item['visitorlog'][0]['vlApprdBy'])"
                              class="approve app-rej"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Allow</span>
                          </div>
                        </div>
                        </div>

                        <div *ngIf="item['visitorlog'][0]['vlApprStat']=='Entry Pending' || item['visitorlog'][0]['vlApprStat']=='Exit Pending'">
                          <div *ngIf="changeViewOfActionButton">
                            <span (click)="acceptgateVisitor(item['visitorlog'][0]['vlVisLgID'], item['asAssnID'], 'Entry Rejected', item['visitorlog'][0]['vlApprdBy'])"
                              class="reject app-rej"><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;Deny</span>
                          </div>
                        </div>
                        </div>
                      </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </a>
                <div *ngIf="item['ntType']=='Announcement'" class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title alfl">
                      <a data-toggle="collapse" data-parent="#accordion" href="#{{item['ntid']}}" (click)="announcementData(item['asAssnID'],item['acNotifyID'])"> <img
                          src="../../assets/images/icons/speaker.png">
                      </a>
                    </h4>
                    <span>test</span>
                  </div>
                  <div id="{{item['ntid']}}" class="panel-collapse collapse">
                    <div class="panel-body pb">
                      <div class="not-detail">
                        <div class="col-sm-12">
                          <div *ngFor="let item of imagesArray" style="height: 100px;background-color: aliceblue;">

                              <img *ngIf="item['anImages']" src="{{'data:image/png;base64,' + item['anImages']}}" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
                              <!-- <img *ngIf="item['anImages']" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + item['anImages'])" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" /> -->
                        
                          </div>
                          message
                          <button (click)="buttonPress()">PressMe</button>
                          <p><a (click)="openModal3(privacy)" style="color: #fff !important;font-size: 13px;">Privacy Policy</a></p>
                          <input style="width: 800px;height: 50px;border-color: red;" type="text" [(ngModel)]="item['ntDesc']" disabled/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>

            </div>


          </div>

        </div>
      </div>
      <!--Dashboard icons for MyUnit(RESIDENT) end-->
      <p><a (click)="openModal3(privacy)" style="color: #fff !important;font-size: 13px;">Privacy Policy</a></p>

    </div>

  </div>
  <!--rightBar start-->
  <!-- <app-right-bar></app-right-bar> -->
  <!--rightBar end-->
</div>




<ng-template #privacy>
  <div class="modal-header" style="background: #82808026;display: flex;justify-content: space-between;">
      <h4 class="modal-title" style="width: 100%">Notification</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="container-fluid" style="width:100%">
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#{{itm['admincollapse']}}"> 
        <div class="panel-heading">
          <h4 class="panel-title alfl" style="border-bottom: 1px solid #e3e0e0;">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{itm['admincollapse']}}" class="read"> 
              <img src="../../assets/images/notification_icons/mail.png"> 
              {{itm['adminReadStatus']}}
            </a>
            <span class="uni_name">{{itm['asAsnName']}}</span>
            <span class="days">{{itm['adminNtdCreated'] | dateAgo}}</span>
          </h4>
          <div class="alfl bg-grey">
            <span class="uni_name"><a class="green">Unit</a> {{itm['unUniName']}}</span>
            <span class="mob"><img src="../../assets/images/notification_icons/call.png">{{itm['ntMobile']}}</span>
            <span class="not-img">
              <img [src]="'data:image/png;base64,'+itm['ntUsrImg']" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
              <p>{{itm['ufName']}}</p>

            </span>
          </div>

        </div>
      </a>
        <div class="panel-collapse collapse">
          <div class="panel-body pb">
            <div class="not-detail">
              <div>
                <h4 style="color: red;">Current Status</h4>
                <p>Occupancy: <strong>{{itm['unOcStat']}}</strong></p>
                <p>Occupied By: <strong>{{itm['occupiedBy']}}</strong></p>
                <p>Owner Name: <strong>{{itm['ownername']}}</strong></p>
                <p>Mobile: <strong>{{itm['uMobile']}}</strong></p>
              </div>
              <div *ngIf="itm['ntJoinStatTmp']=='' && itm['ntJoinStat']=='' || ntJoinStatTmp2=='Accepted'">
                <span (click)="approve(itm['sbRoleID'], itm['sbMemID'], itm['sbUnitID'], itm['sbSubID'], itm['mrRolName'], itm['asAsnName'], itm['asAssnID'], itm['unSldDate'], itm['unOcSDate'], itm['acNotifyID'], itm['ntType'], itm['ntMobile'],itm['ntid'])" class="approve app-rej"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Approve</span>
              </div>
              <div *ngIf="itm['ntJoinStatTmp1']=='' && itm['ntJoinStat']=='' || ntJoinStatTmp2=='Rejected'">
                 <span (click)="rejectJoinRequest(itm['ntid'], itm['sbRoleID'], itm['sbSubID'], itm['asAssnID'], itm['mrRolName'], itm['asAsnName'], itm['sbUnitID'], itm['sbMemID'], itm['ntdCreated'], itm['unOcSDate'], itm['acAccntID'], itm['acNotifyID'])" class="reject app-rej"><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;Reject</span>
              </div>
              <div *ngIf="itm['ntJoinStatTmp']=='id' || itm['ntJoinStat']=='Accepted'">
                <span class="approve">Request Approved</span>
              </div>
              <div *ngIf="itm['ntJoinStatTmp1']=='id' || itm['ntJoinStat']=='Rejected'">
                <span class="reject">Request Rejected</span>
              </div>
            </div>
          </div>
        </div>
      </div>aa
          <!--PrivacyPolicy details part-->


      </div>
  </div>

</ng-template>