<div class="container-fluid np">
  <div class="col-sm-12 np mt-80">
    <!--Profile section-->
    <app-left-bar></app-left-bar>
    <!--Profile section-->
    <div class="col-xs-12 col-sm-12 col-md-11 b-l bg">
      <!--Dashboard icons for ADMIN start-->
      <div class="dash-main" *ngIf="role=='admin'">
        <div class="dash-shape">
          <div class="dash-tab">
            <span class="l-top">&nbsp;</span>
            <ul class="tabs group">
              <li (click)="AdminsUnitShow('resident')">
                <a data-toggle="tab" class="tab-ti">MY UNITS <img src="../../assets/images/notification_bell.png"><span class="not-count">{{ResidentActiveNotification}}</span></a> 
              </li>
              <li *ngIf="globalService.mrmroleId==1" style="float: right;" (click)="AdminsButtonShow('admin')" class="active right-tab">
                <a class="act-b tab-ti" data-toggle="tab">ADMIN <img src="../../assets/images/notification_bell.png"><span class="not-count">{{AdminActiveNotification}}</span></a> 
              </li>

            </ul>
          </div>
          <div class="col-md-12 dash dash-bg-1" style="border-radius: 24px 0px 24px 26px;height: 400px; overflow: scroll;">
            <div class="dash-row">
              <div class="panel-group" id="accordion">
                <input [(ngModel)]="searchAdminVisitorText" (keyup)="searchAdminVisitorList()" class="search" placeholder="search unit">
                <div class="panel panel-default" *ngFor="let itm of notificationListArray">
                    <a (click)="NotificationActiveStatusUpdate($event,itm['adminNtid'],'Join')" data-toggle="collapse" data-parent="#accordion" href="#{{itm['admincollapse']}}"> 
                  <div class="panel-heading">
                    <h4 class="panel-title alfl" style="border-bottom: 1px solid #e3e0e0;">
                      <a (click)="NotificationActiveStatusUpdate($event,itm['adminNtid'],'Join')" data-toggle="collapse" data-parent="#accordion" href="#{{itm['admincollapse']}}" class="read"> 
                        <img *ngIf="itm['adminReadStatus']=='Unread'" src="../../assets/images/notification_icons/mail.png"> 
                        <img *ngIf="itm['adminReadStatus']=='Read'" src="../../assets/images/notification_icons/mailopen.png"> 
                        {{itm['adminReadStatus']}}
                      </a>
                      <span class="uni_name">{{itm['asAsnName']}}</span>
                      <span class="days">{{itm['adminNtdCreated'] | dateAgo}}</span>
                    </h4>
                    <div class="alfl bg-grey">
                      <span class="uni_name"><a class="green">Unit</a> {{itm['unUniName']}}</span>
                      <span class="mob"><img src="../../assets/images/notification_icons/call.png">{{itm['ntMobile']}}</span>
                      <span class="not-img">
                        <img [src]="'data:image/png;base64,'+itm['ntUsrImg']" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
                        <p>{{itm['ufName']}}</p>

                      </span>
                    </div>

                  </div>
                </a>
                  <div id="{{itm['admincollapse']}}" class="panel-collapse collapse">
                    <div class="panel-body pb">
                      <div class="not-detail">
                        <div>
                          <h4 style="color: red;">Current Status</h4>
                          <p>Occupancy: <strong>{{itm['unOcStat']}}</strong></p>
                          <p>Occupied By: <strong>{{itm['occupiedBy']}}</strong></p>
                          <p>Owner Name: <strong>{{itm['ownername']}}</strong></p>
                          <p>Mobile: <strong>{{itm['uMobile']}}</strong></p>
                        </div>
                        <div *ngIf="itm['ntJoinStatTmp']=='' && itm['ntJoinStat']=='' || ntJoinStatTmp2=='Accepted'">
                          <span (click)="approve(itm['sbRoleID'], itm['sbMemID'], itm['sbUnitID'], itm['sbSubID'], itm['mrRolName'], itm['asAsnName'], itm['asAssnID'], itm['unSldDate'], itm['unOcSDate'], itm['acNotifyID'], itm['ntType'], itm['ntMobile'],itm['adminNtid'])" class="approve app-rej"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Approve</span>
                        </div>
                        <div *ngIf="itm['ntJoinStatTmp1']=='' && itm['ntJoinStat']=='' || ntJoinStatTmp2=='Rejected'">
                           <span (click)="rejectJoinRequest(itm['adminNtid'], itm['sbRoleID'], itm['sbSubID'], itm['asAssnID'], itm['mrRolName'], itm['asAsnName'], itm['sbUnitID'], itm['sbMemID'], itm['ntdCreated'], itm['unOcSDate'], itm['acAccntID'], itm['acNotifyID'])" class="reject app-rej"><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;Reject</span>
                        </div>
                        <div *ngIf="itm['ntJoinStatTmp']=='id' || itm['ntJoinStat']=='Accepted'">
                          <span class="approve">Request Approved</span>
                        </div>
                        <div *ngIf="itm['ntJoinStatTmp1']=='id' || itm['ntJoinStat']=='Rejected'">
                          <span class="reject">Request Rejected</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button (click)="openModal3(privacy)">NotificationPOPUP</button>
          </div>
        </div>

        <!---->
      </div>
      <!--Dashboard icons for ADMIN end-->


      <!--Dashboard icons for MyUnit(RESIDENT) start-->
      <div class="dash-main" *ngIf="role=='resident'">
        <div class="dash-shape">
          <div class="dash-tab">
            <span class="r-top">&nbsp;</span>
            <ul class="tabs group">
              <li (click)="AdminsUnitShow('resident')" class="active left-tab">
                <a class="act-a tab-ti" ata-toggle="tab">MY UNITS <img src="../../assets/images/notification_bell.png"><span class="not-count">{{ResidentActiveNotification}}</span></a> 
              </li>
              <li *ngIf="globalService.mrmroleId==1" (click)="AdminsButtonShow('admin')">
                <a class="tab-ti" data-toggle="tab">ADMIN <img src="../../assets/images/notification_bell.png"><span class="not-count">{{AdminActiveNotification}}</span></a> 
              </li>
            </ul>
          </div>
          <div class="col-md-12 dash dash-bg-1" style="border-radius: 0px 24px 26px 24px;height: 400px; overflow: scroll;">
            <div class="dash-row">

              <div class="panel-group" id="accordion">
                <input [(ngModel)]="searchVisitorText" (keyup)="searchVisitorList($event)" class="search" placeholder="search unit">
                <div class="panel-default" *ngFor="let item of ResidentNotificationListArray">
                 <a style="color: black !important;" (click)="NotificationActiveStatusUpdate($event,item['residentNtid'],'',item['vlApprdBy'])" data-toggle="collapse" data-parent="#accordion" href="#{{item['collapse']}}">
                  <div class="panel panel-default" *ngIf="item['NtType']!='Announcement'">
                    <!-- <a style="color: black !important;" (click)="NotificationActiveStatusUpdate($event,item['residentNtid'],'')" data-toggle="collapse" data-parent="#accordion" href="#{{item['collapse']}}"> -->
                  <div class="panel-heading">
                    <h4 class="panel-title alfl" style="border-bottom: 1px solid #e3e0e0;">
                      <a (click)="NotificationActiveStatusUpdate($event,item['residentNtid'],'')" data-toggle="collapse" data-parent="#accordion" href="#{{item['collapse']}}"> 
                        <img *ngIf="item['residentReadStatus']=='Unread'" src="../../assets/images/notification_icons/mail.png"> 
                        <img *ngIf="item['residentReadStatus']=='Read'" src="../../assets/images/notification_icons/mailopen.png"> 
                        {{item['residentReadStatus']}} 
                      </a>
                      <span>{{item['asAsnName']}}</span>
                      <span>{{item['residentNtdCreated'] | dateAgo}}</span>
                    </h4>
                    <div class="alfl bg-grey">
                      <span><a *ngIf="item['vlComName']!='Kid Exit'" class="green">{{item['vlComName']}}</a> {{item['vlVisType']}}</span>
                      <span *ngIf="item['unUniName']">Visiting <a class="green">{{item['unUniName']}}</a></span>
                      <span *ngIf="item['WrUniName']">Registration <a class="green">{{item['WrUniName']}}</a></span>
                      <span class="not-img">
                        <img [src]="item['visitorEntryImg']" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
                        <p *ngIf="item['vlfName']">{{item['vlfName']}}</p>
                        <p *ngIf="item['wkName']">{{item['wkName']}}</p>
                      </span>
                    </div>
                  </div>
                <!-- </a> -->
                  <div id="{{item['collapse']}}" class="panel-collapse collapse">
                    <div class="panel-body pb" style="margin-top: 20px;">
                      <div class="not-detail">
                        <!-- <div>
                          <div><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['vldCreated'] | date:'short'}}</span>
                            &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['vlengName']}}</span></div>
                          <div><span class="exitnot-title">Entry Approved by:&nbsp;</span>&nbsp;{{item['vlApprdBy']}}</div>
                          <div><span class="exitnot-title">Exit Approved by:&nbsp;</span>&nbsp;{{item['vlExAprdBy']}}&nbsp;&nbsp;<span
                              class="exitnot-title">From :</span>{{item['vlexgName']}}</div>
                          <div><span class="exitnot-title">Status:&nbsp;</span>&nbsp;{{item['vlApprStat']}}</div>
                          <div><span class="exitnot-title">Mobile:&nbsp;</span>&nbsp;{{item['vlMobile']}}</div>
                        </div> -->

                                                  <!-- "Staff Voisentry" template -->
                                                  <div *ngIf="item['vlVisType']=='Staff Voisentry'">
                                                    <div><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['residentNtdCreated'] | date:'medium'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['vlengName']}}</span></div>
                                                    <!-- <div><span class="exitnot-title">Entry Approved by:&nbsp;</span>&nbsp;{{item['vlApprdBy']}}</div> -->
                                                    <!-- <div><span class="exitnot-title">Exit Approved by:&nbsp;</span>&nbsp;{{item['vlExAprdBy']}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['vlexgName']}}</div> -->
                                                    <!-- <div><span class="exitnot-title">Status:&nbsp;</span>&nbsp;{{item['vlApprStat']}}</div> -->
                                                    <div><span class="exitnot-title">Mobile:&nbsp;</span>&nbsp;{{item['vlMobile']}}</div>
                                                    </div>
                                                  <!-- "Staff Voisentry" template -->

                                                  <!-- "Staff registration approve/reject" template -->
                                                    <div *ngIf="item['NtType']=='Staff Registration'">
                                                    <div *ngIf="item['ntDesc']"><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['ntDesc']}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> </div>
                                                    <!-- <div *ngIf="item['vlApprdBy']"><span class="exitnot-title">Entry Approved by:&nbsp;</span>&nbsp;{{item['vlApprdBy']}}</div> -->
                                                    <!-- <div *ngIf="item['vlExAprdBy']"><span class="exitnot-title">Exit on :&nbsp;</span>{{item['vlExitT'] | date:'shortTime'}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['vlexgName']}} &nbsp;&nbsp;<br> <span class="exitnot-title">Exit Approved by:&nbsp;</span>&nbsp;{{item['vlExAprdBy']}}</div> -->
                                                    <!-- <div><span class="exitnot-title">Status:&nbsp;</span>&nbsp;{{item['vlApprStat']}}</div> -->
                                                    <!-- <div><span class="exitnot-title">Mobile:&nbsp;</span>&nbsp;{{item['vlMobile']}}</div> -->
                                                    </div>
                                                  <!-- "Staff registration approve/reject" template -->
                                                  
                                                  <!-- "Staff Missed call Entry" template -->
                                                  <div *ngIf="item['vlVisType']=='Staff Missed call Entry'">
                                                    <div><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['residentNtdCreated'] | date:'medium'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['vlengName']}}</span></div>
                                                    <div *ngIf="item['vlApprdBy']"><span class="exitnot-title">Entry Approved by:&nbsp;</span>&nbsp;{{item['vlApprdBy']}}</div>
                                                    <div *ngIf="item['vlExAprdBy']"><span class="exitnot-title">Exit Approved by:&nbsp;</span>&nbsp;{{item['vlExAprdBy']}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['vlexgName']}}</div>
                                                    <div><span class="exitnot-title">Status:&nbsp;</span>&nbsp;{{item['vlApprStat']}}</div>
                                                    <div><span class="exitnot-title">Mobile:&nbsp;</span>&nbsp;{{item['vlMobile']}}</div>
                                                  </div>
                                                  <!-- "Staff Missed call Entry" template -->
                        
                        
                                                  <!-- "Delivery" template -->
                                                  <div *ngIf="item['vlVisType']=='Delivery'">
                                                    <div *ngIf="item['residentNtdCreated']"><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['residentNtdCreated'] | date:'medium'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['vlengName']}}</span></div>
                                                    <div *ngIf="item['vlApprdBy']"><span class="exitnot-title">Entry Approved by:&nbsp;</span>&nbsp;{{item['vlApprdBy']}}</div>
                                                    <div *ngIf="item['vlExAprdBy']"><span class="exitnot-title">Exit on :&nbsp;</span>{{item['residentNtdCreated'] | date:'mediumDate'}}&nbsp; {{item['vlExitT'] | date:'shortTime'}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['vlexgName']}} &nbsp;&nbsp;<br> <span class="exitnot-title">Exit Approved by:&nbsp;</span>&nbsp;{{item['vlExAprdBy']}}</div>
                                                    <div><span class="exitnot-title">Status:&nbsp;</span>&nbsp;{{item['vlApprStat']}}</div>
                                                    <div><span class="exitnot-title">Mobile:&nbsp;</span>&nbsp;{{item['vlMobile']}}</div>
                                                    </div>
                                                  <!-- "Delivery" template -->
                        
                                                  <!-- Guest with Invitation template -->
                                                <div *ngIf="item['vlVisType']=='Guest with Invitation'">
                                                  <div><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['residentNtdCreated'] | date:'mediumDate'}}&nbsp;{{item['visitorlog'] | date:'shortTime'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['vlengName']}}</span></div>
                                                  <div><span class="exitnot-title">Exit on :&nbsp;</span>{{item['residentNtdCreated'] | date:'mediumDate'}}&nbsp;{{item['vlExitT'] | date:'shortTime'}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['vlexgName']}} &nbsp;&nbsp;<br> </div>
                                                  <div><span class="exitnot-title">Mobile:&nbsp;</span>&nbsp;{{item['vlMobile']}}</div>    
                                                </div>
                                                <!-- Guest with Invitation template -->
                        
                                                  <!-- KID EXIT template -->
                                                <div *ngIf="item['vlVisType']=='Kid Exit'">
                                                  <div *ngIf="item['residentNtdCreated']"><span class="exitnot-title">Exit On:&nbsp;</span> &nbsp;<span>{{item['residentNtdCreated'] | date:'medium'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['vlengName']}}</span></div>
                                                  <div *ngIf="item['vlExAprdBy']"><span class="exitnot-title">Exit Approved by:&nbsp;</span>&nbsp;{{item['vlExAprdBy']}}</div>
                                                  <!-- <div><span class="exitnot-title">Status:&nbsp;</span>&nbsp;{{item['vlApprStat']}}</div> -->
                                                  <div><span class="exitnot-title">Mobile:&nbsp;</span>&nbsp;{{item['vlMobile']}}</div>
                                                </div>
                                                  <!-- KID EXIT template -->

                                                  <!-- Guest without Invitation template -->
                                                  <div *ngIf="item['vlVisType']=='Guest without Invitation'">
                                                    <div><span class="exitnot-title">Entry On:&nbsp;</span> &nbsp;<span>{{item['residentNtdCreated'] | date:'medium'}}</span> &nbsp;&nbsp;<span class="exitnot-title">From:&nbsp;</span> &nbsp;<span>{{item['vlengName']}}</span></div>
                                                    <div><span class="exitnot-title">Entry Approved by:&nbsp;</span>&nbsp;{{item['vlApprdBy']}}</div>
                                                    <!-- <div><span class="exitnot-title">Exit Approved by:&nbsp;</span>&nbsp;{{item['vlExAprdBy']}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['vlexgName']}}</div> -->
                                                    <div><span class="exitnot-title">Exit on :&nbsp;</span>{{item['vlExitT'] | date:'shortTime'}}&nbsp;&nbsp;<span class="exitnot-title">From :</span>{{item['vlexgName']}} &nbsp;&nbsp;</div>
                                                    <div><span class="exitnot-title">Status:&nbsp;</span>&nbsp;{{item['vlApprStat']}}</div>
                                                    <div><span class="exitnot-title">Mobile:&nbsp;</span>&nbsp;{{item['vlMobile']}}</div>
                                                  </div>
                                                  <!-- Guest without Invitation template -->


                         <!-- <div>
                          <span (click)="acceptgateVisitor(item['vlVisLgID'], item['asAssnID'], 'Entry Approved', item['vlApprdBy'])" class="approve app-rej"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Allow</span>
                        </div>
                        <div>
                           <span (click)="acceptgateVisitor(item['vlVisLgID'], item['asAssnID'], 'Exit Approved', item['vlApprdBy'])" class="reject app-rej"><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;Deny</span>
                        </div> -->

                        
                        <!-- "Staff registration approve/reject"  -->
                          <div *ngIf="item['NtType']=='Staff Registration'">
                            <span (click)="staffRegistration(item['residentNtid'],'Approved')"
                              class="approve app-rej"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Approv</span>
                          </div>
                          <div *ngIf="item['NtType']=='Staff Registration'">
                            <span (click)="staffRegistration(item['residentNtid'],'Rejected')"
                              class="reject app-rej"><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;Reject</span>
                          </div>
                        <!-- "Staff registration approve/reject"  -->


                        <div *ngIf="item['vlVisType']!='Staff Voisentry'">
                        <div *ngIf="item['vlVisType']!='Guest with Invitation'">

                        <div *ngIf="item['vlApprStat']=='Entry Pending' || item['vlApprStat']=='Exit Pending'">
                          <div *ngIf="item['vlApprStat']=='Entry Pending'">
                          <div *ngIf="changeViewOfActionButton">
                            <span (click)="acceptgateVisitor(item['vlVisLgID'], item['asAssnID'], 'Entry Approved', item['vlApprdBy'])"
                              class="approve app-rej"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Allow</span>
                          </div>
                        </div>

                        <div *ngIf="item['vlApprStat']=='Exit Pending'">
                          <div *ngIf="changeViewOfActionButton">
                            <span (click)="acceptgateVisitor(item['vlVisLgID'], item['asAssnID'], 'Exit Approved', item['vlApprdBy'])"
                              class="approve app-rej"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Allow</span>
                          </div>
                        </div>
                        </div>

                        <div *ngIf="item['vlApprStat']=='Entry Pending' || item['vlApprStat']=='Exit Pending'">
                          <div *ngIf="changeViewOfActionButton">
                            <span (click)="acceptgateVisitor(item['vlVisLgID'], item['asAssnID'], 'Entry Rejected', item['vlApprdBy'])"
                              class="reject app-rej"><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;Deny</span>
                          </div>
                        </div>
                        </div>
                      </div>

                      </div>
                    </div>
                  </div>
                </div>
              </a>
                <div *ngIf="item['NtType']=='Announcement'" class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title alfl">
                      <a data-toggle="collapse" data-parent="#accordion" href="#{{item['collapse']}}" (click)="announcementData(item['asAssnID'],item['acNotifyID'])"> <img
                          src="../../assets/images/icons/speaker.png">
                      </a>
                    </h4>
                    <span>test</span>
                  </div>
                  <div id="{{item['collapse']}}" class="panel-collapse collapse">
                    <div class="panel-body pb">
                      <div class="not-detail">
                        <div class="col-sm-12">
                          <div style="height: 100px;background-color: aliceblue;">
                              <img *ngIf="image1" [src]="image1" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
                              <img *ngIf="image1" [src]="image1" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
                              <img *ngIf="image1" [src]="image1" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
                              <img *ngIf="image1" [src]="image1" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
                          </div>
                          message
                          <button (click)="buttonPress()">PressMe</button>
                          <p><a (click)="openModal3(privacy)" style="color: #fff !important;font-size: 13px;">Privacy Policy</a></p>
                          <input style="width: 800px;height: 50px;border-color: red;" type="text" [(ngModel)]="item['ntDesc']" disabled/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>

            </div>


          </div>

        </div>
      </div>
      <!--Dashboard icons for MyUnit(RESIDENT) end-->
      <p><a (click)="openModal3(privacy)" style="color: #fff !important;font-size: 13px;">Privacy Policy</a></p>

    </div>

  </div>
  <!--rightBar start-->
  <!-- <app-right-bar></app-right-bar> -->
  <!--rightBar end-->
</div>




<ng-template #privacy>
  <div class="modal-header" style="background: #82808026;display: flex;justify-content: space-between;">
      <h4 class="modal-title" style="width: 100%">Privacy Policy</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="container-fluid" style="width:100%">
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#accordion" href="#{{itm['admincollapse']}}"> 
        <div class="panel-heading">
          <h4 class="panel-title alfl" style="border-bottom: 1px solid #e3e0e0;">
            <a data-toggle="collapse" data-parent="#accordion" href="#{{itm['admincollapse']}}" class="read"> 
              <img src="../../assets/images/notification_icons/mail.png"> 
              {{itm['adminReadStatus']}}
            </a>
            <span class="uni_name">{{itm['asAsnName']}}</span>
            <span class="days">{{itm['adminNtdCreated'] | dateAgo}}</span>
          </h4>
          <div class="alfl bg-grey">
            <span class="uni_name"><a class="green">Unit</a> {{itm['unUniName']}}</span>
            <span class="mob"><img src="../../assets/images/notification_icons/call.png">{{itm['ntMobile']}}</span>
            <span class="not-img">
              <img [src]="'data:image/png;base64,'+itm['ntUsrImg']" width="70px" height="70px" onerror="this.src='../../assets/images/notification_icons/user-default.png';" />
              <p>{{itm['ufName']}}</p>

            </span>
          </div>

        </div>
      </a>
        <div class="panel-collapse collapse">
          <div class="panel-body pb">
            <div class="not-detail">
              <div>
                <h4 style="color: red;">Current Status</h4>
                <p>Occupancy: <strong>{{itm['unOcStat']}}</strong></p>
                <p>Occupied By: <strong>{{itm['occupiedBy']}}</strong></p>
                <p>Owner Name: <strong>{{itm['ownername']}}</strong></p>
                <p>Mobile: <strong>{{itm['uMobile']}}</strong></p>
              </div>
              <div *ngIf="itm['ntJoinStatTmp']=='' && itm['ntJoinStat']=='' || ntJoinStatTmp2=='Accepted'">
                <span (click)="approve(itm['sbRoleID'], itm['sbMemID'], itm['sbUnitID'], itm['sbSubID'], itm['mrRolName'], itm['asAsnName'], itm['asAssnID'], itm['unSldDate'], itm['unOcSDate'], itm['acNotifyID'], itm['ntType'], itm['ntMobile'],itm['adminNtid'])" class="approve app-rej"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Approve</span>
              </div>
              <div *ngIf="itm['ntJoinStatTmp1']=='' && itm['ntJoinStat']=='' || ntJoinStatTmp2=='Rejected'">
                 <span (click)="rejectJoinRequest(itm['adminNtid'], itm['sbRoleID'], itm['sbSubID'], itm['asAssnID'], itm['mrRolName'], itm['asAsnName'], itm['sbUnitID'], itm['sbMemID'], itm['ntdCreated'], itm['unOcSDate'], itm['acAccntID'], itm['acNotifyID'])" class="reject app-rej"><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;Reject</span>
              </div>
              <div *ngIf="itm['ntJoinStatTmp']=='id' || itm['ntJoinStat']=='Accepted'">
                <span class="approve">Request Approved</span>
              </div>
              <div *ngIf="itm['ntJoinStatTmp1']=='id' || itm['ntJoinStat']=='Rejected'">
                <span class="reject">Request Rejected</span>
              </div>
            </div>
          </div>
        </div>
      </div>aa
          <!--PrivacyPolicy details part-->


      </div>
  </div>

</ng-template>